Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

fix(git): use modern apt config
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

chore: migration
  .eslintrc.cjs
Due: eslint --fix, prettier --write

fix(git): use modern apt config (#3350)
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

Notes added by 'git notes add'
  d7bc1c559fa6a1d995849616de53d24ecd74aef5
Due: none

fix(dotnet): use right user and group while extracting
  src/cli/services/compression.service.ts
  src/cli/tools/dotnet.ts
  test/dotnet/Dockerfile
Due: eslint --fix, prettier --write

chore: drop commented code
  src/cli/tools/dotnet.ts
Due: eslint --fix, prettier --write

fix: set perms for extracted files
  src/cli/services/compression.service.ts
  src/cli/tools/dotnet.ts
Due: eslint --fix, prettier --write

fix: set perms for extracted files (#3357)
  src/cli/services/compression.service.ts
  src/cli/tools/dotnet.ts
  test/dotnet/Dockerfile
Due: eslint --fix, prettier --write

feat!: switch default userid to `12021`
  docs/custom-base-image.md
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/bash/filesystem.bats
  test/bash/util.sh
  test/bash/v2/filesystem.bats
  test/dart/Dockerfile
  test/dotnet/Dockerfile
  test/erlang/Dockerfile
  test/flutter/Dockerfile
  test/flux/Dockerfile
  test/golang/Dockerfile
  test/helm/Dockerfile
  test/java/Dockerfile
  test/jb/Dockerfile
  test/latest/Dockerfile
  test/nix/Dockerfile
  test/node/Dockerfile
  test/php/Dockerfile
  test/powershell/Dockerfile
  test/python/Dockerfile
  test/ruby/Dockerfile
  test/rust/Dockerfile
  test/swift/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  d152d5b62da41ecd12f75f8a6de1c522e3fc8932
Due: none

fix(php)!: drop `getcomposer.org` download support (#3320)
  docs/custom-registries.md
  src/cli/tools/php/composer.ts
Due: eslint --fix, prettier --write

fix(flutter)!: drop install from source method (#3319)
  docs/custom-registries.md
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

fix!: drop obsolete scripts (#3073)
  src/usr/local/containerbase/utils/java.sh
  src/usr/local/containerbase/utils/node.sh
  src/usr/local/containerbase/utils/python.sh
  test/bash/java.bats
Due: shellcheck

feat(nix)!: drop install support from `hydra.nixos.org`
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

feat(nix)!: drop install support from `hydra.nixos.org` (#3358)
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

feat!: switch default userid to `12021` (#3351)
  docs/custom-base-image.md
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/bash/filesystem.bats
  test/bash/util.sh
  test/bash/v2/filesystem.bats
  test/dart/Dockerfile
  test/dotnet/Dockerfile
  test/erlang/Dockerfile
  test/flutter/Dockerfile
  test/flux/Dockerfile
  test/golang/Dockerfile
  test/helm/Dockerfile
  test/java/Dockerfile
  test/jb/Dockerfile
  test/latest/Dockerfile
  test/nix/Dockerfile
  test/node/Dockerfile
  test/php/Dockerfile
  test/powershell/Dockerfile
  test/python/Dockerfile
  test/ruby/Dockerfile
  test/rust/Dockerfile
  test/swift/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

chore: prettier
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

feat!: coerce caches
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/sbt.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  test/erlang/Dockerfile
  test/swift/Dockerfile
Due: shellcheck

feat!: coerce caches (#3347)
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/sbt.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  test/erlang/Dockerfile
  test/swift/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  ae9bbb9264a0b5865af571613f55dcba9473902f
Due: none

Notes added by 'git notes add'
  a22434472f39ceaf31386628663655a17fd5abd6
Due: none

chore(renovate): configure base branches
  renovate.json
Due: none

chore: update tests
  test/dart/Dockerfile
Due: none

feat!: update ubuntu to 24.04
  Dockerfile
  test/Dockerfile.distro
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
