Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

Apply suggestions from code review
  docs/custom-registries.md
  src/cli/tools/gleam.ts
Due: eslint --fix, prettier --ignore-unknown --write

ci: run arm64 tests on macOS
  .github/workflows/build.yml
  docker-bake.hcl
Due: prettier --ignore-unknown --write

ci: fix job name
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

ci: don't cache build
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

ci: install docker on mac
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

ci: update docker install
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

ci: testing
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

chore: prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier --ignore-unknown --write

feat!: support readonly root filesystem
  docs/custom-base-image.md
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/services/path.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/flutter.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/sbin/install-containerbase
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: missing executable bits
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/sbin/install-containerbase
Due: shellcheck, prettier --ignore-unknown --write

fix: update path handling
  .vscode/settings.json
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  test/bash/cache.bats
  test/bash/environment.bats
  test/bash/filesystem.bats
  test/bash/java.bats
  test/bash/linking.bats
  test/bash/prepare.bats
  test/bash/util.bats
  test/bash/util.sh
  test/bash/v2/defaults.bats
  test/bash/v2/filesystem.bats
  test/bash/version.bats
Due: shellcheck, prettier --ignore-unknown --write

test: validate bats files with shellcheck
  .github/workflows/build.yml
  .lintstagedrc.json
  .vscode/settings.json
  test/bash/cache.bats
  test/bash/environment.bats
  test/bash/filesystem.bats
  test/bash/java.bats
  test/bash/linking.bats
  test/bash/prepare.bats
  test/bash/util.bats
  test/bash/util.sh
  test/bash/v2/defaults.bats
  test/bash/v2/filesystem.bats
  test/bash/version.bats
Due: shellcheck, prettier --ignore-unknown --write

test: validate bats files with shellcheck (#2092)
  .github/workflows/build.yml
  .lintstagedrc.json
  .vscode/settings.json
  test/bash/cache.bats
  test/bash/environment.bats
  test/bash/filesystem.bats
  test/bash/java.bats
  test/bash/linking.bats
  test/bash/prepare.bats
  test/bash/util.bats
  test/bash/util.sh
  test/bash/v2/defaults.bats
  test/bash/v2/filesystem.bats
  test/bash/version.bats
Due: shellcheck, prettier --ignore-unknown --write

chore: migrate husky
  .husky/pre-commit
  package.json
Due: shellcheck, prettier --ignore-unknown --write

ci: use ttl.sh to cache base image
  .github/workflows/build.yml
  docker-bake.hcl
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4e83f106c0c8b9af3869fe7ec4acb11f4ab4ef39
Due: prettier --ignore-unknown --write

test: use base image
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: prettier --ignore-unknown --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

ci: fix codecov token
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  074514ea83b59d04315a27dff8e17201d0a1fa0b
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  70edae9d6c0b98c558ab54e1a7b966476ecf4d33
Due: prettier --ignore-unknown --write

refactor: apply code review requests
  src/cli/tools/gleam.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update src/cli/tools/gleam.ts
  src/cli/tools/gleam.ts
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
