Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  760cbfbefcf0857f7ccb43d014fd3fc73f832293
Due: none

Notes added by 'git notes add'
  f659387b1db3231aa9326ba601d65813f512e521
Due: none

Notes added by 'git notes add'
  135d6b14fa46a7452a60895834f601f3a453dfae
Due: none

Notes added by 'git notes add'
  dfbd0eb1e367f8c2e8b2cca99c5fc003eae5ece4
Due: none

feat: add aube
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/aube.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/latest/src/test/aube/package.json
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  1768caf968bbcf2e52b02f1633ff1b27461cf740
Due: none

Notes added by 'git notes add'
  91be59a7b9b662d552fc543ec601db5a291f76a2
Due: none

Notes added by 'git notes add'
  2cb29dc436ea843b886e5f89dc33c2ad94861360
Due: none

test: improve robustness of Yarn tests
  test/node/Dockerfile
  test/node/Dockerfile.arm64
Due: none

Notes added by 'git notes add'
  e77f6fd4e571cc5b395f24646c2e1f4a10af42ba
Due: none

Notes added by 'git notes add'
  3dd7b9ee0cf8eb84c361c751deb2bc9bfa622bba
Due: none

docs: explain how to add a new Tool
  README.md
  docs/new-tool.md
Due: markdownlint-cli2 --fix, prettier --write

build: update transitive deps
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  87d365cfd580f98707f508d8a4a7150fb2e70fd6
Due: none

docs: explain how to add a new Tool (#7215)
  README.md
  docs/new-tool.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  ce2d874a0718c440386ab22980fbfaab3ece4fb0
Due: none

Notes added by 'git notes add'
  449e981ef57ba86960cfd2a0f7b9f7d97b0987c1
Due: none

Notes added by 'git notes add'
  0c55b44989b6339505fb2794bcec5acb7c277505
Due: none

Notes added by 'git notes add'
  5868bab12a438914d3a39643f258c4409b75d38d
Due: none

Notes added by 'git notes add'
  fb244a45a499025b7d43ebc51b9afcef36d73afa
Due: none

feat: add support for GitHub CLI `gh`
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/gh.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fixup! feat: add support for GitHub CLI `gh`
  .github/renovate.json
  test/latest/Dockerfile
Due: none

fixup! fixup! feat: add support for GitHub CLI `gh`
  .github/renovate.json
Due: none

feat: add support for GitHub CLI `gh` (#7278)
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/gh.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  067d89090e1dcd982ad8d2eab9159ad2ab4483d4
Due: none

feat: update aube to v1.41.0
  docs/custom-registries.md
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  cbf48c793e758a244e5889b400d8d55c3fa6faa5
Due: none

Notes added by 'git notes add'
  d2e6ddb2a9178803679fcafae55639e72e391623
Due: none

Notes added by 'git notes add'
  04837f6b640f707fcd4cecafbb076669990ef9bc
Due: none

Notes added by 'git notes add'
  d90f07b8f2ea992e366cf47e064a9cb0b072bfbf
Due: none

feat(tools): add Vite+ installer
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/vp.spec.ts
  src/cli/tools/vp.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  0d790812ded123375ad193ab3a930723376cd319
Due: none

Notes added by 'git notes add'
  ee7e54172b45e8c7e16f1c9d0b4d71564f0afcee
Due: none

Notes added by 'git notes add'
  f42cc656a88c845f41ace7dbdf021555a53d8983
Due: none

fix: add path validation in cleanup-path.ts
  src/cli/command/cleanup-path.ts
Due: prettier --write, eslint --fix

fix: validate aube checksum
  src/cli/tools/aube.ts
Due: prettier --write, eslint --fix

fix: remove WORKDIR and condense Dockerfiles
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: none

fix: install a dependency with aube
  test/latest/src/test/aube/package.json
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
