Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

Update README.md
  README.md
Due: none

Setting conan profile in prepare_tool step
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

Notes added by 'git notes add'
  d9cdfa306a062064955b5fa86a28578f8c545a9c
Due: none

Notes added by 'git notes add'
  76ea11bfa3214d2d9616532e99dde564e04a8d18
Due: none

feat(node): support yarn v2+
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

feat(node): support yarn v2+ (#2535)
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

Update src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

ci: don't fail fast
  .github/workflows/build.yml
Due: none

fix: revert last change
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

ci: don't fail fast (#2537)
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  2e1a2df6b7599d332e194c15dffb5f44cbff5bf6
Due: none

feat: support ubuntu noble (24.04) (#2442)
  .github/workflows/build.yml
  src/cli/tools/dotnet/index.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/php.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/util.sh
  test/Dockerfile.noble
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  edcfc0a26af6b2064595c47f4dced40426f1c50c
Due: none

test: fix typo
  test/Dockerfile.jammy
  test/Dockerfile.noble
Due: none

Add support for Ubuntu Noble and other improvements after review
  src/usr/local/containerbase/tools/v2/conan.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: shellcheck

Notes added by 'git notes add'
  3cefd15c784c6a233815e4bfedcf06214f84b322
Due: none

Notes added by 'git notes add'
  f98678d0572dbe33e4a87af5c3730c6a1f311ba3
Due: none

chore: fix eslint config
  .eslintrc.cjs
Due: eslint --fix, prettier --write

fix: migrate tar
  package.json
  pnpm-lock.yaml
  src/cli/services/compression.service.ts
Due: eslint --fix, prettier --write

test: fix order and support yarn major
  test/Dockerfile.jammy
  test/Dockerfile.noble
Due: none

Update test/Dockerfile.noble
  test/Dockerfile.noble
Due: none

test: fix test mocking
  src/cli/services/compression.service.spec.ts
Due: eslint --fix, prettier --write

Install recent version of Docker and buildx plugin
  README.md
Due: none

List pnpm build command
  README.md
Due: none

In conan profile use standard library with new ABI (for C++11 and later)
  src/usr/local/containerbase/tools/v2/conan.sh
Due: shellcheck

Replace jammy with noble
  README.md
Due: none

chore: lint fix
  package.json
Due: none

feat(conan): Add conan support (#2452)
  docs/custom-registries.md
  renovate.json
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/utils/python.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/python/test/b-conan/conanfile.txt
Due: shellcheck

Show noble and jammy, add sub-headings
  README.md
Due: none

Run prettier-fix
  README.md
Due: none

docs: improve readme (#2518)
  README.md
Due: none

Notes added by 'git notes add'
  f1d5ae6d8267463a9e670757430fc4a0c85db328
Due: none

Notes added by 'git notes add'
  5ad195e2ffc3dc95ac5f99fc75dc1cec2fd50fa2
Due: none

Notes added by 'git notes add'
  74fd238f43f222f2212daf16946bb7e309ce79d0
Due: none

Notes added by 'git notes add'
  16ed9b37294cdeb923a89d7a3ef23494d211100f
Due: none

chore(renovate): automerge sbt
  renovate.json
Due: none

Notes added by 'git notes add'
  9079604cb11c2d4509fed0f19eccc2438e5ed1ed
Due: none

Notes added by 'git notes add'
  c00df649ea42c2eef908fcd7c5de4d9e553dd614
Due: none

Notes added by 'git notes add'
  cc8cc33e0a797a2cf54759594b0e26a850865f82
Due: none
