Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(ruby): honour CONTAINERBASE_CDN_GEM for gem installs
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
Due: prettier --write, eslint --fix

feat: show tool-specific version notes in the install-tool help (#7632)
  docs/tools.md
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/node/resolver.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: resolve partial pip, poetry and nuget versions to the newest matching release (#7635)
  docs/tools.md
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-pip.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/dotnet/nuget.spec.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/python/pip.spec.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.spec.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
  test/Dockerfile.distro
  test/python/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(node): resolve partial npm tool versions to the newest matching release (#7633)
  README.md
  docs/tools.md
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/resolver.spec.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/schema.ts
  src/cli/utils/versions.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(cocoapods): install activesupport from the configured gem registry
  src/cli/tools/ruby/cocoapods.spec.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/utils.ts
Due: prettier --write, eslint --fix

fix(python): honour the pip index for pip tool installs
  src/cli/tools/python/index.ts
  src/cli/tools/python/utils.spec.ts
  src/cli/tools/python/utils.ts
Due: prettier --write, eslint --fix

docs: list all package manager tools in the custom registries docs and lint them
  .github/workflows/build.yml
  docs/custom-registries.md
  package.json
  tools/lint-docs.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(ruby): honour CONTAINERBASE_CDN_GEM for gem installs (#7642)
  src/cli/tools/ruby/cocoapods.spec.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
Due: prettier --write, eslint --fix

docs: list all package manager tools in the custom registries docs and lint them (#7644)
  .github/workflows/build.yml
  docs/custom-registries.md
  package.json
  tools/lint-docs.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(python): honour the pip index for pip tool installs (#7643)
  src/cli/tools/python/index.ts
  src/cli/tools/python/utils.spec.ts
  src/cli/tools/python/utils.ts
Due: prettier --write, eslint --fix

chore: replace eslint with oxlint
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .lintstagedrc.json
  .oxlintrc.json
  .vscode/extensions.json
  AGENTS.md
  docs/new-tool.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/main.ts
  src/cli/utils/logger.ts
  tools/lint/rules.ts
  tools/lint/rules/__fixtures__/no-undeclared-dependencies/package.json
  tools/lint/rules/enforce-ts-extension.spec.ts
  tools/lint/rules/enforce-ts-extension.ts
  tools/lint/rules/enum-member-pascal-case.spec.ts
  tools/lint/rules/enum-member-pascal-case.ts
  tools/lint/rules/no-undeclared-dependencies.spec.ts
  tools/lint/rules/no-undeclared-dependencies.ts
  tools/lint/rules/organize-imports.spec.ts
  tools/lint/rules/organize-imports.ts
  tools/lint/rules/test-root-describe.spec.ts
  tools/lint/rules/test-root-describe.ts
  tsconfig.lint.json
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

chore: replace eslint with oxlint (#7645)
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .lintstagedrc.json
  .oxlintrc.json
  .vscode/extensions.json
  AGENTS.md
  docs/new-tool.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/main.ts
  src/cli/utils/logger.ts
  tools/lint/rules.ts
  tools/lint/rules/__fixtures__/no-undeclared-dependencies/package.json
  tools/lint/rules/enforce-ts-extension.spec.ts
  tools/lint/rules/enforce-ts-extension.ts
  tools/lint/rules/enum-member-pascal-case.spec.ts
  tools/lint/rules/enum-member-pascal-case.ts
  tools/lint/rules/no-undeclared-dependencies.spec.ts
  tools/lint/rules/no-undeclared-dependencies.ts
  tools/lint/rules/organize-imports.spec.ts
  tools/lint/rules/organize-imports.ts
  tools/lint/rules/test-root-describe.spec.ts
  tools/lint/rules/test-root-describe.ts
  tsconfig.lint.json
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  17257f8070b52c5515810c9bbaecddd15c84feca
Due: none

docs: allow force pushes for gh stack layers in the agent instructions
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: allow force pushes for gh stack layers in the agent instructions (#7647)
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: don't pass a merge strategy when enabling auto merge
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: don't pass a merge strategy when enabling auto merge (#7648)
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  8cf2ad486ab17c03e26ed920e60b263325d8d2d4
Due: none

feat: store the tool databases in sqlite
  docs/databases.md
  package.json
  pnpm-lock.yaml
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/nedb.spec.ts
  src/cli/services/nedb.ts
  src/cli/services/parent.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

chore(renovate): ignore test fixtures
  .github/renovate.json
Due: none

chore: use the shared containerbase oxlint plugin
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/lint/rules.ts
  tools/lint/rules/__fixtures__/no-undeclared-dependencies/package.json
  tools/lint/rules/enforce-ts-extension.spec.ts
  tools/lint/rules/enforce-ts-extension.ts
  tools/lint/rules/enum-member-pascal-case.spec.ts
  tools/lint/rules/enum-member-pascal-case.ts
  tools/lint/rules/no-undeclared-dependencies.spec.ts
  tools/lint/rules/no-undeclared-dependencies.ts
  tools/lint/rules/organize-imports.spec.ts
  tools/lint/rules/organize-imports.ts
  tools/lint/rules/test-root-describe.spec.ts
  tools/lint/rules/test-root-describe.ts
Due: prettier --write, eslint --fix

chore(renovate): ignore test fixtures (#7655)
  .github/renovate.json
Due: none

chore: use the shared containerbase oxlint plugin (#7657)
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/lint/rules.ts
  tools/lint/rules/__fixtures__/no-undeclared-dependencies/package.json
  tools/lint/rules/enforce-ts-extension.spec.ts
  tools/lint/rules/enforce-ts-extension.ts
  tools/lint/rules/enum-member-pascal-case.spec.ts
  tools/lint/rules/enum-member-pascal-case.ts
  tools/lint/rules/no-undeclared-dependencies.spec.ts
  tools/lint/rules/no-undeclared-dependencies.ts
  tools/lint/rules/organize-imports.spec.ts
  tools/lint/rules/organize-imports.ts
  tools/lint/rules/test-root-describe.spec.ts
  tools/lint/rules/test-root-describe.ts
Due: prettier --write, eslint --fix

fix(vp): follow the tool installer conventions
  packages/base/data/tools.json
  packages/base/src/data.ts
  src/cli/tools/node/vp.spec.ts
  src/cli/tools/node/vp.ts
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/sync-versions.mjs
Due: prettier --write, eslint --fix

docs(vp): mention the minimum version and the checksum file
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

chore(renovate): automerge docker-compose minor
  .github/renovate.json
Due: none

feat(tools): install Vite+ releases (#7338)
  .github/renovate.json
  docs/custom-registries.md
  packages/base/data/tools.json
  packages/base/src/data.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/vp.spec.ts
  src/cli/tools/node/vp.ts
  test/Dockerfile.distro
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/sync-versions.mjs
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

ci: skip the build for changes that don't affect the images
  .github/workflows/build.yml
Due: none

chore(renovate): automerge docker-compose minor (#7663)
  .github/renovate.json
Due: none

chore(deps): override vulnerable transitive dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: clear the build cache before retrying a bake
  .github/actions/bake/action.yml
Due: none

chore(deps): override vulnerable transitive dependencies (#7664)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: skip the build for changes that don't affect the images (#7665)
  .github/workflows/build.yml
Due: none

ci: clear the build cache before retrying a bake (#7666)
  .github/actions/bake/action.yml
Due: none

ci: cache tool downloads of the container tests in a local proxy
  .github/actions/download-proxy/action.yml
  .github/actions/download-proxy/allowed-hosts.map
  .github/actions/download-proxy/errors.sh
  .github/actions/download-proxy/nginx.conf
  .github/workflows/build.yml
  test/node/Dockerfile
Due: shellcheck

ci: show the download proxy cache stats in the job summary
  .github/actions/download-proxy/nginx.conf
  .github/actions/download-proxy/stats.sh
  .github/workflows/build.yml
Due: shellcheck

Notes added by 'git notes add'
  79f67afa61856845e1e0ff2a0134504bd5dc2eeb
Due: none

ci: print the download proxy cache stats to the job log too
  .github/actions/download-proxy/stats.sh
Due: shellcheck

ci: list the download proxy hosts and add a local proxy test
  .github/actions/download-proxy/nginx.conf
  .github/actions/download-proxy/stats.sh
  .github/actions/download-proxy/test.sh
Due: shellcheck

ci: cache tool downloads of the container tests in a local proxy (#7670)
  .github/actions/download-proxy/action.yml
  .github/actions/download-proxy/allowed-hosts.map
  .github/actions/download-proxy/errors.sh
  .github/actions/download-proxy/nginx.conf
  .github/actions/download-proxy/stats.sh
  .github/actions/download-proxy/test.sh
  .github/workflows/build.yml
  test/node/Dockerfile
Due: shellcheck

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
