Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

test: update tests for node 20 LTS plus node 16 EOL
  README.md
  docs/custom-base-image.md
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/node/Dockerfile
  test/node/Dockerfile.arm64
Due: prettier --ignore-unknown --write

test(node): allow newer re2 in tests
  test/node/test/a/package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  64/facabc8959d5a28d9271e66fc4301a6b79e7db
Due: prettier --ignore-unknown --write

fix(java): relax semver validation
  src/usr/local/containerbase/util.sh
  test/bash/util.bats
  test/java/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

fix(java): relax semver validation (#1685)
  src/usr/local/containerbase/util.sh
  test/bash/util.bats
  test/java/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  11/d23352db6a5e13bb21593b8284744f7348c515
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  00/b0612516383b900cb0eba5d637db8fbf4e0eac
Due: prettier --ignore-unknown --write

fix(node): better error handling
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  18/7258048fd0c23805d93612833eef78868de0d5
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  da/cb051255d930f2f0cd6c4fa074efdfba83b338
Due: prettier --ignore-unknown --write

fix: remove tool dir on error
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  52/b49db98e21f87467afcb029a1ec6ca093e24df
Due: prettier --ignore-unknown --write

test: add psycopg2 package
  test/python/test/h-pipenv/Pipfile
  test/python/test/h-pipenv/Pipfile.lock
Due: prettier --ignore-unknown --write

feat: install base dependencies
  src/usr/local/containerbase/tools/v2/python.sh
Due: shellcheck, prettier --ignore-unknown --write

style: prettier
  test/python/test/h-pipenv/Pipfile.lock
Due: prettier --ignore-unknown --write

feat(python): Add libmysqlclient-dev libpq-dev for Python (#1714)
  src/usr/local/containerbase/tools/v2/python.sh
  test/python/test/h-pipenv/Pipfile
  test/python/test/h-pipenv/Pipfile.lock
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  ab/33077009e2254bc9e9a9d09147119e8b50ac6e
Due: prettier --ignore-unknown --write

test: drop dotnet tests < 6
  test/dotnet/Dockerfile
Due: prettier --ignore-unknown --write

test: fix re2 version
  test/node/test/a/package.json
Due: prettier --ignore-unknown --write

feat(tools): add bazelisk
  src/cli/install-tool/index.ts
  src/cli/tools/bazelisk/index.ts
  src/cli/tools/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

test(node): update tests for v20 LTS plus v16 EOL (#1663)
  README.md
  docs/custom-base-image.md
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/test/a/package.json
Due: prettier --ignore-unknown --write

feat(tools): add tests for bazelisk
  test/Dockerfile.jammy
  test/latest/Dockerfile.arm64
Due: prettier --ignore-unknown --write

feat(tools): make bazel symlink absolut
  src/cli/tools/bazelisk/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: fix tests
  test/flutter/test/d/pubspec.lock
  test/flutter/test/d/pubspec.yaml
Due: prettier --ignore-unknown --write

build: use pnpm
  .devcontainer/devcontainer.json
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .husky/pre-commit
  .npmrc
  .prettierignore
  .releaserc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .yarn/patches/clipanion-npm-3.2.1-fc9187f56c.patch
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnclean
  .yarnrc.yml
  README.md
  package.json
  pnpm-lock.yaml
  tools/prepare-release.js
  tools/test.js
  yarn.lock
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore: change prettier plugin
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  test/node/test/b/package.json
Due: prettier --ignore-unknown --write

build: fix deps
  package.json
  patches/clipanion@3.2.1.patch
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: drop node v19 support
  package.json
Due: prettier --ignore-unknown --write

chore: fix formatting
  test/nix/test/flake.lock
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  37/2c9eeac6da0a0028049c1ef1c79fde3ccf09da
Due: prettier --ignore-unknown --write

build: switch pkg package
  package.json
  pnpm-lock.yaml
  tools/esbuild.js
Due: eslint --fix, prettier --ignore-unknown --write

build: use no bytecode for repeatable builds
  tools/esbuild.js
Due: eslint --fix, prettier --ignore-unknown --write

fix: print node version
  src/cli/main.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  6c/0d538641893c1335e72d39d437df508136c5df
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  src/cli/tools/bazelisk/index.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --ignore-unknown --write

test: add test
  test/latest/Dockerfile
Due: prettier --ignore-unknown --write

Update test/latest/Dockerfile.arm64
  test/latest/Dockerfile.arm64
Due: prettier --ignore-unknown --write

feat(tools): add bazelisk (#1737)
  src/cli/install-tool/index.ts
  src/cli/tools/bazelisk/index.ts
  src/cli/tools/index.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  0b/8d2e8fb2bd2339fe092a93a36a5a1d039442d9
Due: prettier --ignore-unknown --write
