Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

fix: revert pkg downgrade
  package.json
  pnpm-lock.yaml
Due: none

fix: log error and exit on `arm64` and `focal`
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/constants.sh
Due: shellcheck

test: drop unsupported platform test
  .github/workflows/build.yml
Due: none

fix: rename variable
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/constants.sh
Due: shellcheck

fix: log unsupported error and exit on `arm64` and `focal` (#5718)
  .github/workflows/build.yml
  docker-bake.hcl
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/constants.sh
  test/Dockerfile.base
Due: shellcheck

Notes added by 'git notes add'
  aba09ef3e9fbeaadc859e714b7e43956467866d2
Due: none

feat(cli): allow link wrapper without ipc
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/services/ipc.service.spec.ts
  src/cli/services/ipc.service.ts
  src/cli/utils/common.ts
Due: prettier --write, eslint --fix

feat(cli): allow link wrapper without ipc (#5719)
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/services/ipc.service.spec.ts
  src/cli/services/ipc.service.ts
  src/cli/utils/common.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  373a7ff7817c10568af2f3f48d12d78103191f39
Due: none

chore(renovate): automerge protoc
  renovate.json
Due: none

Notes added by 'git notes add'
  fc67d617251be20c2493bc07beed8e5602bbed62
Due: none

build: require node v22+
  package.json
Due: none

Notes added by 'git notes add'
  8ebebd35d98ff6eebb4ec28e64d06af5dc45a0b9
Due: none

Notes added by 'git notes add'
  49307fa7dcd312d41718df0b919c6c1c9991e5cc
Due: none

Notes added by 'git notes add'
  72000ed0f216fc9784287c6267f6962b3a0223a6
Due: none

ci: fix workflow
  .github/workflows/build.yml
Due: none

fix: Revert "fix: log unsupported error and exit on `arm64` and `focal` (#5718)"
  .github/workflows/build.yml
  src/usr/local/containerbase/util.sh
Due: shellcheck

Notes added by 'git notes add'
  cb0782b97ef731227f3728436f81259d0ea045b8
Due: none

fix: Revert "fix: log unsupported error and exit on arm64 and `focal` (#5718)" (#5783)
  .github/workflows/build.yml
  src/usr/local/containerbase/util.sh
Due: shellcheck

Notes added by 'git notes add'
  1671346174d5213d0d50131c98d755b5dfc8a093
Due: none

feat(cli)!: use node v24 (#5388)
  tools/esbuild.js
Due: prettier --write, eslint --fix

feat!: drop `focal` support
  .github/workflows/build.yml
  docs/custom-base-image.md
  docs/custom-registries.md
  src/cli/tools/dotnet.ts
  src/cli/tools/php/index.ts
  src/cli/tools/python/conan.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/util.sh
  test/Dockerfile.base
  test/Dockerfile.distro
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

build: require node v22+ (#5762)
  package.json
Due: none

chore(renovate): enable v13 maintenance
  renovate.json
Due: none

Notes added by 'git notes add'
  23261264f511e30a77bb19085561c3f4da87a843
Due: none

chore(renovate): fix pattern
  renovate.json
Due: none

fix: call `process.exit` to force shutdown
  src/cli/main.spec.ts
  src/cli/main.ts
Due: prettier --write, eslint --fix

fix: call `process.exit` to force shutdown (#5820)
  src/cli/main.spec.ts
  src/cli/main.ts
Due: prettier --write, eslint --fix

ci: add backport workflow
  .github/workflows/backport.yml
Due: none

ci: fix action reference
  .github/workflows/backport.yml
Due: none

ci: fix action permission
  .github/workflows/backport.yml
Due: none

ci: never cancel release job
  .github/workflows/build-push.yml
Due: none

Notes added by 'git notes add'
  2e9b1f76104e067a7fd6fd3f5da9643ead1e3883
Due: none

Notes added by 'git notes add'
  7af018f5bfeaacef1fe89aea19ce658accff9255
Due: none

build: fix docker tags on maintenanve branches
  .releaserc.json
  docker-bake.hcl
  tools/prepare-release.js
  tools/publish-release.js
Due: prettier --write, eslint --fix

build: fix docker tags on maintenanve branches (#5825)
  .releaserc.json
  docker-bake.hcl
  tools/prepare-release.js
  tools/publish-release.js
Due: prettier --write, eslint --fix
