Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

build: add missing build to release step
  src/usr/local/bin/install-containerbase
  tools/prepare-release.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  6a/8c9a3d5326b1dbfb9180271204be24d24b9d05
Due: prettier --ignore-unknown --write

build: pass missing version to docker build
  tools/publish-release.js
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  cf/c56f3ec076b33103cdaa7f34d9cea2b59b549f
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e9/6039c590d78d43a412d6c3296c03093d579b14
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  47/c542c1e840cc0352eb6b4360ff61adb1890c1e
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  2d/8ba3ef0e9aac8b04c14e8ef9583087d40aaa44
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  da/2b85739ad277a647bc99ed7f3f6b9cbd2b4a61
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  ee/671eeeea7173b1a86fa240531dc479b51445c8
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  47/2c7610e26e4f7e7772c9a8befe15a081ab59e1
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  5e/339dce0215d1f04b6afd60e0b4c6becc276259
Due: prettier --ignore-unknown --write

feat: pretty print milliseconds
  package.json
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix: remove old ms suffix
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: indicate error
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: remove old installed messages
  src/usr/local/containerbase/bin/install-tool
Due: prettier --ignore-unknown --write

feat: pretty print milliseconds (#1145)
  package.json
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
  src/usr/local/containerbase/bin/install-tool
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat(ruby): reduce dev tools
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  b9/a5b807f2138627cbf1d2d5ca0ff9b242b0c5ac
Due: prettier --ignore-unknown --write

fix: add g++
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/utils/ruby.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: add make
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  74/d4c26b3bf678388615651cd1bc7f8904bca9bf
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  78/59da65984fd3436fd0d3a0d98cd6c2dc9766e2
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  c2/3000dc892446546cbd927b361e42ee49bbbaf2
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  5d/146f3fc38a270d5e1b0ea26bb4a35e65f91302
Due: prettier --ignore-unknown --write

feat(ruby): reduce dev tools (#1147)
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/utils/ruby.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  2b/fc1b2a803f997d6317d908090a949da4ee72e3
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  55/498494b58add0c04f5ecc6f2746d4f08376c9a
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  22/49c8b9c3cad2b2af6192194bdd712514d0d7cb
Due: prettier --ignore-unknown --write

chore(renovate): fix annotation
  test/flux/Dockerfile
Due: prettier --ignore-unknown --write

fix(node): use node npm version to install tools
  src/usr/local/containerbase/tools/v2/yarn-slim.sh
  src/usr/local/containerbase/utils/node.sh
  test/node/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

fix: wrong logger messages
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(node): use node npm version to install tools (#1187)
  src/usr/local/containerbase/tools/v2/yarn-slim.sh
  src/usr/local/containerbase/utils/node.sh
  test/node/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  b8/5a81a2105d2c70caaf11e113a51c67003a5384
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  54/3a427a0765f0024671b5cea3f1f4e507dde187
Due: prettier --ignore-unknown --write

test: add vitest
  .eslintignore
  .eslintrc.cjs
  .github/workflows/build.yml
  .gitignore
  .prettierignore
  codecov.yml
  package.json
  src/cli/services/http.service.spec.ts
  src/cli/tsconfig.json
  test/global-setup.ts
  test/http-mock.ts
  tools/esbuild.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

test: fix tests
  src/cli/services/http.service.spec.ts
  test/global-setup.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: fix test again
  src/cli/services/http.service.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: add vitest (#1188)
  .eslintignore
  .eslintrc.cjs
  .github/workflows/build.yml
  .gitignore
  .prettierignore
  codecov.yml
  package.json
  src/cli/services/http.service.spec.ts
  src/cli/tsconfig.json
  test/global-setup.ts
  test/http-mock.ts
  tools/esbuild.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

build: dedupe deps
  yarn.lock
Due: prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
