Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

docs: add tool installer best practices (#7530)
  AGENTS.md
  docs/new-tool.md
  docs/tool-installer-best-practices.md
Due: markdownlint-cli2 --fix, prettier --write

fix: always remove the installers' temp folders (#7531)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/node/index.spec.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e397f98712c306167cdd336cb70ce27a06689638
Due: none

fix(compression): extract archives with a utf-8 locale
  src/cli/services/compression.service.spec.ts
  src/cli/services/compression.service.ts
Due: prettier --write, eslint --fix

build: set a utf-8 locale in the image env
  Dockerfile
  docs/custom-base-image.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  20415bbdbd4b166a64e9b4eb9c5111059ff6f233
Due: none

fix(scala): download releases from github
  docs/custom-registries.md
  src/cli/tools/java/scala.spec.ts
  src/cli/tools/java/scala.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(scala): download releases from github (#7548)
  docs/custom-registries.md
  src/cli/tools/java/scala.spec.ts
  src/cli/tools/java/scala.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

build: set a utf-8 locale in the image env (#7539)
  Dockerfile
  docs/custom-base-image.md
Due: markdownlint-cli2 --fix, prettier --write

fix(compression): extract archives with a utf-8 locale (#7538)
  src/cli/services/compression.service.spec.ts
  src/cli/services/compression.service.ts
Due: prettier --write, eslint --fix

feat: convert the golang tool to a typescript installer
  src/cli/tools/golang.spec.ts
  src/cli/tools/golang.ts
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck, prettier --write, eslint --fix

feat: convert the erlang tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/erlang/index.spec.ts
  src/cli/tools/erlang/index.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the swift tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/swift.spec.ts
  src/cli/tools/swift.ts
  src/usr/local/containerbase/tools/v2/swift.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the elixir tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/erlang/elixir.spec.ts
  src/cli/tools/erlang/elixir.ts
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  3b446a1e1c006cdd4639f41d453250f725b0594e
Due: none

feat: convert the swift tool to a typescript installer (#7533)
  docs/custom-registries.md
  src/cli/tools/swift.spec.ts
  src/cli/tools/swift.ts
  src/usr/local/containerbase/tools/v2/swift.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the golang tool to a typescript installer (#7534)
  src/cli/tools/golang.spec.ts
  src/cli/tools/golang.ts
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck, prettier --write, eslint --fix

feat: convert the erlang tool to a typescript installer (#7535)
  docs/custom-registries.md
  src/cli/tools/erlang/index.spec.ts
  src/cli/tools/erlang/index.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the elixir tool to a typescript installer (#7536)
  docs/custom-registries.md
  src/cli/tools/erlang/elixir.spec.ts
  src/cli/tools/erlang/elixir.ts
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: load the databases without writing on a read-only file system
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  24a38d21a3db376078ada2117c11392042c4bc4a
Due: none

fix: load the databases without writing on a read-only file system (#7551)
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

refactor: tighten the tool map types
  src/cli/command/install-tool.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.spec.ts
  src/cli/tools/index.ts
Due: prettier --write, eslint --fix

feat: mark root only tools in the tool list
  packages/base/README.md
  packages/base/data/tools.json
  packages/base/data/tools.schema.json
  packages/base/src/data.ts
  packages/base/src/schema.ts
  packages/base/src/types.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: reject unknown tool metadata keys in the zod schemas
  packages/base/README.md
  packages/base/src/schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor: tighten the tool map types (#7555)
  src/cli/command/install-tool.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.spec.ts
  src/cli/tools/index.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  16bc4f9a305a1eae2e73b4aea094bcfc5419f845
Due: none

feat: convert the python tool to a typescript installer
  docs/custom-registries.md
  src/cli/install-tool/install-legacy-tool.service.spec.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/tools/python/index.spec.ts
  src/cli/tools/python/index.ts
  src/cli/tools/utils/prebuild.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/tools/v2/python.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the ruby tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/ruby/index.spec.ts
  src/cli/tools/ruby/index.ts
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor(prebuild): let tools decide whether a checksum exists
  src/cli/tools/utils/prebuild.spec.ts
  src/cli/tools/utils/prebuild.ts
Due: prettier --write, eslint --fix

feat(prebuild): always verify the checksum
  src/cli/tools/dotnet/mono.spec.ts
  src/cli/tools/utils/prebuild.spec.ts
  src/cli/tools/utils/prebuild.ts
Due: prettier --write, eslint --fix

refactor(python): drop the checksum override
  src/cli/tools/python/index.ts
Due: prettier --write, eslint --fix

test(ruby): always expect the checksum
  docs/custom-registries.md
  src/cli/tools/ruby/index.spec.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(php,erlang): always verify the prebuild checksum
  src/cli/tools/erlang/index.spec.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/php/index.ts
Due: prettier --write, eslint --fix

test: keep the zod schemas and the zod free types in sync
  eslint.config.js
  packages/base/src/schema.ts
  test/packages/base.spec.ts
Due: prettier --write, eslint --fix

feat(php,erlang): always verify the prebuild checksum (#7565)
  src/cli/tools/erlang/index.spec.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/php/index.ts
Due: prettier --write, eslint --fix

test(python): cover the pip cdn and the exact v2 execa options
  src/cli/install-tool/install-legacy-tool.service.spec.ts
  src/cli/tools/python/index.spec.ts
Due: prettier --write, eslint --fix

docs: drop the links to the removed v2 tools folder
  docs/new-tool.md
  docs/tool-installer-best-practices.md
Due: markdownlint-cli2 --fix, prettier --write

test(latest): install dummy v1 and v2 shell tools
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/latest/legacy-tools/dummy-v1.sh
  test/latest/legacy-tools/v2/dummy-v2.sh
Due: shellcheck

refactor: drop the unused v2Tool decorator
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/utils/types.ts
  src/cli/utils/v2-tool.spec.ts
  src/cli/utils/v2-tool.ts
Due: prettier --write, eslint --fix
