Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

fix(python): use pep440 versioning
  package.json
  pnpm-lock.yaml
  src/cli/tools/python/utils.ts
Due: eslint --fix, prettier --write

fix(logger): wrong fallback to silent
  src/cli/utils/logger.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8823c75072d9c54fb6ab93644066b73a2a20720c
Due: none

Notes added by 'git notes add'
  e2061a5ce6bee31cbf010ccccd07cb54f0fa4e32
Due: none

Notes added by 'git notes add'
  2e154324ad384978c9a598ee91d9a8f7d9fd7d10
Due: none

test: update test
  test/node/Dockerfile
Due: none

build: more strict node version
  package.json
Due: none

chore(renovate): allow eslint v9
  renovate.json
Due: none

test(java): drop mavem archive test
  test/java/Dockerfile
Due: none

build: more strict node version (#3559)
  package.json
Due: none

chore(renovate): allow eslint v9 (#3560)
  renovate.json
Due: none

test(java): drop mavem archive test (#3561)
  test/java/Dockerfile
Due: none

Notes added by 'git notes add'
  a0001ecfefcff1159c8cc893598e600341d2de95
Due: none

Notes added by 'git notes add'
  8637d6f9ce3b0a3d8c014e07ebf3ae539774c4c5
Due: none

Notes added by 'git notes add'
  71d835926786fc8989e6487385ca9131a3376373
Due: none

chore: migrate to eslint v9
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/tools/java/index.ts
  src/cli/tools/python/conan.ts
  src/cli/tools/ruby/utils.ts
  test/http-mock.ts
  tools/esbuild.js
  tools/publish-release.js
  vite.config.ts
Due: eslint --fix, prettier --write

chore: fix missing types
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: migration
  eslint.config.js
Due: eslint --fix, prettier --write

fix: init prepared tools from entrypoint
  src/cli/command/init-tool.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

test: disable test
  test/node/Dockerfile
Due: none

test: fix tests
  test/node/Dockerfile
  test/node/test/a/package.json
Due: none

fix: init prepared tools from entrypoint (#3568)
  src/cli/command/init-tool.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  test/node/Dockerfile
  test/node/test/a/package.json
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  08963ab19a80000ef43f94d4965bbb791debeba0
Due: none

Notes added by 'git notes add'
  ddab3bc4490f40130e6d10b25e5fd491276f716d
Due: none

chore: add `@containerbase/eslint-plugin`
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/command/download-file.spec.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/index.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/main.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/proxy.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/logger.spec.ts
  src/cli/utils/versions.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6a7b4cc745df26c5404b78cbe6d3188da0103f0a
Due: none

ci: extend `ttl.sh` timeout
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  f263a0ab95c666c7958d5dd700d8e00057991fd2
Due: none

Notes added by 'git notes add'
  40039adc7ed14e6c6c63d1c45cda43e72f65a9ab
Due: none

Notes added by 'git notes add'
  bd9293574afa759b7a06727cb72c869f8b2035e2
Due: none

Notes added by 'git notes add'
  4d8b4a7638331113b5ff08fe4d0c383325eb3433
Due: none

Notes added by 'git notes add'
  1c158070178be3c4289915eb2f63a306f07d648d
Due: none

fix: proper initialize v2 tools
  src/usr/local/containerbase/bin/init-tool.sh
  test/golang/Dockerfile
  test/node/Dockerfile
Due: shellcheck

fix: ensure general cache paths
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

chore(renovate): use `containerbase/nix-prebuild` as datasource
  test/Dockerfile.distro
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
Due: none

Notes added by 'git notes add'
  a7f78c74ab4130d9cb4f95af1ec61d1418d6fa96
Due: none

Notes added by 'git notes add'
  0be38024b2a33cc016991951a26f24c615a97e57
Due: none

Notes added by 'git notes add'
  c9b4059539891075b0d11085f69ae04b06183e44
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
