Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

fix(docker): wrong symlinks
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

test: revert test changes
  test/latest/Dockerfile
Due: none

fix(docker): install plugins globally (#5495)
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/docker/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

Migrate from v2
  src/cli/tools/dotnet/paket.ts
  src/usr/local/containerbase/tools/v2/paket.sh
Due: shellcheck, prettier --write, eslint --fix

Fix DOTNET ROOT
  src/cli/tools/dotnet/paket.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  bc3708a7d580f70c1690c3cd402f919a9e249bd9
Due: none

Notes added by 'git notes add'
  6b7ed58a01921b4fc9ef7474d8c9a1172e5f4869
Due: none

ci: proper test result publishing
  .github/workflows/build.yml
Due: none

ci: proper test result publishing (take 2)
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  d89ebda6642c250acda086d690454ca996adbd39
Due: none

Notes added by 'git notes add'
  cdcfa0fdb6dbc03270b20a3641e2630782da3572
Due: none

Notes added by 'git notes add'
  6c85a9ff70e6a7d768982399dca00760f15f939c
Due: none

Notes added by 'git notes add'
  f8750e3a1102de535a06cf3c58351edcf8210cf0
Due: none

Notes added by 'git notes add'
  497f3fe73ef7813c620233500774c28c17b3b03d
Due: none

Notes added by 'git notes add'
  7c6ee069d31af21ca0bf7ce48ef105e539842640
Due: none

Notes added by 'git notes add'
  085e00a5c5ffc75d54896bf8969dbe371114fdf4
Due: none

chore: linting
  test/flutter/test/b/pubspec.yaml
  test/flutter/test/c/pubspec.yaml
Due: none

fix(cli): print failed message on erros
  src/cli/command/file-exists.ts
  src/cli/command/install-tool.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  dfdaa477ee18791d8ce640428cff44dae9cb0535
Due: none

fix(cli): print failed message on errors (#5595)
  src/cli/command/file-exists.ts
  src/cli/command/install-tool.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  32324d8f9e749dc2bc374ebddac9f1581a886457
Due: none

Notes added by 'git notes add'
  9929775171ebbbbbcb73a3ff7c2b23b31ea6665b
Due: none

Notes added by 'git notes add'
  d493e43dd524914dff698d10a7e85807607afd47
Due: none

Notes added by 'git notes add'
  c521a31c3a9ed26c33ebeb2aa6a7f0662537bfc7
Due: none

Notes added by 'git notes add'
  540fccdfb78fdfec8e48c2fe9c69235563f8e86c
Due: none

Notes added by 'git notes add'
  cb3166faa034c172bebb6d520aba4a0bb1b32d70
Due: none

Notes added by 'git notes add'
  55db090aff7d24a2eaf28309805a055956a4118f
Due: none

Notes added by 'git notes add'
  98eafc97ff351d17397b3c4d1b4e919a86594461
Due: none

fix: Revert "feat(cli): use node v24 (#5388)"
  tools/esbuild.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  53a3268b6f3ceab23d26ce2c469bc3e4b393b0df
Due: none

feat(cli)!: use node v24 (#5388)
  tools/esbuild.js
Due: prettier --write, eslint --fix

feat!: drop `focal` support
  docs/custom-base-image.md
  docs/custom-registries.md
  src/cli/tools/dotnet.ts
  src/cli/tools/php/index.ts
  src/cli/tools/python/conan.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/util.sh
  test/Dockerfile.distro
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  46fb19a78b7c13e764db582b068532020218b134
Due: none

fix: re-add focal support
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
Due: none

test: test basic arm64 for old distros
  .github/workflows/build.yml
  docker-bake.hcl
  test/Dockerfile.base
Due: none

fix: downgrade pkg to v6.8.0
  package.json
  pnpm-lock.yaml
Due: none

fix: downgrade pkg to v6.6.0
  package.json
  pnpm-lock.yaml
Due: none
