Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  c1549057d23e4150c2ef122079124b14a0b5d7f3
Due: none

build(inversify): use `injectFromHierarchy` instead of `injectFromBase` (#4877)
  src/cli/install-tool/index.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker.ts
  src/cli/tools/dotnet.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gleam.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/php/index.ts
  src/cli/tools/pixi.ts
  src/cli/tools/protoc.ts
  src/cli/tools/python/conan.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  src/cli/tools/wally.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ddbd8b682a3b99aee016cd5fd784ca8112fc65c9
Due: none

chore: switch to `eslint-plugin-import-x`
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/utils/logger.ts
Due: prettier --write, eslint --fix

fix(cli): update latest installed version if already installed
  src/cli/install-tool/install-tool.service.ts
  test/flux/Dockerfile
  test/java/Dockerfile
Due: prettier --write, eslint --fix

fix(cli): update latest installed version if already installed (#4884)
  src/cli/install-tool/install-tool.service.ts
  test/flux/Dockerfile
  test/java/Dockerfile
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a45ebcead08363292ce2bb9e0e0c0fe9067617f9
Due: none

test: extend test
  src/cli/install-tool/install-tool.spec.ts
  src/cli/tools/__mocks__/bun.ts
  test/util.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6dce28a2227ede16444f27d3055902876e5465b6
Due: none

Notes added by 'git notes add'
  10dcdd2ed6b9fcca791f2c9d62c3ac17f80475fa
Due: none

Notes added by 'git notes add'
  a171fc95755067f0a043c9b48cceb5f402bd90c8
Due: none

Notes added by 'git notes add'
  f23de0a146f9a9b9b55d59e4e91f406ee07759a5
Due: none

Notes added by 'git notes add'
  453aa4d91bc6b93efed07db79847f5add118c4ef
Due: none

refactor: rename method
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/main.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c5b07cdd8e9727d4697136662dffa03e546897f5
Due: none

refactor(cli): async resolve services
  src/cli/command/file-download.ts
  src/cli/command/file-exists.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.spec.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
Due: prettier --write, eslint --fix

refactor(cli): async resolve services (#4951)
  src/cli/command/file-download.ts
  src/cli/command/file-exists.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.spec.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
Due: prettier --write, eslint --fix

fix(cli): wrong arg path for `install gem` command
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/cleanup-path.ts
  src/cli/command/file-download.ts
  src/cli/command/init-tool.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
  src/cli/utils/index.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8bc9841ec9f5a767e89b95e36828b45e4495c77a
Due: none

Notes added by 'git notes add'
  52f4928efdfd85b1cc1c15676f04fbe99d6e94d7
Due: none

add
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/deno.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: allow skipping test for more tools
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/git-lfs.sh
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
Due: shellcheck

test: add tests
  src/cli/install-tool/index.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  214129f5306b73e443888271508a3fcd093a243f
Due: none

feat(cli): add tool state databases
  docs/databases.md
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/codes.ts
  test/path.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: types and renames
  docs/databases.md
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  13b1c03900a26ecd1c5bc8179092ce35e3e3d0c3
Due: none

Notes added by 'git notes add'
  782014df47e1274998a9062e529a4659cfac9711
Due: none

Notes added by 'git notes add'
  10f96c8eb21304e9947fba5256e3b019a0ec9e2b
Due: none

Notes added by 'git notes add'
  e5f461211cb55fd455a6f41559188fe511c99990
Due: none

refactor(cli): make some base services singleton
  src/cli/command/install-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.spec.ts
  test/path.ts
Due: prettier --write, eslint --fix

refactor(cli): make some base services singleton (#4995)
  src/cli/command/install-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.spec.ts
  test/path.ts
Due: prettier --write, eslint --fix

fix: add missing folder create
  src/cli/tools/deno.ts
Due: prettier --write, eslint --fix

feat: add deno installer (#4959)
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/deno.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor: rename file
  src/cli/tools/__mocks__/bun.ts
  test/mock.ts
Due: prettier --write, eslint --fix

refactor: move function
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
  test/di.ts
  test/path.ts
Due: prettier --write, eslint --fix

test: add new util function
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/services/path.service.spec.ts
  test/path.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a4b1033d3024507314f0be9e81a0474c5e5bf256
Due: none

feat(cli): add tool state databases
  docs/databases.md
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/codes.ts
  src/usr/local/containerbase/utils/filesystem.sh
  test/latest/Dockerfile
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: composer parent is php
  src/cli/tools/php/composer.ts
Due: prettier --write, eslint --fix

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
