Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

fix(cocoapods): add `activesupport` workaround
  src/cli/tools/ruby/gem.ts
  src/cli/tools/ruby/utils.ts
  test/ruby/Dockerfile
  test/ruby/test/b/Project/Podfile
Due: eslint --fix, prettier --ignore-unknown --write

fix(cocoapods): add `activesupport` workaround (#1548)
  src/cli/tools/ruby/gem.ts
  src/cli/tools/ruby/utils.ts
  test/ruby/Dockerfile
  test/ruby/test/b/Project/Podfile
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  84/c666350c039da3e8a13fd081fe54fe20cc2855
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  c6/7c4a1b28ebe520cd49c60aa7d0cfb08b89fa25
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  54/158d1a2326631a63c9e04b4055f2a489dff502
Due: prettier --ignore-unknown --write

test: add debug opt
  tools/test.js
Due: eslint --fix, prettier --ignore-unknown --write

fix(java): adoptium api changes
  src/usr/local/containerbase/utils/java.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  38/9822c77c4d040d0b2c5c32bdfad732e9a568ba
Due: prettier --ignore-unknown --write

chore: fix renovate annotations
  docs/custom-registries.md
  test/Dockerfile.jammy
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/python/Dockerfile
Due: prettier --ignore-unknown --write

feat(node): support distroless prebuilds
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  22/3f39309e68cee8acfcced08871f4eefe167205
Due: prettier --ignore-unknown --write

feat(node): support distroless prebuilds (#1573)
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  35/ef85df615be8d1823996b85e3da4c12d06c1f0
Due: prettier --ignore-unknown --write

feat(cli): convert maven installer
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/services/compression.service.ts
  src/cli/services/http.service.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/versions.spec.ts
  src/cli/utils/versions.ts
  src/usr/local/containerbase/tools/v2/maven.sh
  test/java/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

feat(cli): convert maven installer (#1578)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/services/compression.service.ts
  src/cli/services/http.service.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/versions.spec.ts
  src/cli/utils/versions.ts
  src/usr/local/containerbase/tools/v2/maven.sh
  test/java/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix(hashin): install setuptools to the virtualenv
  src/usr/local/containerbase/tools/v2/hashin.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  01/ee29f9c157565363fab412dd743e86cebd94cd
Due: prettier --ignore-unknown --write

feat(cli): convert flutter
  docs/custom-registries.md
  package.json
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/flutter.ts
  src/usr/local/containerbase/tools/v2/flutter.sh
  test/flutter/Dockerfile
  yarn.lock
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

feat(cli): convert flutter (#1585)
  docs/custom-registries.md
  package.json
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/flutter.ts
  src/usr/local/containerbase/tools/v2/flutter.sh
  test/flutter/Dockerfile
  yarn.lock
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: wrong permissions
  src/cli/tools/dart/index.ts
  src/cli/tools/dotnet/index.ts
  test/dotnet/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  47/8f06d5add31d97b7402fa849a1ed84beb81824
Due: prettier --ignore-unknown --write

ci: optimize
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .github/workflows/trivy.yml
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  83/3ffde9870d39d4747a2454f7c09efbc863afe8
Due: prettier --ignore-unknown --write

chore: use chore for actions updates
  renovate.json
Due: prettier --ignore-unknown --write

chore, fix config
  renovate.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  3e/9bd765d5087c182fc48b101f37e8a938bebfc9
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4c/d9a6aeec8580bcd99d8d1e3b2ee260e69ca3c3
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  59/1ebf946ae622044145d1ca8e74a867213af9f9
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  90/a0966fbd1106c20108834429604d44eecb51a9
Due: prettier --ignore-unknown --write

chore: drop buildpacks.io reference
  README.md
Due: prettier --ignore-unknown --write

fix(node): wrong download url for amd64
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(node): wrong download url for amd64 (#1639)
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  ad/a0e07b53117fd9226b01bf73f0c4dc27db7e97
Due: prettier --ignore-unknown --write

fix: add vite resolution
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --ignore-unknown --write

test: fix poetry test
  test/python/test/c-poetry/poetry.lock
  test/python/test/c-poetry/pyproject.toml
Due: prettier --ignore-unknown --write

test: fix flutter tests for v3
  test/flutter/Dockerfile
  test/flutter/test/d/pubspec.lock
  test/flutter/test/d/pubspec.yaml
Due: prettier --ignore-unknown --write

test(python): use python v3.11 for old poetry
  test/python/Dockerfile
Due: prettier --ignore-unknown --write

test(node): prepare for v20
  test/node/Dockerfile
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  1c/a0e30612b3aa7e58f84f39fab43afab36dc8a9
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  6b/628f7bf6bdc9dfac5cd09b31c375f127a0ffbe
Due: prettier --ignore-unknown --write
