Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  cf927d0b1f771121a7281db2d70e61cda2cf582d
Due: none

Notes added by 'git notes add'
  c42d4e4614c6c1dd437ebf6ce133fc8d468ab207
Due: none

build: don't import `reflect-metadata`
  src/cli/index.ts
  test/global-setup.ts
Due: prettier --write, eslint --fix

build: don't import `reflect-metadata` (#6375)
  src/cli/index.ts
  test/global-setup.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2018635d4a4e16a1b8c2691825f9c74d0ae0cd80
Due: none

chore: ling fix
  test/di.ts
Due: prettier --write, eslint --fix

build: drop `vite-tsconfig-paths`
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix

fix: migrations
  src/cli/command/file-download.ts
  src/cli/command/file-exists.ts
  src/cli/services/http.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1f5c8a20f2cc163b363d5e63325a6e4a3ca850cb
Due: none

Notes added by 'git notes add'
  3001d1ec737a7f7be51c48a811c77e7e608f3a13
Due: none

Notes added by 'git notes add'
  638d4724e24cd7cfe41983f96e35015dc8c9a6ff
Due: none

Notes added by 'git notes add'
  4757f3ea9a76dc017071ece75f85fdc11ce41a0c
Due: none

fix(bun): use baseline if current amd64 cpu is missing avx2
  docs/custom-registries.md
  src/cli/tools/bun.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(bun): use baseline if current amd64 cpu is missing avx2 (#6434)
  docs/custom-registries.md
  src/cli/tools/bun.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  9994cc6db27935da232c049fc7615188507fa852
Due: none

Notes added by 'git notes add'
  56051217066629cdbfc609018233b5a132cba74b
Due: none

Notes added by 'git notes add'
  e96f796ccfbc37377c42a6642d6928a517613a7c
Due: none

feat(cli): use node sea
  tools/esbuild.js
Due: prettier --write, eslint --fix

chore: drop obsolete patch
  package.json
  patches/@yao-pkg__pkg.patch
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  89084bdd5ff5257e473d2675e61ddbf27d748c30
Due: none

Notes added by 'git notes add'
  0e6cd873fcb52a66b0295d66699d3eb7de601d7a
Due: none

ci: fix trivy action tag
  .github/workflows/trivy.yml
Due: none

ci: fix trivy action tag (#6486)
  .github/workflows/trivy.yml
Due: none

Notes added by 'git notes add'
  c24a9166c45b687290567416fe9b117df3c6c425
Due: none

ci: pin trivy version
  .github/workflows/trivy.yml
Due: none

build: use zstd and sea code cache
  tools/esbuild.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  acdb6b920b6a4921ef62376ec9c2bf2ee79cdf17
Due: none

chore: rename build script
  package.json
  tools/build.js
Due: prettier --write, eslint --fix

build: switch from esbuild to rolldown
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/bundle.spec.ts
  src/cli/bundle.ts
  src/cli/index.spec.ts
  tools/build.js
Due: prettier --write, eslint --fix

build: simplify
  src/cli/bundle.spec.ts
  src/cli/bundle.ts
  src/cli/index.spec.ts
  src/cli/index.ts
  tools/build.js
Due: prettier --write, eslint --fix

build: stay on cjs
  src/cli/index.spec.ts
  src/cli/index.ts
  tools/build.js
Due: prettier --write, eslint --fix

test: fix test
  src/cli/index.spec.ts
Due: prettier --write, eslint --fix

build: switch from esbuild to rolldown (#6498)
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/index.spec.ts
  src/cli/index.ts
  tools/build.js
Due: prettier --write, eslint --fix

build: compile as esm
  src/cli/index.spec.ts
  src/cli/index.ts
  tools/build.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  0590906b49d60e888db99e41eb04bc2c2fa3cfa6
Due: none

refactor: improve trace messages
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/v2-tool.service.ts
Due: prettier --write, eslint --fix

fix: wrong ufi
  src/cli/tools/buf.ts
Due: prettier --write, eslint --fix

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
