Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

feat: support url replace via env
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

docs: added sample to readme
  README.md
Due: prettier --ignore-unknown --write

test: fix tests
  src/cli/services/http.service.spec.ts
  test/latest/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  0f/f1e81e02077e6361d4f303b458d1131c56205d
Due: prettier --ignore-unknown --write

test: fix test
  test/latest/Dockerfile
Due: prettier --ignore-unknown --write

feat: support url replace via env (#1189)
  README.md
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: update semver
  yarn.lock
Due: prettier --ignore-unknown --write

test(flux): trim leading `v`
  test/flux/Dockerfile
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  3b/7b84a9327ee9dd891742ac83ea2173d6e12344
Due: prettier --ignore-unknown --write

fix(http): compute checksum after download
  package.json
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/hash.ts
  test/path.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix(http): compute checksum after download (#1196)
  package.json
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/hash.ts
  test/path.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat: convert dart installer
  README.md
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/env.service.ts
  src/cli/tools/dart/index.ts
  src/usr/local/containerbase/tools/v2/dart.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore: fix lockfile
  yarn.lock
Due: prettier --ignore-unknown --write

feat: convert dart installer (#1197)
  README.md
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/env.service.ts
  src/cli/tools/dart/index.ts
  src/usr/local/containerbase/tools/v2/dart.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  13/aa745b1f333dddafca6584c99133e20c6fe96d
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  ba/34b73ca20c9d59834d642888d3b3081ce268c7
Due: prettier --ignore-unknown --write

fix: linting
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

ci: run less jobs in parallel
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  test/erlang/Dockerfile
Due: prettier --ignore-unknown --write

build(yarn): use pnp mode
  .eslintrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

test(bats): fix pnp support
  package.json
  test/bash/cache.bats
  test/bash/environment.bats
  test/bash/filesystem.bats
  test/bash/java.bats
  test/bash/linking.bats
  test/bash/prepare.bats
  test/bash/util.bats
  test/bash/v2/defaults.bats
  test/bash/v2/filesystem.bats
  test/bash/version.bats
  tools/bats.js
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

build: fix dependencies for pnp mode
  .yarnrc.yml
  yarn.lock
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  3a/781d0428677ef0cb4a146b736a6f2e91c7be95
Due: prettier --ignore-unknown --write

ci: refactor node setup
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

fix: wrong path
  .github/actions/setup-node/action.yml
Due: prettier --ignore-unknown --write

fix: use sudo for corepack
  .github/actions/setup-node/action.yml
Due: prettier --ignore-unknown --write

ci: refactor node setup (#1201)
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

chore: add vitest github reporter
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

fix: strict types
  .github/workflows/build.yml
  package.json
  src/cli/main.ts
  src/cli/services/http.service.ts
  test/global-setup.ts
  test/path.ts
  test/types.d.ts
  tools/bats.js
  tools/esbuild.js
  tools/prepare-release.js
  tools/publish-release.js
  tools/test.js
  tsconfig.dist.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  11/2038298573f979c65890d06e775d867615a154
Due: prettier --ignore-unknown --write

fix: sort replace env
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

docs: update url replacement
  README.md
Due: prettier --ignore-unknown --write

feat(cli): extract compression service
  src/cli/services/compression.service.ts
  src/cli/services/index.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: rename class
  src/cli/services/index.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): extract compression service (#1202)
  src/cli/services/compression.service.ts
  src/cli/services/index.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cli): validate version
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): convert flux
  src/cli/install-tool/index.ts
  src/cli/tools/flux/index.ts
  src/usr/local/containerbase/tools/v2/flux.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  3f/c9c292131ab635ec57ab35b04e41b76d170bce
Due: prettier --ignore-unknown --write

fix: missing fallback
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cli): validate version (#1203)
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
