Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

chore: more testing
  .github/workflows/build.yml
  src/cli/utils/common.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

fix: better docker detection
  .github/workflows/build.yml
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: testing
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

fix: revert changes
  .github/workflows/build.yml
  test/java/Dockerfile
Due: prettier --ignore-unknown --write

fix: wrong docker build detection (#1353)
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  fa/770d76826a7a6b50b18c4b72aae6e8d61ae5ea
Due: prettier --ignore-unknown --write

feat(ruby): convert gem tools and add install-gem command
  src/cli/command/index.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/tools/index.ts
  src/cli/tools/ruby/gem.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/tools/v2/bundler.sh
  src/usr/local/containerbase/tools/v2/cocoapods.sh
  test/ruby/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

test: coverage
  src/cli/utils/common.spec.ts
  src/cli/utils/index.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(ruby): convert gem tools and add install-gem command (#1355)
  src/cli/command/index.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/tools/index.ts
  src/cli/tools/ruby/gem.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/tools/v2/bundler.sh
  src/usr/local/containerbase/tools/v2/cocoapods.sh
  test/ruby/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  fb/8ceb54998364591b46d6f2e195fe9844267f6a
Due: prettier --ignore-unknown --write

feat(python): allow replacing pip index
  src/cli/install-tool/install-legacy-tool.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(node,ruby): always use replaced registry url
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  a3/9018e5e4664f767e5f85049a568beef2c96a33
Due: prettier --ignore-unknown --write

chore: update yarn sdks
  .yarn/sdks/eslint/package.json
Due: prettier --ignore-unknown --write

docs: add custom registries
  README.md
  docs/custom-registries.md
Due: prettier --ignore-unknown --write

docs: add custom registries (#1361)
  README.md
  docs/custom-registries.md
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  3e/03ec5061038efbe74a05f757d86bfd5089c2a7
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  47/f213274850a8d77fcce565e845ef22c5b075d8
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  f0/0cad71274b8c783b81c40e34143341011cc82c
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  ad/30fbc41d52a0d539414ea74615f9d20b93f016
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  a1/5097e789346c93d0fef923c68ef3d6d7e815c1
Due: prettier --ignore-unknown --write

refactor: wrong class name
  src/cli/install-tool/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: add `bun` installer
  src/cli/install-tool/index.ts
  src/cli/tools/bun.ts
  src/cli/tools/index.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --ignore-unknown --write

fix: wrong urls
  docs/custom-registries.md
  src/cli/tools/bun.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: no custom ca support for bun
  docs/custom-root-ca.md
  src/cli/tools/bun.ts
  test/latest/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

feat: add `bun` installer (#1441)
  docs/custom-registries.md
  docs/custom-root-ca.md
  src/cli/install-tool/index.ts
  src/cli/tools/bun.ts
  src/cli/tools/index.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  f8/75607a6f7072bc2c7627a61badc078495a605f
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  be/8e9fd5679ab43fb31d8965e7f39e99bf733122
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  fa/8061dc8744c71636172ec724495f6d7ec5a21f
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  10/9e058c09dc1e75b0051c93e969a7c7ecb94755
Due: prettier --ignore-unknown --write

chore: update renovate automerge settings
  renovate.json
Due: prettier --ignore-unknown --write

Update renovate.json
  renovate.json
Due: prettier --ignore-unknown --write

chore: fix renovate config (#1494)
  renovate.json
Due: prettier --ignore-unknown --write

chore: renovate update
  renovate.json
Due: prettier --ignore-unknown --write

chore: renovate update (#1496)
  renovate.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  56/05dd7e07047f4595ad05cc997e4f9c7224a22f
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  04/35afbcc1e93ad2df9a285c7e17d407d5bcb433
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e2/601b9a6e6666e2d2fd44e0059ca47065794f02
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  20/9c38c5034b88e9142f2b555f6849c55d93a283
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  d6/a71159b443e784fc532a22d357b462a15c82ba
Due: prettier --ignore-unknown --write
