Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

test(vp): validate released planner in Docker
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/vp/sync-versions.mjs
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ac46edc5d1790362476f4babbd107ccf3f088aa4
Due: none

Notes added by 'git notes add'
  255a0ef1dc3fa65981e9051a07a3d9c4d91c3707
Due: none

refactor(vp): align installer and tests with Node tooling
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/node/vp.spec.ts
  src/cli/tools/node/vp.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/sync-versions.mjs
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: support installing Yarn 6 binaries (#7118)
  src/cli/tools/node/npm.ts
  test/node/Dockerfile
  test/node/Dockerfile.arm64
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4310fdf34616ffa07fa2f64cf45bab635b1ff4ba
Due: none

feat: add support for devenv
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/devenv.spec.ts
  src/cli/tools/devenv.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/nix/devenv/devenv.nix
  test/nix/devenv/devenv.yaml
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  ae3ffff1edc4ba2917c7b86aadfa7a1ad5e9f46e
Due: none

Notes added by 'git notes add'
  3d8e81be0a72bb3ad01e3c926d7f693bba955d6e
Due: none

feat: add `list tools` command
  docs/tools.md
  src/cli/command/index.ts
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/index.ts
  src/cli/services/version.service.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: use a real Writable stream to capture cli output
  src/cli/command/list-tools.spec.ts
Due: prettier --write, eslint --fix

test: move StdoutMock to test/mock.ts
  src/cli/command/list-tools.spec.ts
  test/mock.ts
Due: prettier --write, eslint --fix

test: assert `list tools` output around node uninstall
  test/node/Dockerfile
Due: none

feat: apply review feedback for `list tools`
  docs/list-tools.schema.json
  docs/tools.md
  package.json
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/index.ts
  src/cli/services/version.schema.ts
  src/cli/services/version.service.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  tools/schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: resolve current version of aliased tools in `list tools`
  src/cli/command/list-tools.spec.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

feat: write compact json to file in `list tools`
  docs/tools.md
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: verify json output and published schema separately
  src/cli/command/list-tools.spec.ts
Due: prettier --write, eslint --fix

chore: ignore local development directories
  .gitignore
Due: none

feat(test): support docker network mode and host gateway options
  README.md
  docker-bake.hcl
  tools/test.js
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

docs: fix typo in test:docker host network note
  README.md
Due: markdownlint-cli2 --fix, prettier --write

chore: ignore local development directories (#7417)
  .gitignore
Due: none

test(docker): support docker network mode and host gateway options (#7418)
  README.md
  docker-bake.hcl
  tools/test.js
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

docs: only merge main when needed
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: add agent instructions
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: use a concrete container test example
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

docs: drop the schema command
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

test: cover the remaining version service methods
  src/cli/services/version.service.spec.ts
Due: prettier --write, eslint --fix

docs: add agent instructions (#7420)
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

test: cover the remaining version service methods (#7422)
  src/cli/services/version.service.spec.ts
Due: prettier --write, eslint --fix

docs: document the schema commands
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

test: cover list tools and version service completely
  src/cli/command/list-tools.spec.ts
Due: prettier --write, eslint --fix

feat: print the tool list as a table
  docs/list-tools.schema.json
  docs/tools.md
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/version.schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Apply suggestion from `@jamietanna`
  docs/tools.md
Due: markdownlint-cli2 --fix, prettier --write

fix: sort tool names numerically and match compact json in test
  src/cli/services/version.service.ts
  test/node/Dockerfile
Due: prettier --write, eslint --fix

ci: check the committed json schema is up to date
  .github/workflows/build.yml
  package.json
  tools/schema.ts
Due: prettier --write, eslint --fix

fix: keep status logs out of the json output
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
Due: prettier --write, eslint --fix

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
