Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  4bd1b84d327693c704364b2de97fbccc038c08d2
Due: none

fix: create versioned tool sub folders owned by the user
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/apko.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/deno.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/flux.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/jb.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/pixi.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/sops.ts
  src/cli/tools/terraform.ts
  src/cli/tools/tofu.ts
  src/cli/tools/vendir.ts
Due: prettier --write, eslint --fix

test(path): skip the mode checks on windows
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

fix: only reuse existing folders in createDir
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

fix: create versioned tool sub folders owned by the user (#7482)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/apko.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/deno.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/flux.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/jb.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/pixi.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/sops.ts
  src/cli/tools/terraform.ts
  src/cli/tools/tofu.ts
  src/cli/tools/vendir.ts
Due: prettier --write, eslint --fix

fix: only reuse existing folders in createDir (#7485)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  90f0280d1cf80d8108458fec4df89a801616d9ff
Due: none

refactor(nub): use shared checksum helper
  src/cli/tools/nub.spec.ts
  src/cli/tools/nub.ts
Due: prettier --write, eslint --fix

feat: convert the powershell tool to a typescript installer
  src/cli/tools/dotnet/powershell.spec.ts
  src/cli/tools/dotnet/powershell.ts
  src/usr/local/containerbase/tools/v2/powershell.sh
Due: shellcheck, prettier --write, eslint --fix

docs(powershell): document the install services
  src/cli/tools/dotnet/powershell.ts
Due: prettier --write, eslint --fix

refactor(powershell): use the shared checksum helper
  src/cli/tools/dotnet/powershell.spec.ts
  src/cli/tools/dotnet/powershell.ts
Due: prettier --write, eslint --fix

feat: convert the git-lfs tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
  src/usr/local/containerbase/tools/v2/git-lfs.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(git-lfs): document the install service
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

refactor(git-lfs): use the shared checksum helper
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

fix(git-lfs): create the bin folder owned by the user
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

docs(sbt): document the install services
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

feat: convert the sbt tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
  src/usr/local/containerbase/tools/v2/sbt.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor(sbt): use the shared checksum helper
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

fix(sbt): download releases before v1.3.5 without a checksum
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

fix(sbt): keep an existing .sbt home link
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

refactor(rust): use the shared checksum helper
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

docs(rust): document the install services
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

feat: convert the rust tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
  src/usr/local/containerbase/tools/v2/rust.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(rust): only accept dated nightly versions
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

fix(rust): keep an existing .cargo home link
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

fix: keep existing home links in prepare steps
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/dart/utils.ts
  src/cli/tools/docker/index.spec.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/dotnet/mono.ts
  src/cli/tools/flutter.spec.ts
  src/cli/tools/flutter.ts
  src/cli/tools/java/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/python/conan.spec.ts
  src/cli/tools/python/conan.ts
Due: prettier --write, eslint --fix

fix(apt): install packages non-interactively
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/python/conan.spec.ts
Due: prettier --write, eslint --fix

fix(docker): keep an existing docker group in prepare
  src/cli/tools/docker/index.spec.ts
  src/cli/tools/docker/index.ts
Due: prettier --write, eslint --fix

fix(apt): install packages non-interactively (#7500)
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/python/conan.spec.ts
Due: prettier --write, eslint --fix

fix: keep existing home links in prepare steps (#7499)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/dart/utils.ts
  src/cli/tools/docker/index.spec.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/dotnet/mono.ts
  src/cli/tools/flutter.spec.ts
  src/cli/tools/flutter.ts
  src/cli/tools/java/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/python/conan.spec.ts
  src/cli/tools/python/conan.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  539dd860679c5a043300bd3c3cfefc3c8f841cb0
Due: none

Notes added by 'git notes add'
  f5f0b9e7dc5b0deca104f12b78d8e98dc862b3bc
Due: none

Notes added by 'git notes add'
  1d7b8434cc4fb1026b33751494b89d155a397a7d
Due: none

test(powershell): expect the non-interactive apt env
  src/cli/tools/dotnet/powershell.spec.ts
Due: prettier --write, eslint --fix

fix(powershell): download releases before v7.2.0 without a checksum
  src/cli/tools/dotnet/powershell.spec.ts
  src/cli/tools/dotnet/powershell.ts
Due: prettier --write, eslint --fix

chore: skip local claude and sandbox files in prettier and markdownlint
  .markdownlint-cli2.jsonc
  .prettierignore
Due: none

chore: skip local claude and sandbox files in prettier and markdownlint (#7521)
  .markdownlint-cli2.jsonc
  .prettierignore
Due: none
