Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

fix(cabal): download the generic linux build since v3.18
  docs/custom-registries.md
  src/cli/tools/haskell/cabal.spec.ts
  src/cli/tools/haskell/cabal.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(cabal): download the generic linux build since v3.18 (#7522)
  docs/custom-registries.md
  src/cli/tools/haskell/cabal.spec.ts
  src/cli/tools/haskell/cabal.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the powershell tool to a typescript installer (#7494)
  src/cli/tools/dotnet/powershell.spec.ts
  src/cli/tools/dotnet/powershell.ts
  src/usr/local/containerbase/tools/v2/powershell.sh
Due: shellcheck, prettier --write, eslint --fix

ci: pass the base image through the local image store instead of ttl.sh
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

ci: fail test-success when the base image build fails
  .github/workflows/build.yml
Due: none

refactor(sbt): use the shared checksum helper
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

feat: convert the git-lfs tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
  src/usr/local/containerbase/tools/v2/git-lfs.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(sbt): document the install services
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

fix(git-lfs): create the bin folder owned by the user
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

fix(sbt): keep an existing .sbt home link
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

refactor(git-lfs): use the shared checksum helper
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

fix(sbt): keep hidden entries when cleaning up after the test
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

refactor(sbt): link the home folder with the shared helper
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

fix(sbt): download releases before v1.3.5 without a checksum
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
Due: prettier --write, eslint --fix

feat: convert the sbt tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
  src/usr/local/containerbase/tools/v2/sbt.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(git-lfs): document the install service
  src/cli/tools/git/lfs.ts
Due: prettier --write, eslint --fix

refactor(rust): use the shared checksum helper
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

refactor(rust): pick the archive format by version
  docs/custom-registries.md
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(rust): only accept dated nightly versions
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

feat: convert the rust tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
  src/usr/local/containerbase/tools/v2/rust.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor(rust): link the home folder with the shared helper
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

docs(rust): list the nightly checksum and the gz fallback
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

fix(rust): keep an existing .cargo home link
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

docs(rust): document the install services
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix

ci: pass the base image through the local image store instead of ttl.sh (#7524)
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

ci: fail test-success when the base image build fails (#7523)
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  566a54ca8bde03cd84569a0cf942d2bb2b5d1064
Due: none

fix(vp): run unbundled planner tests with Vite+ 1.0
  .dockerignore
  .github/renovate.json
  docs/custom-registries.md
  test/Dockerfile.distro
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/package-lock.json
  test/node/vp/package.json
Due: markdownlint-cli2 --fix, prettier --write

feat: convert the git-lfs tool to a typescript installer (#7495)
  docs/custom-registries.md
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
  src/usr/local/containerbase/tools/v2/git-lfs.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the sbt tool to a typescript installer (#7496)
  docs/custom-registries.md
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
  src/usr/local/containerbase/tools/v2/sbt.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the rust tool to a typescript installer (#7497)
  docs/custom-registries.md
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
  src/usr/local/containerbase/tools/v2/rust.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

ci: run lightweight jobs on ubuntu-slim
  .github/workflows/auto-pr.yml
  .github/workflows/build.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/trivy.yml
Due: none

ci: run lightweight jobs on ubuntu-slim (#7528)
  .github/workflows/auto-pr.yml
  .github/workflows/build.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/trivy.yml
Due: none

docs: add tool installer best practices
  AGENTS.md
  docs/new-tool.md
  docs/tool-installer-best-practices.md
Due: markdownlint-cli2 --fix, prettier --write

docs: call the unverified download of old releases an explicit exception
  docs/tool-installer-best-practices.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  e1c90886b7e7e3e85b50532d999d71d79f6255d7
Due: none

test(vp): run planner check with node:child_process
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/package-lock.json
  test/node/vp/package.json
  test/node/vp/sync-versions.mjs
Due: prettier --write, eslint --fix

chore(renovate): drop Vite+ test fixture rule
  .github/renovate.json
Due: none

test(vp): report vp failures when it exits before reading stdin
  test/node/vp/sync-versions.mjs
Due: prettier --write, eslint --fix

fix: always remove the installers' temp folders
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/git/lfs.spec.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/java/sbt.spec.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/node/index.spec.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/rust.spec.ts
  src/cli/tools/rust.ts
Due: prettier --write, eslint --fix
