Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

ci: use oidc and report test results for codecov
  .github/workflows/build-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  eslint.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  fd6fcdd2cfc729f2ed5ccfecaccd45882859ce38
Due: none

Notes added by 'git notes add'
  979f0905f419fdc8c7e20e4c455e9f35aa86fbb4
Due: none

Notes added by 'git notes add'
  018fe02cc7c03e73da9b776c3c7aa7b250fee03e
Due: none

feat(cli): use node v24
  tools/esbuild.js
Due: prettier --write, eslint --fix

feat(cli): use node v24 (#5388)
  tools/esbuild.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  83e4ea1efc11acbd5ace2c1bb31adf25e5ea288a
Due: none

fix(node): node-gyp update should not attempt to rebuild any modules
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  05fb5376650e78c7130c383d37664d044be62d8d
Due: none

Fix existing test and ensure a consistent style
  test/node/Dockerfile
Due: none

Reuse existing test
  test/node/Dockerfile
Due: none

Notes added by 'git notes add'
  92add43f4d9bfb2c69f590a5ecedb11cb5751d95
Due: none

fix(node): node-gyp update should not attempt to rebuild any modules (#5416)
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  905bf8a5c054e7dca09a95b215455558fb449d0e
Due: none

ci: always report test results
  .github/workflows/build.yml
Due: none

chore: linting
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/prepare-tool.spec.ts
Due: prettier --write, eslint --fix

chore: fix import
  tools/esbuild.js
Due: prettier --write, eslint --fix

feat(docker): add buildx and docker-compose
  src/cli/install-tool/index.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

fix: wrong file names
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
Due: prettier --write, eslint --fix

chore: mount docker socket to devcontainer
  .devcontainer/devcontainer.json
Due: none

fix: wrong compose repo url
  src/cli/tools/docker/compose.ts
Due: prettier --write, eslint --fix

chore: add missing test packages to devcontainer
  .devcontainer/Dockerfile
Due: none

feat(docker): add buildx and docker-compose (#5434)
  src/cli/install-tool/index.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

chore: add missing test packages to devcontainer (#5437)
  .devcontainer/Dockerfile
Due: none

chore: mount docker socket to devcontainer (#5435)
  .devcontainer/devcontainer.json
Due: none

ci: cancel stale merge queue workflows
  .github/workflows/cancel-stale-merge-queue-workflows.yml
Due: none

Notes added by 'git notes add'
  3a7587df9648545ca5bfab3bb68d714031c373ff
Due: none

Apply suggestions from code review
  test/dotnet/Dockerfile
Due: none

test: fixup tests
  test/node/Dockerfile
Due: none

test(bats): allow running in our own devcontainer
  test/bash/util.bats
Due: shellcheck

test: fix tests
  test/node/Dockerfile
Due: none

test(bats): allow running in our own devcontainer (#5461)
  test/bash/util.bats
Due: shellcheck

test(node): require newer re2
  test/node/test/a/package.json
Due: none

Notes added by 'git notes add'
  3770dd99796543a163bc628ffa934ae6c858162a
Due: none

Notes added by 'git notes add'
  8664152f7d4384ce103195d71da1840bf7c9c8e7
Due: none

Add paket tool
  src/cli/install-tool/index.ts
  src/cli/tools/dotnet/paket.ts
  src/cli/tools/index.ts
  src/usr/local/containerbase/tools/v2/paket.sh
Due: shellcheck, prettier --write, eslint --fix

Add test
  src/usr/local/containerbase/tools/v2/paket.sh
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
Due: shellcheck

fix(docker): install plugins globally
  src/cli/tools/docker/index.ts
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  58c3c86e9b682fe65bbe1ca3d826df8d4946cb80
Due: none
