Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  4d76148205eb7bc15001826c2a027474e46f4916
Due: none

docs(base): limit the compatibility rule to the same major version
  packages/base/README.md
Due: markdownlint-cli2 --fix, prettier --write

docs(tools): document the generated file writer
  tools/tools.ts
Due: prettier --write, eslint --fix

docs: clarify the version comparison and fix the wording
  packages/base/README.md
  src/cli/install-tool/index.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(prepare): register the v2 shell tools after the modern services
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
Due: prettier --write, eslint --fix

feat(prebuild): always verify the checksum (#7561)
  src/cli/tools/dotnet/mono.spec.ts
  src/cli/tools/utils/prebuild.spec.ts
  src/cli/tools/utils/prebuild.ts
Due: prettier --write, eslint --fix

feat: convert the python tool to a typescript installer (#7558)
  docs/custom-registries.md
  src/cli/install-tool/install-legacy-tool.service.spec.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/tools/python/index.spec.ts
  src/cli/tools/python/index.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/tools/v2/python.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the ruby tool to a typescript installer (#7559)
  docs/custom-registries.md
  docs/new-tool.md
  docs/tool-installer-best-practices.md
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/ruby/index.spec.ts
  src/cli/tools/ruby/index.ts
  src/cli/utils/types.ts
  src/cli/utils/v2-tool.spec.ts
  src/cli/utils/v2-tool.ts
  src/usr/local/containerbase/tools/v2/ruby.sh
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/latest/legacy-tools/dummy-v1.sh
  test/latest/legacy-tools/v2/dummy-v2.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: list no v2 tools when their folder is missing
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7dd04ab486acbe650931c9daf66eca2b44d0a0ff
Due: none

test: cover modern services winning over same-named v2 tools on install
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.spec.ts
Due: prettier --write, eslint --fix

feat: add `@containerbase/base` package with the supported tool list (#7435)
  .github/workflows/build.yml
  .gitignore
  docs/new-tool.md
  eslint.config.js
  package.json
  packages/base/README.md
  packages/base/data/tools.json
  packages/base/data/tools.schema.json
  packages/base/package.json
  packages/base/src/data.ts
  packages/base/src/index.ts
  packages/base/src/schema.ts
  packages/base/src/types.ts
  packages/base/src/zod.ts
  packages/base/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  test/packages/base.spec.ts
  tools/tools.ts
  tsconfig.json
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: cover modern services winning over same-named v2 tools on install (#7575)
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.spec.ts
Due: prettier --write, eslint --fix

feat(base): export the package.json
  packages/base/README.md
  packages/base/package.json
Due: markdownlint-cli2 --fix, prettier --write

feat: publish the @containerbase/base package
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: none

feat(base): export the package.json (#7578)
  packages/base/README.md
  packages/base/package.json
Due: markdownlint-cli2 --fix, prettier --write

feat: publish the @containerbase/base package (#7579)
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add nub to the supported tool list
  packages/base/data/tools.json
  packages/base/src/data.ts
Due: prettier --write, eslint --fix

test(nub): cover release installation and checksum validation
  src/cli/tools/nub.spec.ts
Due: prettier --write, eslint --fix

refactor(nub): use shared checksum helper
  src/cli/tools/nub.spec.ts
  src/cli/tools/nub.ts
Due: prettier --write, eslint --fix

chore(nub): include tool in test metadata
  .github/renovate.json
  test/latest/Dockerfile
Due: none

chore(nub): update release examples and tests to v0.9.3
  docs/custom-registries.md
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write

docs: document nub release download URLs
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

docs(nub): document installer methods and archive layout
  src/cli/tools/nub.ts
Due: prettier --write, eslint --fix

feat(tool): install nub from GitHub release binaries
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/nub.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

feat(nix): keep preset store and state dirs
  src/cli/tools/nix.spec.ts
  src/cli/tools/nix.ts
  test/nix/Dockerfile
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f9558e29e622daafe336df1ace0f3755034045a5
Due: none

feat(tool): install nub from GitHub release binaries (#7463)
  .github/renovate.json
  docs/custom-registries.md
  packages/base/data/tools.json
  packages/base/src/data.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/nub.spec.ts
  src/cli/tools/nub.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  e6f7e7d25c8d936ff36c81649e93ba0d2b05faef
Due: none

test(base): ensure the tools are sorted
  packages/base/src/index.ts
  test/packages/base.spec.ts
Due: prettier --write, eslint --fix

chore(renovate): wait 2 days for cabal updates
  .github/renovate.json
Due: none

fix(swift): download 6.4 and later x.y.0 releases with the full version
  src/cli/tools/swift.spec.ts
  src/cli/tools/swift.ts
Due: prettier --write, eslint --fix

test(base): ensure the tools are sorted (#7583)
  packages/base/src/index.ts
  test/packages/base.spec.ts
Due: prettier --write, eslint --fix

chore(renovate): wait 2 days for cabal updates (#7584)
  .github/renovate.json
Due: none

fix(swift): download 6.4 and later x.y.0 releases with the full version (#7586)
  src/cli/tools/swift.spec.ts
  src/cli/tools/swift.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6d5bcb35474b2f09cb7589c3d99976391174e0d0
Due: none

test(node): skip re2 build with pnpm 12 and keep corepack on pnpm 10
  .github/renovate.json
  test/node/Dockerfile
Due: none

test: run the distro tests with test:docker
  AGENTS.md
  README.md
  tools/test.js
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: run the distro tests with test:docker (#7596)
  AGENTS.md
  README.md
  tools/test.js
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: publish maintenance releases on a release-<range> npm tag
  .releaserc.json
Due: none
