Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  c643ecfcac31bc098912f6f1cb8fdfb16c435f07
Due: none

feat(tool): add protoc
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/protoc.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

fix
  src/cli/tools/protoc.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

coerceSemver
  renovate.json
  src/cli/tools/protoc.ts
  src/cli/utils/versions.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

override validate only in protoc
  src/cli/tools/protoc.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --write

Update renovate.json
  renovate.json
Due: none

Update src/cli/tools/protoc.ts
  src/cli/tools/protoc.ts
Due: eslint --fix, prettier --write

lint
  src/cli/tools/protoc.ts
Due: eslint --fix, prettier --write

feat(tool): add protoc (#3947)
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/protoc.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8ff624c21083c8bd6abc0eaaeb9311616714d6f9
Due: none

ci: run arm64 tests on ubuntu arm
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

ci: run arm64 tests on ubuntu arm runner (#3958)
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

feat(cli): add cleanup paths command
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/cleanup-path.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
Due: shellcheck, eslint --fix, prettier --write

test: fix test
  src/cli/command/cleanup-path.spec.ts
Due: eslint --fix, prettier --write

fix: prettier
  src/cli/command/cleanup-path.ts
Due: eslint --fix, prettier --write

chore: husky migration
  .husky/pre-commit
Due: shellcheck

ci: optimize
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
  docker-bake.hcl
Due: none

ci: optimize (#3975)
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
  docker-bake.hcl
Due: none

feat(cli): add cleanup path command (#3970)
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/cleanup-path.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  cf7830ace9352ae7729f0d50a6b898ac87bc7c58
Due: none

ci: speedup base builds
  .github/actions/check-docker/action.yml
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

ci: fix substitution
  .github/workflows/build.yml
Due: none

ci: prebuild cli
  .github/workflows/build.yml
Due: none

chore(pnpm): restore arm64 binaries
  package.json
Due: none

build: update patches
  package.json
  patches/@yao-pkg__pkg.patch
  pnpm-lock.yaml
Due: none

build: patch global-agent
  package.json
  patches/global-agent.patch
  pnpm-lock.yaml
Due: none

chore: testing
  .github/workflows/build.yml
Due: none

ci: fix download paths
  .github/workflows/build.yml
Due: none

ci: fix executables
  .github/workflows/build.yml
Due: none

ci: reduce parallel jobs
  .github/workflows/build.yml
Due: none

ci: more debug
  .github/workflows/build.yml
Due: none

ci: fix perms
  .github/workflows/build.yml
Due: none

ci: cleanup and rename
  .github/actions/check/action.yml
  .github/workflows/build.yml
Due: none

ci: speedup base builds (#3994)
  .github/actions/check/action.yml
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

Notes added by 'git notes add'
  8b988e3afcffbdab0cf5ff77c0fd4c5932edf466
Due: none

Notes added by 'git notes add'
  8e54041f50c0b0687e6a3fc10f3cc88a60e93797
Due: none

Notes added by 'git notes add'
  b132b23f1c9ff6e6c0bb2828f6c4a5a9762b1428
Due: none

Notes added by 'git notes add'
  321c1df20ca65a3c95569f8df2343db7ba9e4091
Due: none

Notes added by 'git notes add'
  4e05bf463e8206dbc8a4d7e7a73ba555aa8a8640
Due: none

Notes added by 'git notes add'
  3a140999b209fe2a382b16314ba4bbea004a1ab5
Due: none
