Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  3c7a21fd6acbeff07617f8de6878add21880b2c5
Due: none

feat: add support for json log formats
  src/cli/utils/logger.ts
Due: eslint --fix, prettier --write

feat(rust): support beta and nightly
  src/usr/local/containerbase/tools/v2/rust.sh
  test/rust/Dockerfile
Due: shellcheck

feat(rust): support beta and nightly (#3785)
  src/usr/local/containerbase/tools/v2/rust.sh
  test/rust/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  c23e372f4f0f5e900127e89f82092fc2d54211c9
Due: none

feat: add support for json log formats tests
  src/cli/utils/logger.spec.ts
Due: eslint --fix, prettier --write

feat: add support for json log formats tests 2
  src/cli/utils/logger.spec.ts
Due: eslint --fix, prettier --write

fix(php): use github for latest composer release
  docs/custom-registries.md
  src/cli/tools/php/composer.ts
Due: eslint --fix, prettier --write

docs: fix download links
  docs/custom-registries.md
Due: none

feat: add support for json log formats (#3783)
  src/cli/utils/logger.spec.ts
  src/cli/utils/logger.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2bf3b888f6f354811530d3dae96bb88ab29be49a
Due: none

revert: latest distro Docker test
  test/latest/Dockerfile
Due: none

chore(renovate): add dummy base branch
  renovate.json
Due: none

Update docs/custom-registries.md
  docs/custom-registries.md
Due: none

test: add arm64 test
  test/latest/Dockerfile.arm64
Due: none

Notes added by 'git notes add'
  d65e2dee648ee15f76e966c1fa202cbfb20143ba
Due: none

Notes added by 'git notes add'
  904bed92a2235e521792349965b8b05b11bb19ee
Due: none

Notes added by 'git notes add'
  253dc729bac5e0e2cb1a21eb3177cc1221987fb3
Due: none

Notes added by 'git notes add'
  200248099e29b81b0d4452af1a95a2607a4b40a6
Due: none

Notes added by 'git notes add'
  028f821a1a94ff07b69f42849ae55f18f3e8a9a1
Due: none

fix(WallyInstallService): add noble workaround
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

fix(WallyInstallService): actually use code
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

feat: add Wally (#2249)
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/wally.ts
  test/Dockerfile.distro
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5027c7a4f4fc5af93803598fb16b24e4fec43376
Due: none

Notes added by 'git notes add'
  4ca93f14a06d1c806f792c52f73b990b6573fdf6
Due: none

Notes added by 'git notes add'
  c0ca4c88f582a5287fc0a9d1599183834d15e976
Due: none

Notes added by 'git notes add'
  f150a2e4ff16526b1b570b4347c172ddb9b806a1
Due: none

fix(dotnet): use new cdn url
  docs/custom-registries.md
  src/cli/tools/dotnet.ts
  test/dotnet/Dockerfile
Due: eslint --fix, prettier --write

fix(dotnet): use new cdn url (#3867)
  docs/custom-registries.md
  src/cli/tools/dotnet.ts
  test/dotnet/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ca6937eeb6c2df8c1c5b1d2c1e170820dacfc651
Due: none

fix(erlang): workaround for elixir v1.18.1
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

chore(renovate): add ruby versioning annotaion
  test/ruby/Dockerfile
Due: none

Notes added by 'git notes add'
  44acc09ba5e758b92271368ed846ad802ac58e5b
Due: none

chore(renovate): add ruby versioning annotation (#3868)
  test/ruby/Dockerfile
Due: none

Notes added by 'git notes add'
  cfab7ddaca399a5177d76f6c2c1f86cb40150046
Due: none

Notes added by 'git notes add'
  646ddac446bfed99e916e76e494810c698e10187
Due: none

Notes added by 'git notes add'
  4cf7c6cc58820ecde2019ef0a67027d6ad15042e
Due: none

Notes added by 'git notes add'
  d4c2e400f177c9f6319e1a6b9806e0f08abda35e
Due: none

Notes added by 'git notes add'
  38ccdaa3b38326c1e60db62e8af2a0f2bf9f5260
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
