Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  cefff077bb7f0c5616909394fe324fc571fa9cde
Due: none

Notes added by 'git notes add'
  153f81fdc76cb621d36e9efb916c8949291abf2c
Due: none

Notes added by 'git notes add'
  2ba17cd8e0b706a8ac02205c91c6e32fb4986c6d
Due: none

Notes added by 'git notes add'
  45a15c9b1eb3827f18236c02236c3259806afc76
Due: none

Notes added by 'git notes add'
  c9761cc94a498f6d2cd532f5d154796956ecc595
Due: none

Notes added by 'git notes add'
  7dc1e85d199fff7593cff1b44ca494be5f5c5f99
Due: none

Notes added by 'git notes add'
  47aface0d4d7b6ebcd1fcf406e0b99c8d5568f4b
Due: none

Notes added by 'git notes add'
  c764e4f08cb57f06c346927955588d5bb0e4a2a2
Due: none

Notes added by 'git notes add'
  d33cf7b130a93e546812daa9e64dd9159073ae96
Due: none

Notes added by 'git notes add'
  3824108f5c4b33d2cf329464c56b479ca6497f21
Due: none

Notes added by 'git notes add'
  291a53efb9de8bffeed31bd324161f68b6b33d59
Due: none

Notes added by 'git notes add'
  0dd8ed4b73117d8c0873895d0a1e4cec38db6537
Due: none

Notes added by 'git notes add'
  89cbffd5707e300bf700dc41b91bf477f55ae353
Due: none

Notes added by 'git notes add'
  45c123fd56e78ea599bef79c58eff79cebb9f3b5
Due: none

Notes added by 'git notes add'
  e47d06c9757909f19e168ba1a4975f59be2d1b4c
Due: none

feat: add `rsync` to base image
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

tes(java): disable unreliable `archive.apache.org` test
  test/java/Dockerfile
Due: none

Notes added by 'git notes add'
  10f55ec4ff7fb043d20d75684f0aa151d2e260e5
Due: none

Notes added by 'git notes add'
  0e382fe7c9139d77a6b136d36945219e3b6336c4
Due: none

Notes added by 'git notes add'
  c0e467e08b1904507107698e0a9c38e3801029f6
Due: none

test: sort
  test/Dockerfile.distro
Due: none

feat: add devbox as an install tool (#3191)
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/devbox.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c2ef8e6c92f49235712d6d955651170cc02fcec6
Due: none

Notes added by 'git notes add'
  8d9f4a6ee1b570e283e7f065de80f223407b8965
Due: none

Notes added by 'git notes add'
  9d124f74ecea6121088ed496c63dde02cfa82d1f
Due: none

revert: reorderings
  test/latest/Dockerfile
Due: none

fix(WallyInstallService): correct names
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

refactor: update to latest project conventions
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

refactor: use wally-prebuild
  docs/custom-registries.md
  src/cli/tools/wally.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
Due: eslint --fix, prettier --write

chore: reuse var
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d8943315010cdb9ad797274f6604f3c27e2dfe42
Due: none

fix(WallyInstallService): add distro to prebuild version
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

test(java): reproduce bug
  test/java/Dockerfile
Due: none

fix(java): wrong gradle init
  src/cli/tools/java/index.ts
Due: eslint --fix, prettier --write

test: fix docker buildx env
  tools/test.js
Due: eslint --fix, prettier --write

fix(java): wrong gradle init (#3778)
  src/cli/tools/java/index.ts
  test/java/Dockerfile
  tools/test.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6af2d90d3e1da45cae7fdf6e73b3a7b03495607c
Due: none

Notes added by 'git notes add'
  322b26d623267f3899cba0f9ab2a2c7f5eb4a5f6
Due: none

Notes added by 'git notes add'
  94d380f12448fdf0ac5398dbd855c1c7b11aaa5a
Due: none

fix: simplify `check_tool_requirements`
  src/usr/local/containerbase/utils/v2/defaults.sh
Due: shellcheck
