Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

fix non-root
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

docs: add cdn docs (#2769)
  docs/cdn.md
Due: none

simplify platform selection
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

use bsdtar for unzipping
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

prefetch all toolchains
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

Notes added by 'git notes add'
  9ceeb287950b1ebe3ff8b3c12eeb8407d1f102e7
Due: none

feat(php): convert composer installer
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/php/composer.ts
  src/usr/local/containerbase/tools/v2/composer.sh
  test/php/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

test: disable latest test
  test/php/Dockerfile
Due: none

feat(php): add composer version resolver
  src/cli/install-tool/index.ts
  src/cli/tools/php/composer.ts
  test/php/Dockerfile
Due: eslint --fix, prettier --write

docs: update custom registries
  docs/custom-registries.md
Due: none

fix: retry download
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck

Notes added by 'git notes add'
  556e1b1c71723ff095cd90e1fa3e139956decfc9
Due: none

feat(php): convert composer installer (#2848)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/php/composer.ts
  src/usr/local/containerbase/tools/v2/composer.sh
  test/php/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  b336e4d0b4d567bf452b126bcd2542e384b02bfc
Due: none

Notes added by 'git notes add'
  1a3d90f5ae5c291127305616972fdf79c18eaca3
Due: none

feat(java): add maven version resolver
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/java/maven.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

feat(java): add maven version resolver (#2871)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/java/maven.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  04c829569f9969f70c81e8ee11b7c9dcd742fbf1
Due: none

Notes added by 'git notes add'
  e707443edd3e4a7f0f2e9e1d15e0ecadaf8000e0
Due: none

feat: Add Copier
  src/usr/local/containerbase/tools/v2/copier.sh
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: shellcheck

fix(cli): wrong rootDir
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --write

test: better path handling
  src/cli/services/path.service.spec.ts
  test/global-setup.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ff0a6dafa524bb5fe0493b3f947d8a88c4cae1b6
Due: none

ci: disable cdn usage
  .github/workflows/build.yml
Due: none

feat!: redirect folders to `/opt/containerbase` (#2090)
  docs/custom-base-image.md
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  src/usr/local/sbin/install-containerbase
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

feat!: set `XDG_<xxxx>_HOME` variables (#2733)
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/latest/Dockerfile
Due: shellcheck

feat(cli): set `PUB_CACHE`
  src/cli/tools/dart/index.ts
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

feat(golang)!: change paths (#2727)
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck

feat(java)!: redirect maven and gradle home
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

feat(ruby)!: set cocoapods cache
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

feat(ruby)!: set cocoapods home and remove gem home
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

feat(cli)!: load tool env from shell wrapper
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/flutter.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

fix(cli): only create tool path if not exist
  src/cli/prepare-tool/prepare-tool.service.ts
Due: eslint --fix, prettier --write

test: fix dockerfile casing
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

docs: fix dockerfile casing
  docs/custom-base-image.md
Due: none

refactor(cli): extend `fileExists` function
  src/cli/services/path.service.ts
  src/cli/tools/java/utils.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --write

refactor(cli): rename arg
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/bazelisk/index.ts
  src/cli/tools/dotnet/index.ts
Due: eslint --fix, prettier --write

feat(cli): add `ensureToolPath` helper
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/bazelisk/index.ts
  src/cli/tools/bun.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux/index.ts
  src/cli/tools/gleam.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e4a8b459a0f286ee8d0aac0a59cb9c221954f21b
Due: none

refactor: add `createDir` helper
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
