Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

feat(rust)!: drop `CARGO_HOME` and `RUST_BACKTRACE`, redirect cargo home
  src/usr/local/containerbase/tools/v2/rust.sh
  test/rust/Dockerfile
Due: shellcheck

build: use `ghcr.io/containerbase/ubuntu` mirror
  Dockerfile
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

chore(renovate): fix config
  renovate.json
Due: none

Notes added by 'git notes add'
  3e41c8b050bb054185f6d64db94f937b050e170a
Due: none

feat: Add Copier (#2873)
  src/usr/local/containerbase/tools/v2/copier.sh
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: shellcheck

Notes added by 'git notes add'
  ff9369bab56745eae5e760a58fcba4848bb3b856
Due: none

fix(node): wrong perms for `~/.npmrc`
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6a3f01d54de46a93556c448d68fe3cd6efb90acf
Due: none

Notes added by 'git notes add'
  eafb376cef70ab57cbab52dfb1c1a8337410adab
Due: none

Notes added by 'git notes add'
  7d260f3dab1272f01ffe5faa014efa92893bcd8e
Due: none

use existing toolchain
  src/usr/local/containerbase/tools/v2/rye.sh
  test/rye/Dockerfile
Due: shellcheck

update version
  docs/custom-registries.md
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/rye/Dockerfile
  test/rye/Dockerfile.arm64
Due: none

Notes added by 'git notes add'
  2985e47da53307db499c1efe5118421c4daea741
Due: none

Notes added by 'git notes add'
  76ceaaa88e30779169c5a9caa612e6c367ff0284
Due: none

Notes added by 'git notes add'
  355c11630986d0f1606d8045fb8a84a059d18cc6
Due: none

Notes added by 'git notes add'
  983eeef2cbf5cc75da6a28701977acd1c6fa18f1
Due: none

feat: add skopeo
  src/usr/local/containerbase/tools/v2/skopeo.sh
  test/latest/Dockerfile
Due: shellcheck

feat: add sops tool
  src/usr/local/containerbase/tools/v2/sops.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: shellcheck

Notes added by 'git notes add'
  aa21fde34448b5953cbd60c3c45261f1d13956d7
Due: none

feat: add kubectl tool
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/kubectl.ts
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

feat/cli/python): convert tools and add install-pip command
  package.json
  pnpm-lock.yaml
  src/cli/command/index.ts
  src/cli/command/install-pip.ts
  src/cli/command/install.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/schema.ts
  src/cli/tools/python/utils.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/tools/v2/checkov.sh
  src/usr/local/containerbase/tools/v2/copier.sh
  src/usr/local/containerbase/tools/v2/hashin.sh
  src/usr/local/containerbase/tools/v2/pdm.sh
  src/usr/local/containerbase/tools/v2/pip-tools.sh
  src/usr/local/containerbase/tools/v2/pipenv.sh
  src/usr/local/containerbase/tools/v2/poetry.sh
  test/python/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

chore(renovate): update config
  renovate.json
Due: none

Notes added by 'git notes add'
  fe632b0cdcafe89d43123076eec140d68198cf2f
Due: none

test: add tests
  src/cli/command/install-pip.spec.ts
  src/cli/command/install.ts
Due: eslint --fix, prettier --write

test(cli): add tests
  src/cli/index.spec.ts
  src/cli/main.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/utils/common.spec.ts
Due: eslint --fix, prettier --write

feat(cli/python): convert tools and add install-pip command (#3015)
  package.json
  pnpm-lock.yaml
  src/cli/command/index.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-pip.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/schema.ts
  src/cli/tools/python/utils.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/tools/v2/checkov.sh
  src/usr/local/containerbase/tools/v2/copier.sh
  src/usr/local/containerbase/tools/v2/hashin.sh
  src/usr/local/containerbase/tools/v2/pdm.sh
  src/usr/local/containerbase/tools/v2/pip-tools.sh
  src/usr/local/containerbase/tools/v2/pipenv.sh
  src/usr/local/containerbase/tools/v2/poetry.sh
  test/python/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

test(cli): add more tests
  .vscode/launch.json
  src/cli/install-tool/index.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/tools/__mocks__/bun.ts
  src/cli/tools/php/__mocks__/composer.ts
  vite.config.ts
Due: eslint --fix, prettier --write

test: fake root
  src/cli/install-tool/index.spec.ts
Due: eslint --fix, prettier --write

test: mock del
  src/cli/install-tool/index.spec.ts
Due: eslint --fix, prettier --write

test(cli): fix tests
  src/cli/install-tool/index.spec.ts
  src/cli/prepare-tool/index.spec.ts
Due: eslint --fix, prettier --write

test(cli): add missing mock
  src/cli/prepare-tool/index.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  66286c693339efdff6a20e010fb8f59afc46bedd
Due: none

feat(sops): comvert installer
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/sops.ts
  src/usr/local/containerbase/tools/v2/sops.sh
Due: shellcheck, eslint --fix, prettier --write

fix: wrong umask for executables
  src/cli/tools/kubectl.ts
  src/cli/tools/php/composer.ts
Due: eslint --fix, prettier --write

chore(renovate): disable eslint v9
  renovate.json
Due: none

feat(golang): pick patch version automatically
  src/usr/local/containerbase/tools/v2/golang.sh
  test/golang/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  487f722604c4b525564098000eec008d2dea9dc9
Due: none

feat(cli): convert skopeo
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/skopeo.ts
  src/usr/local/containerbase/tools/v2/skopeo.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/latest/Dockerfile.arm64
Due: shellcheck, eslint --fix, prettier --write

feat(cli): convert helm
  src/cli/install-tool/index.ts
  src/cli/tools/helm.ts
  src/cli/tools/index.ts
  src/usr/local/containerbase/tools/v2/helm.sh
Due: shellcheck, eslint --fix, prettier --write

feat(cli): convert helmfile
  src/cli/install-tool/index.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/index.ts
Due: eslint --fix, prettier --write
