Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

feat: allow chaning primary group
  docs/custom-base-image.md
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/user.sh
  test/latest/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

fix: silence apt calls
  src/usr/local/containerbase/util.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: wrong permissions on home
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/utils/user.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  6c/edb846b2a8998f79afac4933204b7f01ffba48
Due: prettier --ignore-unknown --write

chore: update and test devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yml
Due: prettier --ignore-unknown --write

chore: use lowercase for name
  .github/workflows/devcontainer.yml
Due: prettier --ignore-unknown --write

chore: update and test devcontainer (#1803)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yml
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  bc/f6e07c03a14e60fe7c44489c7efec3b909b821
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4b/6d356299569086ced8101d97b4a0a756f568dc
Due: prettier --ignore-unknown --write

feat: optimize renovate installation
  docs/custom-registries.md
  renovate.json
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/Dockerfile.jammy
  test/node/Dockerfile
  test/node/Dockerfile.arm64
Due: eslint --fix, prettier --ignore-unknown --write

fix: allow re2 mirror replacement
  src/cli/tools/node/npm.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: fix re2 tests
  test/node/Dockerfile
  test/node/test/a/package.json
Due: prettier --ignore-unknown --write

feat: optimize renovate installation (#1817)
  docs/custom-registries.md
  renovate.json
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/Dockerfile.jammy
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/test/a/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore(renovate): automerge test deps
  renovate.json
Due: prettier --ignore-unknown --write

chore(renovate): automerge gradle
  renovate.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  59/d40e0fea90cef75b39d354425cf8cb9902e654
Due: prettier --ignore-unknown --write

ci: use frozen install
  .github/actions/setup-node/action.yml
Due: prettier --ignore-unknown --write

ci: use frozen install (#1824)
  .github/actions/setup-node/action.yml
Due: prettier --ignore-unknown --write

feat: use node v20
  package.json
  pnpm-lock.yaml
  tools/esbuild.js
  tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli/node): install latest node and npm tool versions
  docs/custom-registries.md
  package.json
  pnpm-lock.yaml
  src/cli/command/index.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/http.service.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/codes.ts
  src/cli/utils/versions.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): send custom user agent header
  package.json
  pnpm-lock.yaml
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: support replacement when doing exist checks
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  8e/53840d5cb48b149cd284436a9a9a5aa950e87a
Due: prettier --ignore-unknown --write

feat(cli): extend http service
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  6b/24e804c214a563b90189e416d4618d6ad0feac
Due: prettier --ignore-unknown --write

refactor(cli): prepare for install without version
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: more reverts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-tool.spec.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

chore: more reverts
  docs/custom-registries.md
Due: prettier --ignore-unknown --write

refactor: simplify install command
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor(cli): prepare for install without version (#1833)
  src/cli/command/index.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/codes.ts
  src/cli/utils/versions.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

ci: read node version from file
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .node-version
Due: prettier --ignore-unknown --write

feat(cli): update node to v20 (#1834)
  package.json
  pnpm-lock.yaml
  tools/esbuild.js
  tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  d2/99b50cb08c17efbbee5f7951d1e5d52b3d1108
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  9f/0b18e47bc8c19cd3dc11ae64d061580a6e3621
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  5e/fe515eeba786a8824ea8dcdb6af8def04210b8
Due: prettier --ignore-unknown --write

build: fix pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: use resolutions instead of pnpm overrides
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  24/92565bb16e217a616a1d3c2a9e2def72fd00f6
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  bb/aa2733b378556972646e18b3f00524c35ec6d7
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  dc/a0afc3115c817f81321f30b8aee45c54eb39ac
Due: prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
