Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  42/264111597eef1c15b2184ee850e1f6ad8b35e7
Due: prettier --ignore-unknown --write

feat!: drop obsolete scripts (#1014)
  src/usr/local/bin/install-buildpack
  src/usr/local/bin/install-gem
  src/usr/local/bin/install-npm
  src/usr/local/bin/install-pip
  test/node/Dockerfile
  test/python/Dockerfile
  test/ruby/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  e3/499309a8bd13b4255c7c4ef0409a453479b961
Due: prettier --ignore-unknown --write

update binary paths
  .gitignore
  src/usr/local/bin/install-containerbase
  tools/esbuild.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

remove obsolete code
  Dockerfile
Due: prettier --ignore-unknown --write

register commands
  src/cli/command/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

use nestjs and dependency injection
  package.json
  src/cli/command/index.ts
  src/cli/command/install-tools/legacy.ts
  src/cli/command/install-tools/node.ts
  src/cli/command/prepare-tool.ts
  src/cli/command/prepare-tool/legacy.ts
  src/cli/common.ts
  src/cli/prepare-tool/common.ts
  src/cli/prepare-tool/module.ts
  src/cli/prepare-tool/services/base.service.ts
  src/cli/prepare-tool/services/prepare-tool.service.ts
  src/usr/local/containerbase/bin/install-tool
  src/usr/local/containerbase/bin/prepare-tool
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

use inversify
  package.json
  src/cli/command/prepare-tool.ts
  src/cli/common.ts
  src/cli/index.ts
  src/cli/main.ts
  src/cli/prepare-tool/common.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/services/base.service.ts
  src/cli/prepare-tool/services/prepare-tool.service.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

use more dependency injection
  src/cli/command/install-tools/legacy.ts
  src/cli/command/install-tools/node.ts
  src/cli/command/prepare-tool.ts
  src/cli/prepare-tool/common.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

add prepare docker command
  src/cli/prepare-tool/common.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/env.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.ts
  src/cli/tools/docker/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

add docker installer
  src/cli/command/index.ts
  src/cli/command/install-tools/index.ts
  src/cli/command/install-tools/node.ts
  src/cli/command/prepare-tool.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/common.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/env.service.ts
  src/cli/services/path.service.ts
  src/cli/tools/docker/index.ts
  src/cli/utils/logger.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/tools/v2/docker.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

refactor
  src/cli/command/index.ts
  src/cli/command/install-tool.ts
  src/cli/command/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

revert changes
  tools/prepare-release.js
Due: eslint --fix, prettier --ignore-unknown --write

write version file and skip linking
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.ts
  src/cli/services/version.servies.ts
Due: eslint --fix, prettier --ignore-unknown --write

create shell wrapper and fix access rights
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/env.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/docker/index.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

better error handling
  src/cli/services/version.service.ts
  src/cli/types.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

use node-tar
  package.json
  src/cli/tools/docker/index.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  16/8093ced69df4d4be81c89a2263a80b83b7704d
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  c7/1fa28707697c9c4a3629754e564de43c923a4d
Due: prettier --ignore-unknown --write

fix(maven): handle newer checksum files
  src/usr/local/containerbase/tools/v2/maven.sh
  test/java/Dockerfile
  tools/test.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: wrong cut position
  src/usr/local/containerbase/tools/v2/maven.sh
Due: shellcheck, prettier --ignore-unknown --write

fix(maven): handle newer checksum files (#1046)
  src/usr/local/containerbase/tools/v2/maven.sh
  test/java/Dockerfile
  tools/test.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  45/9f4c98de023f2a6cc3b8337131bf588faf5f8a
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  c8/0ebe21829b40f4be6323e5e32112bc0f12c5ed
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  37/dc162968f3c5a9c88335e22c179071f86df510
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  test/java/Dockerfile
Due: prettier --ignore-unknown --write

feat: add cache
  package.json
  src/cli/main.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.ts
  src/cli/tools/docker/index.ts
  tools/test.js
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat!: drop buildpack compabillity
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/cache.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/environment.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: drop obsolete warning
  src/usr/local/containerbase/util.sh
Due: shellcheck, prettier --ignore-unknown --write

feat: enable provenance
  tools/publish-release.js
Due: eslint --fix, prettier --ignore-unknown --write

feat: add conan
  src/usr/local/containerbase/tools/v2/conan.sh
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/python/test/b-conan/conanfile.txt
Due: shellcheck, prettier --ignore-unknown --write

fix: drop obsolete warning (#1069)
  src/usr/local/containerbase/util.sh
Due: shellcheck, prettier --ignore-unknown --write

feat: enable provenance (#1070)
  tools/publish-release.js
Due: eslint --fix, prettier --ignore-unknown --write

feat: prepare conan
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck, prettier --ignore-unknown --write

test: fix version conflicts
  test/python/test/b-conan/conanfile.txt
Due: prettier --ignore-unknown --write

fix: wrong path
  src/usr/local/containerbase/tools/v2/conan.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: only require conan prepare
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/utils/python.sh
  test/python/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

feat!: drop buildpack compabillity (#1068)
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/cache.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/environment.sh
Due: shellcheck, prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
