Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

feat(python): add `poetry-plugin-pypi-mirror` plugin
  src/cli/tools/python/utils.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --write

fix: use semver deep imports
  .eslintrc.cjs
  src/cli/tools/dart/index.ts
  src/cli/tools/gleam.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/ruby/gem.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --write

build: drop typanion
  package.json
  pnpm-lock.yaml
  src/cli/command/install-tool.ts
  src/cli/utils/versions.spec.ts
  src/cli/utils/versions.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  59cbc9527c2d95ea2f0f5fb7e1d00dfa9e518c0d
Due: none

feat(python): convert conan installer
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/python/conan.ts
  src/usr/local/containerbase/tools/v2/conan.sh
  test/python/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

tools/v2/nix.sh: Fix install script for version > 2.23
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

feat(ruby): add version resolver
  src/cli/install-tool/index.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/schema.ts
  src/cli/tools/ruby/utils.ts
  test/ruby/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  bf8ea4af37e8334bb058df2913f3710764a71ccb
Due: none

feat(php): convert php installer
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/php/index.ts
  src/usr/local/containerbase/tools/v2/php.sh
  test/php/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  ab59afa9f38a4ede31081501f7a28de0d9ed0b52
Due: none

fix(nix): update path to hydra build for 2.24 and newer
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

fix(nix): fix version check for 1.x versions
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

docs(nix): document new hydra path
  docs/custom-registries.md
Due: none

fix!: drop obsolete scripts
  src/usr/local/containerbase/utils/java.sh
  src/usr/local/containerbase/utils/node.sh
  src/usr/local/containerbase/utils/python.sh
  test/bash/java.bats
Due: shellcheck

fix(nix): update path to hydra build for 2.24 and newer (#3066)
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

Notes added by 'git notes add'
  d10f590db58b93fc2d6e4f266632520d37315dab
Due: none

Notes added by 'git notes add'
  90cd04550a5c38035038d3f04d50143ac22fe17d
Due: none

Notes added by 'git notes add'
  23c5fbe54d75e331fecd9d17fa57765a401e01bf
Due: none

test: use ttl.sh temporary images
  .github/workflows/build.yml
  docker-bake.hcl
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
Due: none

ci: support multiarch builds
  .github/workflows/build.yml
Due: none

test: fix push and output passing
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

test: use ttl.sh for more images
  .github/workflows/build.yml
  docker-bake.hcl
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
Due: none

test: revert distro tests
  .github/workflows/build.yml
  docker-bake.hcl
  test/Dockerfile.jammy
  test/Dockerfile.noble
Due: none

test: convert missing files
  .github/workflows/build.yml
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

test: use ttl.sh temporary images (#3074)
  .github/workflows/build.yml
  docker-bake.hcl
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

test: refactor distro tests
  .github/workflows/build.yml
  docker-bake.hcl
  test/Dockerfile.distro
  test/Dockerfile.jammy
Due: none

test(python): drop duplicate tests
  test/python/Dockerfile
Due: none

test: update renovate annotations
  README.md
  docs/custom-base-image.md
  test/Dockerfile.full
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/latest/Dockerfile
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
Due: none

test: fix renovate annotation
  test/Dockerfile.distro
Due: none

test: drop obsolete file
  test/Dockerfile.full
Due: none

test: set focal as latest
  test/Dockerfile.distro
Due: none

test: prepare for ubuntu 24.04
  test/erlang/Dockerfile
  test/latest/Dockerfile
  test/swift/Dockerfile
Due: none

feat!: update ubuntu to 24.04
  .github/workflows/build.yml
  Dockerfile
  test/Dockerfile.distro
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
Due: none

ci: enable full noble checks
  .github/workflows/build.yml
Due: none

feat(nix): use our own prebuilds
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

feat(nix): use our own prebuilds (#3087)
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck

fix(nix): require v2.10.3+
  src/usr/local/containerbase/tools/v2/nix.sh
  test/nix/Dockerfile
Due: shellcheck

test(nix): use docker secrets
  .github/workflows/build.yml
  docker-bake.hcl
  test/nix/Dockerfile
Due: none

ci: fix wrong arg
  .github/workflows/build.yml
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
