Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

feat: add nuget tool (#5992)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/mono.ts
  src/cli/tools/nuget.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  2fbc11dba192384ed8f270e4cb06e2d475bae9c2
Due: none

feat: add mise
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/mise.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: add mise (#5978)
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/mise.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  f83bf740ba60558a89ef2d92222871e005fdc639
Due: none

Notes added by 'git notes add'
  19b47c2a2218292eb39e3c7b31a25ddf83995ac4
Due: none

Notes added by 'git notes add'
  998427a4c1b1a3fafbc6dc336c16ebaecca85a17
Due: none

Notes added by 'git notes add'
  6997145e16fb7a035b1f85a1ef5cd0a07fc9f2a9
Due: none

Notes added by 'git notes add'
  d5f4c20a697ed9d7e506935d188ffe96ec4110da
Due: none

Notes added by 'git notes add'
  abd1fe7b863a5f88569e2d50282410611ca5826a
Due: none

Notes added by 'git notes add'
  aba4db2e091bd5230b2e95ea6f6959f3b6b444ed
Due: none

Notes added by 'git notes add'
  a57eee0386e49dd34fc5cc854d8c4c4ae4bcb4dd
Due: none

Notes added by 'git notes add'
  8a5221a921554a4c1a98a331c35ebab2ab342489
Due: none

test(tools/node): document existing behaviour for `NODE_OPTIONS` in `env.sh`
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

test(tools/node): document existing behaviour for `NODE_OPTIONS` in `env.sh` (#6071)
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

fix(tools/node): merge `NODE_OPTIONS` with process environment, if set
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
Due: prettier --write, eslint --fix

fixup! fix(tools/node): merge `NODE_OPTIONS` with process environment, if set
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

test: use async IO
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b6bbc27689981418af0430112c380048d64987ed
Due: none

Notes added by 'git notes add'
  5c461e3a80372ce75703ffe01db83993fc5956ab
Due: none

test: use async IO (#6075)
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

fix(tools/node): ensure node uses openssl ca
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: prettier --write, eslint --fix

fix(cli): drop `nano-spawn`
  package.json
  patches/nano-spawn.patch
  pnpm-lock.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/utils/index.ts
  tools/bats.js
  tools/test.js
Due: prettier --write, eslint --fix

fix(tools/node): ensure node uses openssl ca (#6089)
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: prettier --write, eslint --fix

fix(cli): more reverts
  src/cli/services/apt.service.ts
  src/cli/services/compression.service.ts
  src/cli/tools/mono.ts
Due: prettier --write, eslint --fix

fix(cli): drop `nano-spawn` (#6090)
  package.json
  patches/nano-spawn.patch
  pnpm-lock.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/compression.service.ts
  src/cli/tools/mono.ts
  src/cli/utils/index.ts
  tools/bats.js
  tools/test.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  27e687c96f487e1040e3a19ca9275da62454a962
Due: none

Notes added by 'git notes add'
  a09611e8978f83869f633f0ec4acedd01a9310ec
Due: none

test(python): update `pip-tools` test
  test/python/Dockerfile
Due: none

test(python): update `pip-tools` test (#6097)
  test/python/Dockerfile
Due: none

test: migration
  test/ruby/Dockerfile
Due: none

ci: rename matrix variable
  .github/workflows/build.yml
Due: none

test: add cabal test
  test/haskell/Dockerfile
  test/haskell/test/a/a.cabal
  test/haskell/test/a/app/Main.hs
  test/haskell/test/dummy.txt
Due: none

feat(tools/haskell): add `cabal` installer
  .github/workflows/build.yml
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/haskell/cabal.ts
  test/haskell/Dockerfile
  test/haskell/test/dummy.txt
Due: prettier --write, eslint --fix

fix(haskell): validate cabal version
  src/cli/tools/haskell/cabal.ts
  src/cli/utils/versions.spec.ts
  src/cli/utils/versions.ts
Due: prettier --write, eslint --fix

ci: use include for matrix
  .github/workflows/build.yml
Due: none

ci: fix matrix
  .github/workflows/build.yml
Due: none

feat(haskell): add cabal aarch64 support
  .github/workflows/build.yml
  docs/custom-registries.md
  src/cli/tools/haskell/cabal.ts
  test/haskell/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(haskell): add ghc support
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/haskell/ghc.ts
  test/Dockerfile.distro
  test/haskell/Dockerfile
  test/haskell/Dockerfile.arm64
Due: prettier --write, eslint --fix

fix: install and test
  src/cli/tools/haskell/ghc.ts
  test/Dockerfile.distro
  test/haskell/Dockerfile
  test/haskell/Dockerfile.arm64
  test/haskell/test/a/.gitignore
  test/haskell/test/a/a.cabal
Due: prettier --write, eslint --fix
