Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

feat(cli): convert kustomize
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/kustomize.ts
  src/usr/local/containerbase/tools/v2/kustomize.sh
  test/helm/Dockerfile
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  6d9f8e9738d805e9f4ab1f3fab5aeb79c0482a57
Due: none

fix(kubectl): add arch to downloaded filename
  src/cli/tools/kubectl.ts
Due: eslint --fix, prettier --write

fix(helmfile): disable upgrade notice
  src/cli/tools/helmfile.ts
Due: eslint --fix, prettier --write

fix(cli): trim leading `v`
  src/cli/command/install-tool.ts
Due: eslint --fix, prettier --write

refactor(cli): use `sindresorhus/is` named import
  src/cli/command/install-tool.ts
  src/cli/proxy.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/node/resolver.ts
  src/cli/utils/logger.ts
Due: eslint --fix, prettier --write

chore(renovate): fix rules matching
  renovate.json
Due: none

Notes added by 'git notes add'
  e422cfa1b7f84542aba14c6ec63f56ddf0c1e59c
Due: none

fix(helmfile): drop obsolete installer
  src/usr/local/containerbase/tools/v2/helmfile.sh
Due: shellcheck

Notes added by 'git notes add'
  f953b4fb674a52b9b837be8ad40b875a34f345c1
Due: none

chore(renovate): fix config
  renovate.json
Due: none

refactor(cli/python): extract helper functions
  src/cli/tools/python/utils.ts
Due: eslint --fix, prettier --write

refactor(cli): rename files and classes
  package.json
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/base-prepare.service.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/tools/__mocks__/bun.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker.ts
  src/cli/tools/dotnet.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gleam.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/gem.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b0fa5c6b3e4614d96769cffbda83b55c6f946b19
Due: none

refactor(cli): do ingore check early
  src/cli/command/install-tool.ts
  src/cli/command/utils.spec.ts
  src/cli/command/utils.ts
  src/cli/install-tool/install-tool.service.ts
Due: eslint --fix, prettier --write

feat: move tool prep state
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/php.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/install.sh
  src/usr/local/containerbase/utils/java.sh
  src/usr/local/containerbase/utils/prepare.sh
  src/usr/local/containerbase/utils/python.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
  test/bash/util.sh
  test/bash/v2/defaults.bats
Due: shellcheck

refactor: split var path
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  test/bash/util.sh
Due: shellcheck

feat: add init tool helper
  src/usr/local/containerbase/bin/init-tool.sh
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/init.sh
  src/usr/local/containerbase/utils/install.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
Due: shellcheck

Notes added by 'git notes add'
  8fbbe337fba5d093a773d118e6c8f993f2b75017
Due: none

fix: don't remove `/tmp/containerbase`
  src/cli/utils/common.ts
Due: eslint --fix, prettier --write

refactor!: move files to `/tmp/containerbase`
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/nix.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/init.sh
  src/usr/local/containerbase/utils/prepare.sh
  test/java/Dockerfile
Due: shellcheck

fix(python): fix duplicate install and shell wrapper creation
  src/cli/install-tool/index.ts
  src/cli/tools/python/utils.ts
  test/python/Dockerfile
Due: eslint --fix, prettier --write

test: better debug options
  docker-bake.hcl
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/dart/Dockerfile
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile
  test/golang/Dockerfile.arm64
  test/helm/Dockerfile
  test/helm/Dockerfile.arm64
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/jb/Dockerfile
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile
  test/nix/Dockerfile.arm64
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/php/Dockerfile
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile
  test/swift/Dockerfile.arm64
  tools/test.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8d89d94f7aa2e39079f14f0926e6e36940b5a1f6
Due: none

Notes added by 'git notes add'
  1dd2fcc28906cb6fb7d3a550a4f931beb8d2252d
Due: none

fix(flutter): set `safe.directory` before any git operation
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

fix(cli/npm): support tools with slashes
  src/cli/services/path.service.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

fix: wrong umask
  src/cli/services/path.service.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

fix: ensure umask on parent folders
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

build: drop esbuild pino patch
  package.json
  patches/esbuild-plugin-pino@2.1.1.patch
  pnpm-lock.yaml
Due: none

fix(cli/npm): support tools with slashes (#3061)
  src/cli/services/path.service.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

test(php): drop old eol version tests
  test/php/Dockerfile
Due: none

test(renovate): fix annotation
  test/Dockerfile.noble
  test/java/Dockerfile
Due: none

ci: add catchall job
  .github/workflows/build.yml
Due: none

fix(php): wrong filename
  src/cli/tools/php/composer.ts
  test/php/Dockerfile
Due: eslint --fix, prettier --write

test(flutter): drop v1 tests
  test/flutter/Dockerfile
Due: none

Notes added by 'git notes add'
  cbfdaa2eccdaffeaab81b06ebc5d70f15d9575aa
Due: none

test(python): simplify and remove eol tests
  test/python/Dockerfile
Due: none

chore(cli): reduce logging level
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
Due: eslint --fix, prettier --write
