Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  5e6198a670a6298b185657aa225b0b8739f850a2
Due: none

feat(elixir): use OTP 27 by default for Elixir 1.20
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

feat(erlang): use OTP 27 by default for Elixir 1.20 (#6924)
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

Notes added by 'git notes add'
  1d0dc2e6c437e9cda778eb223a015f87e8c35cf5
Due: none

fix(rust): add support for `nightly` channel
  src/usr/local/containerbase/tools/v2/rust.sh
  test/rust/Dockerfile
Due: shellcheck

fix(rust): add support for `nightly` channel (#6768)
  src/usr/local/containerbase/tools/v2/rust.sh
  test/rust/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  9cd2f9b5f38270520c9125c0a7c9d4536e5b87ad
Due: none

Notes added by 'git notes add'
  a3b207dfb6c9b2137c479bd823991f1599dcdc7c
Due: none

chore: bump undici
  pnpm-lock.yaml
Due: none

chore: bump js-yaml
  pnpm-lock.yaml
Due: none

ci: use docker host mapping
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

Notes added by 'git notes add'
  bbd50fe56f070b985c257173ed68bfc5c89919d4
Due: none

ci: quote literal
  docker-bake.hcl
Due: none

Notes added by 'git notes add'
  9a8ebd63ff74bf7eb2facb2054559fedabd1abd3
Due: none

ci: use docker host mapping (#6951)
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  docker-bake.hcl
Due: none

chore: pnpm migration
  .npmrc
  pnpm-workspace.yaml
Due: none

Revert "chore(deps): update dependency conventional-changelog-conventionalcommits to v10 (main) (#6992)"
  package.json
  pnpm-lock.yaml
Due: none

ci: fix release pipeline
  .github/workflows/build-push.yml
Due: none

Notes added by 'git notes add'
  7332645e2e1eb659fc486640dbba6454db9835ee
Due: none

Notes added by 'git notes add'
  0e40d262b6f8b94aab5699ecdbaea185931f0da2
Due: none

feat: add apm (Agent Package Manager) install support
  src/cli/install-tool/index.ts
  src/cli/tools/apm.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
Due: prettier --write, eslint --fix

feat(tool): add nub
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/npm.ts
Due: prettier --write, eslint --fix

test: install apm on arm64 and document download urls
  docs/custom-registries.md
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  7935d45585f55f2f9b292e93a50d6cf768d62353
Due: none

refactor(tool): drop redundant nub test() override
  src/cli/tools/node/npm.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b1bdc8911c3bd16003275c227715e6fb99da98f2
Due: none

Notes added by 'git notes add'
  93294527a831a839a2c15af883d0eb2202c8706a
Due: none

Notes added by 'git notes add'
  1862121c75608387aab09a51b30a529ba75c304d
Due: none

Notes added by 'git notes add'
  366850f9d2c4275da0948eea613d6450a8fb5a38
Due: none

Notes added by 'git notes add'
  27d91347128b80668f606c7030958e9470956a15
Due: none

Notes added by 'git notes add'
  faa150e2420ebd317b5643304f096804d431afdf
Due: none

feat: add apm (Agent Package Manager) install support (#7038)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/apm.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  ff9360b97431d7a3e979c128c54e921464dc38df
Due: none

Notes added by 'git notes add'
  4122f0034afc1817485e8c75318e435651189185
Due: none

chore(renovate): automerge apm
  .github/renovate.json
Due: none

feat: support installing Yarn 6 binaries
  src/cli/tools/node/npm.ts
  test/node/Dockerfile
  test/node/Dockerfile.arm64
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  bf29cd109a87c02e4547cd974cceedbffb159010
Due: none

Notes added by 'git notes add'
  fc2fad148412446db514aadca025ef8355186628
Due: none

Notes added by 'git notes add'
  e899e794ac0a12f269f664f50df8cfac1f556a5c
Due: none

Notes added by 'git notes add'
  cff0e0ffc6326cc3b47bee8ab37d04f159ac84fc
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
