Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

feat(tools/haskell): add `cabal` and `ghc` installer (#6099)
  .github/workflows/build.yml
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/haskell/ghc.ts
  src/cli/utils/versions.spec.ts
  src/cli/utils/versions.ts
  test/Dockerfile.distro
  test/haskell/Dockerfile
  test/haskell/Dockerfile.arm64
  test/haskell/test/a/.gitignore
  test/haskell/test/a/a.cabal
  test/haskell/test/a/app/Main.hs
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(haskell): add missing docs
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  6fe0a0e7403ca1df13bb4cbbdb177bc46a64e9b8
Due: none

refactor(dotnet): move tool installers
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/dotnet/mono.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/dotnet/powershell.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(dotnet): unify dotnet and mono, add paket
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  6a1d7f6e0bdc7a0b1f609b188f8202ecff4824f0
Due: none

Notes added by 'git notes add'
  3a26dbfb1aa9f06bc4d11c1db4357a979a33b4ba
Due: none

Notes added by 'git notes add'
  9dbff93331a80c43d4483c2043a5147f80615de6
Due: none

fix(cli): don't set `NODE_USE_SYSTEM_CA`
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9110d0c88d6ffa2d5dbb5a9522096eafc7290a2f
Due: none

test(java): add maven test and fix annotation
  test/Dockerfile.distro
  test/java/Dockerfile
  test/java/Dockerfile.arm64
Due: none

chore(renovate): fix maven annotation
  test/Dockerfile.distro
  test/java/Dockerfile
  test/java/Dockerfile.arm64
Due: none

feat(java/maven): use maven repo as fallback source
  docs/custom-registries.md
  src/cli/tools/java/maven.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(java/maven): use maven repo as fallback source (#6181)
  docs/custom-registries.md
  src/cli/tools/java/maven.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  a8dedbf444fe6b5ca9ee695f6fc1f0573c9ed5ec
Due: none

docs: add a "new tool" template
  .github/ISSUE_TEMPLATE/new-tool.yml
Due: none

docs: add a "new tool" template (#6178)
  .github/ISSUE_TEMPLATE/new-tool.yml
Due: none

Notes added by 'git notes add'
  d045549ffb60d7263af502c5be5e4d2858e50206
Due: none

Notes added by 'git notes add'
  44aa88e07b57ad01c38f8d560248977766af43a3
Due: none

ci: refactor test builds
  .github/actions/bake/action.yml
  .github/workflows/build.yml
Due: none

ci: fix missing type
  .github/workflows/build.yml
Due: none

ci: enable containerd image store
  .github/actions/check/action.yml
Due: none

ci: simplify
  .github/workflows/build.yml
Due: none

ci: create docker daemon file if not exist
  .github/actions/check/action.yml
Due: none

chore: cleanup
  .github/actions/prepare-proxy/action.yml
  package.json
  tools/containerbase.acl
  tools/prepare-proxy.js
Due: prettier --write, eslint --fix

ci: refactor (#6211)
  .github/actions/bake/action.yml
  .github/actions/check/action.yml
  .github/actions/prepare-proxy/action.yml
  .github/workflows/build.yml
  package.json
  tools/containerbase.acl
  tools/prepare-proxy.js
Due: prettier --write, eslint --fix

build: drop simple-git
  package.json
  pnpm-lock.yaml
Due: none

build: drop simple-git (#6214)
  package.json
  pnpm-lock.yaml
Due: none

ci: fix release
  .github/workflows/build-push.yml
Due: none

Notes added by 'git notes add'
  547fde383d068c2cdf5b01f3b6e3650f27b800d0
Due: none

Notes added by 'git notes add'
  ff3a1fdfcabad3ab0cce449f35842f079e450146
Due: none

Notes added by 'git notes add'
  0a510d367bd3c101097e101eeef0dd51b08ec528
Due: none

Notes added by 'git notes add'
  c86edeef9e0c32d016fb32cf02a2a124bc504b24
Due: none

Notes added by 'git notes add'
  c3850454f252fc1c537c02d98b3aba67937573ef
Due: none

Notes added by 'git notes add'
  bf681532911d6dd54377001634686ec354fc0710
Due: none

Notes added by 'git notes add'
  1c46d40ca3a1e59642f0ad597169ccfddd549dee
Due: none

Notes added by 'git notes add'
  cf1c4f4a3a0e273a965b32d99920756bbfc1a686
Due: none

Notes added by 'git notes add'
  3049d7709668407ddcc5d3e34b4816b2bbd2cd5e
Due: none

Notes added by 'git notes add'
  1cc43d5d7e8d8670b2184e5c992bc624ed45acb2
Due: none

Notes added by 'git notes add'
  7f34ba758e940426e31bb1f4b4c9fba10aeb4a9e
Due: none
