Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  cf0e3f6f8c2d9d9d1b99498f9e5b2d2b33c94202
Due: none

ci: drop the download proxy from the base-arm64 job
  .github/workflows/build.yml
Due: none

ci: drop the download proxy from the base-arm64 job (#7682)
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  08c0ad4186e103c0bd6e691e4c84d9bd21f527ff
Due: none

ci: note that cached build steps can hide download proxy hosts
  .github/actions/download-proxy/stats.sh
Due: shellcheck

ci: note that cached build steps can hide download proxy hosts (#7693)
  .github/actions/download-proxy/stats.sh
Due: shellcheck

ci: skip the build in the merge queue for changes that don't affect the images
  .github/workflows/build.yml
Due: none

ci: replace actionlint with jactionlint
  .github/workflows/build.yml
  AGENTS.md
  mise.toml
Due: markdownlint-cli2 --fix, prettier --write

docs: run jactionlint directly after mise install
  AGENTS.md
Due: markdownlint-cli2 --fix, prettier --write

feat: resolve partial android cmdline-tools and gem versions to the newest matching release
  docs/tools.md
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/install-tool/tool-version-resolver.spec.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/java/android-partial.spec.ts
  src/cli/tools/java/android.ts
  src/cli/tools/ruby/cocoapods.spec.ts
  src/cli/tools/ruby/schema.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
  test/java/Dockerfile
  test/ruby/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(gradle): resolve partial versions to the newest matching release
  docs/tools.md
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/java/gradle.spec.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/schema.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(maven): resolve partial versions to the newest matching release
  docs/tools.md
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/java/schema.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

ci: report pnpm audit findings to code scanning
  .github/workflows/build.yml
  .github/workflows/pnpm-audit.yml
  tools/audit-sarif.ts
Due: prettier --write, eslint --fix

chore(deps): override vulnerable handlebars
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: skip the build in the merge queue for changes that don't affect the images (#7696)
  .github/workflows/build.yml
Due: none

chore: install the dependencies with mise install
  README.md
  mise.toml
Due: markdownlint-cli2 --fix, prettier --write

ci: replace actionlint with jactionlint (#7697)
  .github/workflows/build.yml
  AGENTS.md
  mise.toml
Due: markdownlint-cli2 --fix, prettier --write

ci: report pnpm audit findings to code scanning (#7698)
  .github/workflows/build.yml
  .github/workflows/pnpm-audit.yml
  tools/audit-sarif.ts
Due: prettier --write, eslint --fix

chore: install the dependencies with mise install (#7700)
  README.md
  mise.toml
Due: markdownlint-cli2 --fix, prettier --write

feat: resolve partial android cmdline-tools and gem versions to the newest matching release (#7641)
  docs/tools.md
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/install-tool/tool-version-resolver.spec.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/java/android-partial.spec.ts
  src/cli/tools/java/android.ts
  src/cli/tools/ruby/cocoapods.spec.ts
  src/cli/tools/ruby/schema.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
  test/java/Dockerfile
  test/ruby/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(maven): resolve partial versions to the newest matching release (#7646)
  docs/tools.md
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/java/schema.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(gradle): resolve partial versions to the newest matching release (#7659)
  docs/tools.md
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/java/gradle.spec.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/schema.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

ci: add timeouts to the docker test jobs
  .github/workflows/build.yml
Due: none

chore(deps): override vulnerable handlebars (#7699)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: add timeouts to the remaining jobs
  .github/workflows/auto-pr.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
Due: none

ci: time out the setup steps that start the apt proxy
  .github/workflows/build.yml
Due: none

ci: add timeouts to all jobs (#7702)
  .github/workflows/auto-pr.yml
  .github/workflows/build.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
Due: none

Notes added by 'git notes add'
  877c911f02c2d77a55d92519002de3176b359efa
Due: none

Notes added by 'git notes add'
  2dedd932dc8a634565bd6cf1c01138fc11518777
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
