Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  13802d336f31ae55cb3747982c4947ac58593137
Due: none

Notes added by 'git notes add'
  32363cf3b0760696b2e0a0fa77494c673f63fee2
Due: none

add apko tool
  src/cli/install-tool/index.ts
  src/cli/tools/apko.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

update docs
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  4b83ef7ee28299f3ae9225d49a285c26b06867ac
Due: none

Notes added by 'git notes add'
  153cb27ae4c6053c27b9b717d2cfded2bf5e9363
Due: none

feat(cli): add services for known v2 tools
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/v2-tool.service.ts
  src/cli/tools/erlang/elixir.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/golang.ts
  src/cli/tools/index.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/java/scala.ts
  src/cli/tools/jb.ts
  src/cli/tools/nix.ts
  src/cli/tools/powershell.ts
  src/cli/tools/python/index.ts
  src/cli/tools/ruby/index.ts
  src/cli/tools/rust.ts
  src/cli/tools/swift.ts
  src/cli/tools/terraform.ts
  src/cli/tools/vendir.ts
  src/cli/utils/types.ts
  src/cli/utils/v2-tool.spec.ts
  src/cli/utils/v2-tool.ts
Due: prettier --write, eslint --fix

chore: revert changes
  package.json
  pnpm-lock.yaml
Due: none

feat(cli): add services for known v2 tools (#5095)
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/v2-tool.service.ts
  src/cli/tools/erlang/elixir.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/golang.ts
  src/cli/tools/index.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/java/scala.ts
  src/cli/tools/jb.ts
  src/cli/tools/nix.ts
  src/cli/tools/powershell.ts
  src/cli/tools/python/index.ts
  src/cli/tools/ruby/index.ts
  src/cli/tools/rust.ts
  src/cli/tools/swift.ts
  src/cli/tools/terraform.ts
  src/cli/tools/vendir.ts
  src/cli/utils/types.ts
  src/cli/utils/v2-tool.spec.ts
  src/cli/utils/v2-tool.ts
Due: prettier --write, eslint --fix

chore(renovate): update automerge list
  renovate.json
Due: none

feat: add apko tool (#5083)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/apko.ts
  src/cli/tools/index.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  95c994841aabcb3516b9ece68eb677beaf04390e
Due: none

feat(cli): add `uninstall-tool` command
  src/cli/command/index.ts
  src/cli/command/uninstall-gem.spec.ts
  src/cli/command/uninstall-gem.ts
  src/cli/command/uninstall-npm.spec.ts
  src/cli/command/uninstall-npm.ts
  src/cli/command/uninstall-pip.spec.ts
  src/cli/command/uninstall-pip.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/tools/__mocks__/bun.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/di.ts
  test/latest/Dockerfile
Due: shellcheck, prettier --write, eslint --fix

fix: add exit codes
  src/cli/install-tool/install-tool.service.ts
  src/cli/utils/codes.ts
Due: prettier --write, eslint --fix

feat: check if child tool requires this version
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
Due: prettier --write, eslint --fix

fix(cli): call cache cleanup if required
  src/cli/install-tool/install-tool.service.ts
  src/usr/local/containerbase/bin/cleanup-cache.sh
Due: shellcheck, prettier --write, eslint --fix

build: drop unused script
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/install.sh
Due: shellcheck

feat: move v2 tool tests to new test function
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/git-lfs.sh
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/jb.sh
  src/usr/local/containerbase/tools/v2/nix.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/sbt.sh
  src/usr/local/containerbase/tools/v2/scala.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/tools/v2/vendir.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
Due: shellcheck

fix: move missing tests
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/git-lfs.sh
Due: shellcheck

fix: move take 2
  src/usr/local/containerbase/tools/v2/erlang.sh
Due: shellcheck

Notes added by 'git notes add'
  00f82b0102f328e03cadab3a91853f220d4dc97d
Due: none

Notes added by 'git notes add'
  fd931ee369b3bee050ca74ac0c24cfa078a18b99
Due: none

Notes added by 'git notes add'
  8d1d3f7b87f0a02711ba2845643fd6e655b2061f
Due: none

Notes added by 'git notes add'
  47fadfc10c91135f2368e7ff034b7cb4ae82b9d2
Due: none

Add tofu as a tool
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/tofu.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  158949628de8a2956807dde925192a9729ed7187
Due: none

Notes added by 'git notes add'
  94d5a42665da8c0ce1a51c2b59910b3a98bcf043
Due: none

Notes added by 'git notes add'
  d1ffdf33d06a88d267a5ea5c539c977dddfa7ede
Due: none

Notes added by 'git notes add'
  4b220f09e21b5b278f7e1c6d5a2ece37091a04de
Due: none

Notes added by 'git notes add'
  3fdbb0e993e59a9014071e2eea66d5fce3a0f7fc
Due: none

Notes added by 'git notes add'
  d2412b19d4524d376baa1a606285a223950ac800
Due: none

feat: move v2 tool tests to new test function (#5101)
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/git-lfs.sh
Due: shellcheck

feat: add optional uninstall method for v2 tools
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/services/v2-tool.service.ts
  src/usr/local/containerbase/bin/v2-install-tool.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  b864985eac780fbcbd58eafa15bffc6db1bba439
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
