Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  9d68e85227e90ee1a75897958be658d9ae7efc72
Due: none

Notes added by 'git notes add'
  67a68428a4af7ee371911bad4c439a24c67ac637
Due: none

Notes added by 'git notes add'
  f9ecfc1199ddac991c6ea70c072b421b9ceb418d
Due: none

Notes added by 'git notes add'
  faa167437b8711d35715d47c3686b615b4762164
Due: none

test(flutter): widen `test_api`
  test/flutter/test/d/pubspec.yaml
Due: none

test(flutter): widen `test_api` (#2648)
  test/flutter/test/d/pubspec.yaml
Due: none

Notes added by 'git notes add'
  9f86d92c4d3dc1fcda5665923b9bf1da99147555
Due: none

Notes added by 'git notes add'
  bbf6f0cd86540eca937f55a5d2a701f2c45fd37a
Due: none

Notes added by 'git notes add'
  e5265c240f8cd0ced187692d907a6b678b06d5f1
Due: none

Notes added by 'git notes add'
  55ac28d2d573a5833bc3d53a0981ef9297415abd
Due: none

fix: patch esbuild-plugin-pino
  package.json
  patches/esbuild-plugin-pino@2.1.1.patch
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  7fb948834636f437711d1e5eb7c175e4b0b03f92
Due: none

Notes added by 'git notes add'
  af6713316350c860d73f3540fe28539e17c7e024
Due: none

Notes added by 'git notes add'
  d947ef19f7c562b0f44c39364dc98ef89a9bb792
Due: none

chore(renovate): automerge gleam
  renovate.json
Due: none

fix(node): install optional renovate deps
  src/cli/tools/node/npm.ts
Due: eslint --fix, prettier --write

ci: optimize concurrency settings
  .github/workflows/build-push.yml
Due: none

Notes added by 'git notes add'
  7eee99c613e7e1ca8dadcb1e38e0adf297e90e5c
Due: none

ci: use `pnpm/action-setup` action
  .github/actions/setup-node/action.yml
Due: none

build: use digest for cosign
  tools/publish-release.js
Due: eslint --fix, prettier --write

ci: preserve path on sudo
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

ci: preserve env on sudo
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

ci: add prepare proxy action
  .github/actions/prepare-propxy/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

ci: typo
  .github/actions/prepare-proxy/action.yml
Due: none

Notes added by 'git notes add'
  ce574cf0bc80dd648a5c627540ea7660cc137939
Due: none

feat!: support readonly root filesystem
  docs/custom-base-image.md
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/sbin/install-containerbase
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

fix: missing executable bits
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/sbin/install-containerbase
Due: shellcheck

fix: update path handling
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
Due: shellcheck

fix: revert
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --write

test: fix path
  test/bash/util.sh
Due: shellcheck

chore: fix tests
  src/usr/local/containerbase/utils/linking.sh
  test/latest/Dockerfile
  test/node/Dockerfile
Due: shellcheck

fix: revert
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

fix: typo
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

fix: wrong path
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

feat: prepare paths
  src/usr/local/containerbase/utils/filesystem.sh
  test/bash/filesystem.bats
Due: shellcheck

Apply suggestions from code review
  test/node/Dockerfile
Due: none

feat: prepare paths (#2726)
  src/usr/local/containerbase/utils/filesystem.sh
  test/bash/filesystem.bats
Due: shellcheck

feat(cli): add paths helper
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

feat(cli): add paths helper (#2729)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

feat!: redirect folders to `/opt/containerbase` (#2090)
  docs/custom-base-image.md
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  src/usr/local/sbin/install-containerbase
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
