Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

fix: extract from subdir
  src/cli/tools/buf.ts
Due: prettier --write, eslint --fix

feat(cli): add buf support
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/buf.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: wrong extract paths
  src/cli/install-tool/index.ts
  src/cli/tools/buf.ts
Due: prettier --write, eslint --fix

feat(cli): add buf support (#6379)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/buf.ts
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  02ff5b342021f42f5215675063b13ea6b1865cba
Due: none

chore(renovate): automerge more minor test tool updates
  .github/renovate.json
Due: none

Notes added by 'git notes add'
  f3065a40d31680f346da6e136eaceef488e9cd8b
Due: none

Notes added by 'git notes add'
  31175b65c7499e45243659f43a9d4bc299c6f06b
Due: none

feat: add kas tool
  .github/renovate.json
  docs/custom-registries.md
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

build: fix imports
  src/cli/index.ts
  tools/build.js
Due: prettier --write, eslint --fix

build: require node v24
  package.json
Due: none

build: migrate and improve pnpm security
  package.json
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test: fix test expectations
  src/cli/index.spec.ts
Due: prettier --write, eslint --fix

feat: add kas tool (#6525)
  .github/renovate.json
  docs/custom-registries.md
  src/cli/tools/index.ts
  test/Dockerfile.distro
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  56670aab66e1a57f7f736f810dc7712771c93bda
Due: none

Notes added by 'git notes add'
  84acf50e8e111f728abd15a6af736962281c17a1
Due: none

build: drop obsolete resolutions
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  c78cfae95f38174eddbe9dfceb22afa4820352ee
Due: none

Notes added by 'git notes add'
  31e527094576a42124d84150ba6abf4269f4caf6
Due: none

Notes added by 'git notes add'
  87fdad7aece8e036758268c9be15ee6ae6f062ac
Due: none

Notes added by 'git notes add'
  a05256ce12aa440f0ad5b0de4083aa3ba2d89c6c
Due: none

Notes added by 'git notes add'
  0d8dc5579fe95a0147c8b7864fc5adc1db06be0a
Due: none

feat(haskel): support cabal v1 and v2
  docs/custom-registries.md
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/haskell/ghc.ts
  test/haskell/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(git): set all directories as safe
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

Notes added by 'git notes add'
  7018a435bb7082cd22706b903bc358c6c8ac6039
Due: none

feat: add resolute support
  .github/workflows/build.yml
  README.md
  src/cli/tools/utils/prebuild.ts
  src/cli/tools/wally.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/util.sh
  test/Dockerfile.base
  test/Dockerfile.distro
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: validate minimum git version
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

fix: validate minimum git version (#6602)
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

fix: correctly determine arch
  src/usr/local/containerbase/tools/v2/git-lfs.sh
  src/usr/local/containerbase/tools/v2/jb.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/terraform.sh
  src/usr/local/containerbase/tools/v2/vendir.sh
  src/usr/local/containerbase/utils/constants.sh
  test/Dockerfile.distro
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile.arm64
  test/haskell/Dockerfile.arm64
  test/helm/Dockerfile.arm64
  test/java/Dockerfile.arm64
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile.arm64
  test/node/Dockerfile.arm64
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile.arm64
Due: shellcheck

feat: add resolute support
  src/cli/tools/php/index.ts
  src/cli/tools/python/conan.ts
Due: prettier --write, eslint --fix

fix: correctly determine arch (#6609)
  src/usr/local/containerbase/tools/v2/git-lfs.sh
  src/usr/local/containerbase/tools/v2/jb.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/terraform.sh
  src/usr/local/containerbase/tools/v2/vendir.sh
  src/usr/local/containerbase/utils/constants.sh
  test/Dockerfile.distro
  test/dart/Dockerfile.arm64
  test/dotnet/Dockerfile.arm64
  test/erlang/Dockerfile.arm64
  test/flutter/Dockerfile.arm64
  test/flux/Dockerfile.arm64
  test/golang/Dockerfile.arm64
  test/haskell/Dockerfile.arm64
  test/helm/Dockerfile.arm64
  test/java/Dockerfile.arm64
  test/jb/Dockerfile.arm64
  test/latest/Dockerfile.arm64
  test/nix/Dockerfile.arm64
  test/node/Dockerfile.arm64
  test/php/Dockerfile.arm64
  test/powershell/Dockerfile.arm64
  test/python/Dockerfile.arm64
  test/ruby/Dockerfile.arm64
  test/rust/Dockerfile.arm64
  test/swift/Dockerfile.arm64
Due: shellcheck

test: skip swift on resolut
  test/Dockerfile.distro
Due: none

ci: test jammy
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  dddefc8529b0a0fe8b1a7f56f60274a025cc96a0
Due: none

feat: add resolute support (#6601)
  .github/workflows/build.yml
  README.md
  src/cli/tools/php/index.ts
  src/cli/tools/python/conan.ts
  src/cli/tools/utils/prebuild.ts
  src/cli/tools/wally.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
  src/usr/local/containerbase/util.sh
  test/Dockerfile.base
  test/Dockerfile.distro
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  28142eca96d7eeb41b140392d40338a0421e18e5
Due: none

chore(renovate): use build type for lockfile maintenance
  .github/renovate.json
Due: none

Notes added by 'git notes add'
  97a736f4b73485f4d2bf48c00f3af9ed08639c94
Due: none

Notes added by 'git notes add'
  28b38094a4d248b9f24ffeee0316f10be7e532b3
Due: none
