Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

feat: add gleam installer (#2018)
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/gleam.ts
  src/cli/tools/index.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  84799d78fbd15c5aa6f7579f6983d381078b2b69
Due: none

Notes added by 'git notes add'
  0390d23685dd38644ffbac8c1835370da75a9549
Due: none

ci: fix secrets
  .github/workflows/build.yml
Due: none

ci: fix secrets
  .github/workflows/build-push.yml
Due: none

ci: fix secrets (#2132)
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

refactor: move constructor injections
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

fix: revert
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

refactor: move constructor injections (#2133)
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

refactor: rename and move files
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
Due: shellcheck, eslint --fix, prettier --write

refactor: rename and move files (#2134)
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/usr/local/bin/install-containerbase
  src/usr/local/containerbase/bin/docker-entrypoint.sh
  src/usr/local/containerbase/bin/install-apt.sh
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
Due: shellcheck, eslint --fix, prettier --write

chore: move `chore` commits to bottom
  .releaserc.json
Due: none

chore: move `chore` commits to bottom (#2135)
  .releaserc.json
Due: none

test: fix path
  test/bash/util.sh
Due: shellcheck

chore: fix tests
  src/usr/local/containerbase/utils/linking.sh
  test/latest/Dockerfile
  test/node/Dockerfile
Due: shellcheck

fix: use `codeBlock` for proper indention
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --write

fix: use `codeBlock` for proper indention (#2136)
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --write

fix: revert
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  11d360cdeaf2b3437cdddbf0e3e4e576327169aa
Due: none

fix: patch `@yao-pkg/pkg` to not change `child_process`
  package.json
  patches/@yao-pkg__pkg@5.11.1.patch
  pnpm-lock.yaml
  src/cli/tools/node/index.ts
  src/usr/local/containerbase/util.sh
Due: shellcheck, eslint --fix, prettier --write

fix: patch `@yao-pkg/pkg` to not change `child_process` (#2137)
  package.json
  patches/@yao-pkg__pkg@5.11.1.patch
  pnpm-lock.yaml
  src/cli/tools/node/index.ts
  src/usr/local/containerbase/util.sh
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  b21c58c0ead386bfb213a947b5182287c145b771
Due: none

Notes added by 'git notes add'
  5277c116a1ff7d4183c95ab94970bdb4ed2971fa
Due: none

feat(pip-tools): Add keyrings.envvars package
  src/usr/local/containerbase/tools/v2/checkov.sh
  src/usr/local/containerbase/tools/v2/hashin.sh
  src/usr/local/containerbase/tools/v2/pdm.sh
  src/usr/local/containerbase/tools/v2/pip-tools.sh
  src/usr/local/containerbase/tools/v2/pipenv.sh
  src/usr/local/containerbase/tools/v2/poetry.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

ci: add package.json to cache hash
  .github/actions/setup-node/action.yml
Due: none

refactor(python): Accept optional extra packages to install
  src/usr/local/containerbase/tools/v2/hashin.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

Allow for the posibilty of a python 4.x in the future
  src/usr/local/containerbase/tools/v2/pip-tools.sh
Due: shellcheck

Update src/usr/local/containerbase/utils/python.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

fix: apply patch
  package.json
  pnpm-lock.yaml
Due: none

build: allow non applied patches
  package.json
Due: none

chore(renovate): update pnpm patches
  renovate.json
Due: none

Notes added by 'git notes add'
  da4844d853263274bcbdc6fcac380f1f5fa46b6d
Due: none

refactor(python): Accept optional extra packages to install (#2149)
  src/usr/local/containerbase/tools/v2/hashin.sh
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

ci: read default branch from event
  .github/workflows/build-push.yml
Due: none

ci: only build devcontainer on pr
  .github/workflows/devcontainer.yml
Due: none

build: optimize docker caching
  docker-bake.hcl
Due: none

build: optimize docker caching (#2170)
  docker-bake.hcl
Due: none

Notes added by 'git notes add'
  1f9c10628e21114ec088b2db60533df972c556cc
Due: none

Notes added by 'git notes add'
  3ece79a2bf9394b5d47c4cb63b545d549617649d
Due: none

Notes added by 'git notes add'
  9590c5dcaed2fd7928f8083c18c50c8387ccae56
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
