Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

feat(node): drop renovate re2 mirror on newer versions
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

feat(node): drop renovate re2 mirror on newer versions (#2312)
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f33f50c334f07e2c533b1353af0ae5e78abca7e4
Due: none

chore(renovate): automerge nix and git-lfs minor
  renovate.json
Due: none

chore(renovate): automerge hashin minor
  renovate.json
Due: none

chore(renovate): fix config
  renovate.json
Due: none

chore(renovate): automerge hashin minor (#2321)
  renovate.json
Due: none

Notes added by 'git notes add'
  b3324910d4cf58f0a965e13e6f9fb648aaf28065
Due: none

Notes added by 'git notes add'
  37d89b5dd824537f561aeb94f56315b8e47fe7bc
Due: none

Notes added by 'git notes add'
  5fe726840d8eb1132dc7009923ab4b9a86b97f53
Due: none

Notes added by 'git notes add'
  775105f978f92f447200c339023e2564c9871f3c
Due: none

build: prepare maint release
  .github/workflows/build-push.yml
  .releaserc.json
Due: none

fix(python/checkov): ensure a working openai version for python 3.7
  src/usr/local/containerbase/tools/v2/checkov.sh
  test/python/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  b75ec79c9746f234feb0b4f0c49c785a86fef9c5
Due: none

Notes added by 'git notes add'
  5e2fc7ffeb5c35c6dac9775b6ab6f1fcbb875bcf
Due: none

fix(python/checkov): add missing function
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

Notes added by 'git notes add'
  6b137f827f88c2b84a0d1725196af46135f99d21
Due: none

Notes added by 'git notes add'
  02956b4459db3f385d29b48ccf65d4423f79633e
Due: none

Notes added by 'git notes add'
  0cf12aefe5f5d4cb08cdd0c631beaa95749c2775
Due: none

Notes added by 'git notes add'
  039996710cc192823fb70fc647132b7c245b71d6
Due: none

Notes added by 'git notes add'
  aecbc256d0453fb69efa20b090616fd52a2e50bd
Due: none

Notes added by 'git notes add'
  e423c26992c8761a6244257bd776a06de846e3a7
Due: none

Notes added by 'git notes add'
  a906078cc2a9c3f0e639cc097854314b45012f26
Due: none

Notes added by 'git notes add'
  613445c18f6e7d3225c4480800d4662ea3d07be9
Due: none

Notes added by 'git notes add'
  0adb9e003f8cc39b5213334d2d9641de18c99a66
Due: none

feat: support ubuntu noble
  .github/workflows/build.yml
  src/cli/utils/common.ts
  src/usr/local/containerbase/util.sh
  test/Dockerfile.noble
Due: shellcheck, eslint --fix, prettier --write

fix: drop existing user
  src/usr/local/containerbase/bin/install-containerbase.sh
Due: shellcheck

fix: more noble support
  src/cli/tools/dotnet/index.ts
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/php.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/swift.sh
Due: shellcheck, eslint --fix, prettier --write

chore(renovate): automerge more minors
  renovate.json
Due: none

chore(renovate): automerge more minors (#2443)
  renovate.json
Due: none

feat(conan) Add conan support
  docs/custom-registries.md
  renovate.json
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/tools/v2/python.sh
  test/Dockerfile.jammy
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/python/test/b-conan/conanfile.txt
Due: shellcheck

Move conan related tools installation to prepare_tool function
  src/usr/local/containerbase/tools/v2/conan.sh
  src/usr/local/containerbase/tools/v2/python.sh
Due: shellcheck

Notes added by 'git notes add'
  b7e963428715763a3f83dcd9cf4f38de419aee43
Due: none

Notes added by 'git notes add'
  ccfbcd5c8111d98419c42813ada70eda0149ff2d
Due: none

Notes added by 'git notes add'
  6600794bbda47e6ff5a545f510b1deed2aca3dcf
Due: none

test: fixes for Java v21
  test/Dockerfile.jammy
  test/java/Dockerfile
  test/java/Dockerfile.arm64
  test/java/test/sbt/build.sbt
Due: none

docs: improve readme
  README.md
Due: none

Notes added by 'git notes add'
  435dd3c6b89aebf81446f32c27843e98dd954e14
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
