Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

refactor: add `rootHome` helper
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --write

refactor: add `writeFile` helper
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

fix(cli): remove `rootDir` on runtime
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  test/global-setup.ts
  test/path.ts
  test/types.d.ts
  tools/esbuild.js
Due: eslint --fix, prettier --write

feat(dart,flutter): unify config
  src/cli/tools/dart/index.ts
  src/cli/tools/dart/utils.ts
  src/cli/tools/flutter.ts
  test/dart/Dockerfile
  test/flutter/Dockerfile
Due: eslint --fix, prettier --write

fix(cli): wrong env file rights
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

fix: set current version as last
  src/cli/install-tool/install-tool.service.ts
  src/usr/local/containerbase/utils/install.sh
Due: shellcheck, eslint --fix, prettier --write

chore: fix prettier
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

chore: fix types
  src/cli/types.d.ts
  test/types.d.ts
Due: eslint --fix, prettier --write

fix(dart,flutter): skip duplicate prepare
  src/cli/tools/dart/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a22ac237ee8c2e3a2094598baa4138369aca7529
Due: none

fix: api changes
  tools/esbuild.js
Due: eslint --fix, prettier --write

refactor: remove unused code
  src/cli/proxy.spec.ts
  src/cli/proxy.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2efc9c0d8f4ba9fd3fd5a5901f48ee04e0626744
Due: none

Notes added by 'git notes add'
  c84d535024eeac9d59b018c88ea7096b7026fb4b
Due: none

Notes added by 'git notes add'
  a6ea41a00ac9b487ae2ef9a5e6402880a15bd7e2
Due: none

Notes added by 'git notes add'
  f8639fa49ebaab7562bd9ad8a430cad0d33d400b
Due: none

Notes added by 'git notes add'
  4dc8b8ecaea4f6fd60ca0d79c18ed1bb97d55a4e
Due: none

Notes added by 'git notes add'
  6b578598bbabd0608c71772ac3141a25653ecc74
Due: none

Notes added by 'git notes add'
  623972847aba93fce12519d5bcf353d60fd9bd15
Due: none

feat(golang): use prebuild go and validate checksums
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck

fix(cli): proper delete tool version folder
  src/cli/install-tool/install-tool.service.ts
Due: eslint --fix, prettier --write

feat(golang): use prebuild go and validate checksums (#2963)
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck

Notes added by 'git notes add'
  60ada9adb2ff7b6cc5ffe97f007b8a31c6c22070
Due: none

fix(cli): better error handling
  src/cli/command/download-file.ts
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
Due: eslint --fix, prettier --write

feat(ruby): validate checksum
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

chore: lint fix
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --write

test(erlang): pin old erlang and elixir versions
  test/erlang/Dockerfile
Due: none

fix(ruby): some versions don't have checksums
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

Notes added by 'git notes add'
  90cd04550a5c38035038d3f04d50143ac22fe17d
Due: none

feat!: redirect folders to `/opt/containerbase` (#2090)
  docs/custom-base-image.md
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  src/usr/local/sbin/install-containerbase
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

feat(node)!: drop `.npm-global/bin` from path
  src/cli/tools/node/index.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

feat(java)!: redirect maven and gradle home
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/utils.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

feat(golang)!: change paths (#2727)
  src/usr/local/containerbase/tools/v2/golang.sh
  test/golang/Dockerfile
Due: shellcheck

feat(cli)!: load tool env from shell wrapper
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/dotnet/index.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

feat(ruby)!: set cocoapods home and remove gem home
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

feat(python)!: drop versioned tool bin path from `PATH`
  src/usr/local/containerbase/tools/v2/python.sh
Due: shellcheck

feat(dart,flutter)!: redirect config and cache files
  src/cli/tools/dart/utils.ts
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

feat(ruby)!: drop `gem-install` support and redirect `.gem`
  src/usr/local/containerbase/tools/v2/ruby.sh
  test/ruby/Dockerfile
Due: shellcheck

feat(nix)!: redirect paths
  src/usr/local/containerbase/tools/v2/nix.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  test/nix/Dockerfile
Due: shellcheck

feat(node)!: require prepare, drop prefix config, redirect home
  src/cli/prepare-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
