Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

docs: document the version, http and prepare services
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/base-prepare.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/http.service.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

refactor: end generated files with a newline (#7437)
  src/cli/services/link-tool.service.ts
  src/cli/services/path.service.ts
  src/cli/tools/dotnet/mono.spec.ts
  src/cli/tools/dotnet/mono.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
  src/cli/tools/java/utils.ts
  src/cli/tools/node/index.ts
  src/cli/tools/python/conan.ts
  src/cli/utils/index.ts
  src/cli/utils/tags.spec.ts
  src/cli/utils/tags.ts
Due: prettier --write, eslint --fix

docs: document the recently touched functions (#7438)
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/base-prepare.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/apt.service.ts
  src/cli/services/http.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/git/index.ts
  tools/lint-versions.ts
Due: prettier --write, eslint --fix

fix: reject missing checksums
  src/cli/tools/apko.ts
  src/cli/tools/buf.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/deno.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/flux.ts
  src/cli/tools/gleam.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/haskell/ghc.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/kubectl.spec.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/node/index.ts
  src/cli/tools/sops.ts
  src/cli/tools/tofu.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/hash.ts
Due: prettier --write, eslint --fix

refactor: share checksum lookups in the base install service
  src/cli/install-tool/base-install.service.spec.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/tools/apko.ts
  src/cli/tools/apm.ts
  src/cli/tools/buf.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/deno.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gh.ts
  src/cli/tools/gleam.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/haskell/ghc.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/kubectl.spec.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/mise.spec.ts
  src/cli/tools/mise.ts
  src/cli/tools/node/index.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/php/index.ts
  src/cli/tools/pixi.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  src/cli/tools/tofu.ts
  src/cli/tools/utils/prebuild.ts
  src/cli/tools/wally.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/hash.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  646b41c20006125a4ef8b1f28dca91daf8aa2631
Due: none

Notes added by 'git notes add'
  128cf8b0aa2015c8999655a8a0bc02dd8e595b0d
Due: none

feat(tool): install nub from GitHub release binaries
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/nub.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

docs: document nub release download URLs
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

chore(nub): update release examples and tests to v0.9.3
  docs/custom-registries.md
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write

test(nub): cover release installation and checksum validation
  src/cli/tools/nub.spec.ts
Due: prettier --write, eslint --fix

chore(nub): include tool in test metadata
  .github/renovate.json
  test/latest/Dockerfile
Due: none

docs: document the checksum test helpers
  src/cli/install-tool/base-install.service.spec.ts
Due: prettier --write, eslint --fix

refactor: share checksum file reading and strip a BOM
  src/cli/install-tool/base-install.service.spec.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/tools/mise.spec.ts
Due: prettier --write, eslint --fix

fix: match checksum list entries by exact filename
  src/cli/install-tool/base-install.service.spec.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/tools/mise.spec.ts
  src/cli/tools/mise.ts
Due: prettier --write, eslint --fix

fix: reject missing checksums (#7450)
  src/cli/install-tool/base-install.service.spec.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/tools/apko.ts
  src/cli/tools/apm.ts
  src/cli/tools/buf.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/deno.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker/buildx.ts
  src/cli/tools/docker/compose.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gh.ts
  src/cli/tools/gleam.ts
  src/cli/tools/haskell/cabal.ts
  src/cli/tools/haskell/ghc.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/kubectl.spec.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/mise.spec.ts
  src/cli/tools/mise.ts
  src/cli/tools/node/index.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/php/index.ts
  src/cli/tools/pixi.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  src/cli/tools/tofu.ts
  src/cli/tools/utils/prebuild.ts
  src/cli/tools/wally.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  0b641c07eb3d05d060cc8f5815858d6e172e7d75
Due: none

docs: clarify the test hook and env export docstrings
  src/cli/install-tool/base-install.service.ts
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

feat: convert the vendir tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/vendir.spec.ts
  src/cli/tools/vendir.ts
  src/usr/local/containerbase/tools/v2/vendir.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(vendir): reject a missing checksum
  src/cli/tools/vendir.spec.ts
  src/cli/tools/vendir.ts
Due: prettier --write, eslint --fix

fix(terraform): reject a missing checksum
  src/cli/tools/terraform.spec.ts
  src/cli/tools/terraform.ts
Due: prettier --write, eslint --fix

test(vendir): match the new checksum error
  src/cli/tools/vendir.spec.ts
Due: prettier --write, eslint --fix

docs(vendir): document the install service
  src/cli/tools/vendir.ts
Due: prettier --write, eslint --fix

feat: convert the terraform tool to a typescript installer
  docs/custom-registries.md
  src/cli/tools/terraform.spec.ts
  src/cli/tools/terraform.ts
  src/usr/local/containerbase/tools/v2/terraform.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

docs(terraform): document the install service
  src/cli/tools/terraform.ts
Due: prettier --write, eslint --fix

docs(jb): document the install service
  src/cli/tools/jb.ts
Due: prettier --write, eslint --fix

feat: convert the jb tool to a typescript installer
  src/cli/tools/jb.spec.ts
  src/cli/tools/jb.ts
  src/usr/local/containerbase/tools/v2/jb.sh
Due: shellcheck, prettier --write, eslint --fix

test(terraform): match the new checksum error
  src/cli/tools/terraform.spec.ts
Due: prettier --write, eslint --fix

feat: convert the scala tool to a typescript installer
  src/cli/tools/java/scala.spec.ts
  src/cli/tools/java/scala.ts
  src/usr/local/containerbase/tools/v2/scala.sh
Due: shellcheck, prettier --write, eslint --fix

docs(scala): document the install service
  src/cli/tools/java/scala.ts
Due: prettier --write, eslint --fix

feat: convert the nix tool to a typescript installer
  src/cli/tools/nix.spec.ts
  src/cli/tools/nix.ts
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck, prettier --write, eslint --fix

fix(nix): reject an empty checksum
  src/cli/tools/nix.spec.ts
  src/cli/tools/nix.ts
Due: prettier --write, eslint --fix

docs(nix): document the install service
  src/cli/tools/nix.ts
Due: prettier --write, eslint --fix

feat: convert the terraform tool to a typescript installer (#7443)
  docs/custom-registries.md
  src/cli/tools/terraform.spec.ts
  src/cli/tools/terraform.ts
  src/usr/local/containerbase/tools/v2/terraform.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the vendir tool to a typescript installer (#7442)
  docs/custom-registries.md
  src/cli/tools/vendir.spec.ts
  src/cli/tools/vendir.ts
  src/usr/local/containerbase/tools/v2/vendir.sh
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the jb tool to a typescript installer (#7444)
  src/cli/tools/jb.spec.ts
  src/cli/tools/jb.ts
  src/usr/local/containerbase/tools/v2/jb.sh
Due: shellcheck, prettier --write, eslint --fix

feat: convert the nix tool to a typescript installer (#7446)
  src/cli/tools/nix.spec.ts
  src/cli/tools/nix.ts
  src/usr/local/containerbase/tools/v2/nix.sh
Due: shellcheck, prettier --write, eslint --fix

feat: convert the scala tool to a typescript installer (#7445)
  src/cli/tools/java/scala.spec.ts
  src/cli/tools/java/scala.ts
  src/usr/local/containerbase/tools/v2/scala.sh
Due: shellcheck, prettier --write, eslint --fix

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
