Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(cli): allow recursive uninstall (#5236)
  docs/databases.md
  src/cli/command/install-tool.ts
  src/cli/command/uninstall-gem.spec.ts
  src/cli/command/uninstall-npm.spec.ts
  src/cli/command/uninstall-pip.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/index.ts
  src/cli/utils/types.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  9413430daf3d42b0cb8daf99318bc32e031c36b8
Due: none

fix: update cli samples
  src/cli/command/uninstall-gem.ts
  src/cli/command/uninstall-npm.ts
  src/cli/command/uninstall-pip.ts
  src/cli/command/uninstall-tool.ts
Due: prettier --write, eslint --fix

feat(cli): support uninstalling all versions of a tool
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.ts
  test/node/Dockerfile
Due: prettier --write, eslint --fix

feat(cli): support uninstalling all versions of a tool (#5237)
  src/cli/command/uninstall-gem.ts
  src/cli/command/uninstall-npm.ts
  src/cli/command/uninstall-pip.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.ts
  test/node/Dockerfile
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8084921646fbbc198c4bbc165c51a79a5317caab
Due: none

Notes added by 'git notes add'
  24af755a1969275dd13f01a43a6fad1cacefdd1a
Due: none

fix(erlang): support elixir v1.19
  src/usr/local/containerbase/tools/v2/elixir.sh
  test/erlang/Dockerfile
  test/golang/Dockerfile
Due: shellcheck

chore(renovate): fix annotation
  test/latest/Dockerfile
Due: none

chore(renovate): group java updates
  renovate.json
Due: none

fix(erlang): support elixir v1.19 (#5255)
  src/usr/local/containerbase/tools/v2/elixir.sh
  test/erlang/Dockerfile
  test/golang/Dockerfile
Due: shellcheck

chore(renovate): fix `tofu` annotation (#5256)
  test/latest/Dockerfile
Due: none

chore(renovate): group java updates (#5257)
  renovate.json
Due: none

Notes added by 'git notes add'
  ac85a7ebd8394daac3498e1d5db2ccfce7f71c3b
Due: none

Apply suggestions from code review
  test/java/Dockerfile
Due: none

ci: remove Ubuntu 20.04 (focal) from testing
  .github/workflows/build.yml
Due: none

docs: fix readme
  README.md
Due: markdownlint-cli2 --fix, prettier --write

docs: update custom image references
  docs/custom-base-image.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  81cb83e150977e1365b01d5fd37fede84e087401
Due: none

Notes added by 'git notes add'
  9fb362b9aedb912ddb58a30be1259b3376c8b092
Due: none

Notes added by 'git notes add'
  c34b07ff7e794ec1e12ced91feb74e1c32e676d4
Due: none

Notes added by 'git notes add'
  1c548830009911acdbc379103c092347bee08728
Due: none

Notes added by 'git notes add'
  37d00c6b5546b8ce15af93557dd2f0a4bd44db15
Due: none

Notes added by 'git notes add'
  8ee6fa2f71eff9d22d8d18c63bcca2a19a3b8c7f
Due: none

ci: remove Ubuntu 20.04 (focal) from testing (#5261)
  .github/workflows/build.yml
  README.md
  docs/custom-base-image.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  eafbc655a06bc4b264d33705f643b931c0cc52b6
Due: none

fix(bazelisk): allow uninstall
  src/cli/tools/bazelisk.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4cc87f3582e8aaa2efd12fc4b27527c263d4734c
Due: none

Notes added by 'git notes add'
  701fcfeec52cae7383e31df151eea7df32c62929
Due: none

Notes added by 'git notes add'
  e9681cbe06906d2aeb27ec3167a11fac70f489de
Due: none

Notes added by 'git notes add'
  5f9d1bd51e984605f2e02922f444c61da92c412e
Due: none

build: allow node v24
  package.json
Due: none

Notes added by 'git notes add'
  e4af7b4ac4a4f88d6399408026b229c360b475d5
Due: none

Notes added by 'git notes add'
  144a3eebf75cca7e7d57f935c8760c609483b8ff
Due: none

docs: add tools documentation
  .markdownlint-cli2.jsonc
  docs/tools.md
Due: markdownlint-cli2 --fix, prettier --write

docs: add tools documentation (#5350)
  .markdownlint-cli2.jsonc
  docs/tools.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  56bfaf40ffc51744de86f72800e4bb4975dcef58
Due: none

Notes added by 'git notes add'
  cb82a4309d3127cfe4776581f5d9e0e25e6d9686
Due: none

Notes added by 'git notes add'
  5e2c42a2a16f4704373c26b4c7ef119eb092fe08
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
