Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  b5c7fb5e9d8cdef46469cebbbd5d789e20c29ea0
Due: none

fix(python): proper virtualenv cleanup
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/utils/filesystem.sh
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  ecfbc1b23352e5b9e875cc4e2ce4450233e781fd
Due: none

Notes added by 'git notes add'
  05baa5445b1c33f88944a1c35b5485e2e4e5aa06
Due: none

Notes added by 'git notes add'
  a463412bccf5cdcc54cdde2b5bc0c9030d57df3a
Due: none

Notes added by 'git notes add'
  6114cabcd5f2fbb9b7388993fc713efd88e25d2c
Due: none

fix: ensure proper permissions
  src/usr/local/containerbase/utils/filesystem.sh
Due: shellcheck

Notes added by 'git notes add'
  ce36c9cb95f508e93b1604a7b8e62bcf20d152d6
Due: none

Notes added by 'git notes add'
  5606b55297174b420901122e9c62648af0b703d8
Due: none

fix(node): use `NODE_OPTIONS` for `--use-openssl-ca`
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

fix(node): use `NODE_OPTIONS` for `--use-openssl-ca` (#4118)
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a585ab8870c34247943f3a34e654241873c4ca77
Due: none

Notes added by 'git notes add'
  87263449d8bf984440f956a501cee1df92b573ec
Due: none

refactor: rename classes
  src/cli/install-tool/index.ts
Due: eslint --fix, prettier --write

fix(poetry): check plugins when resolving poetry version
  src/cli/install-tool/index.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/python/schema.ts
Due: eslint --fix, prettier --write

fix(poetry): check plugins when resolving poetry version (#4129)
  src/cli/install-tool/index.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/python/schema.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  55af212d616311c8f53cf8fa5d321439ae749da4
Due: none

Notes added by 'git notes add'
  21ff3cc4d521ee83aa1a0caa2c20027a62c3eb50
Due: none

Notes added by 'git notes add'
  786cbd32efb2ae9766b493decdb8407b8a013f91
Due: none

feat: add new tool pixi
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/pixi.ts
Due: eslint --fix, prettier --write

typo
  src/cli/tools/pixi.ts
Due: eslint --fix, prettier --write

add tests
  renovate.json
  test/Dockerfile.distro
Due: none

add tests
  test/latest/Dockerfile.arm64
Due: none

add bin directory to output
  src/cli/tools/pixi.ts
Due: eslint --fix, prettier --write

do not strip
  src/cli/tools/pixi.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7cdaf2811bc8708ec046d27ca5a0d2b727cf72a1
Due: none

feat: add new tool pixi (#4161)
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/pixi.ts
  test/Dockerfile.distro
  test/latest/Dockerfile.arm64
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  da9d3a7474a61aada1ba900d3685a7437235d7db
Due: none

chore: fix coverage
  src/cli/services/version.service.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --write

test: use builtin github reporter
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix(python): use pep440 versioning
  src/cli/tools/python/utils.ts
Due: eslint --fix, prettier --write

fix: revert change
  src/cli/utils/common.ts
Due: eslint --fix, prettier --write

fix(python): use pep440 versioning (#4179)
  src/cli/tools/python/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  73ff583ee5bba7610645fa0b271d6bafb3aeca10
Due: none

Notes added by 'git notes add'
  a8f19dbdbddb5660ff1ca4ff56f743ae74148a2e
Due: none

fix(flutter): set git safe directory
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

fix(flutter): set git safe directory (#4180)
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck

Notes added by 'git notes add'
  7557ab28530c309022ec28ddd268e89aa1fafcb4
Due: none

Notes added by 'git notes add'
  703734d1fca959bcaf211ea8c46bd3986b46dcf7
Due: none

Notes added by 'git notes add'
  db6b5ae5c9bd91df81b0cef6b36bd0210ac19103
Due: none
