Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

build: fix docker cache
  docker-bake.hcl
Due: none

Notes added by 'git notes add'
  b75ec79c9746f234feb0b4f0c49c785a86fef9c5
Due: none

chore: prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: none

ci: enable blob filter
  .github/workflows/build-push.yml
Due: none

fix(python): use full python version for install path
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

fix(ruby): use full ruby version for install path
  src/cli/tools/ruby/utils.ts
  src/usr/local/containerbase/utils/ruby.sh
Due: shellcheck, eslint --fix, prettier --write

fix(python): use full python version for install path (#2185)
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

fix(ruby): use full ruby version for install path (#2186)
  src/cli/tools/ruby/utils.ts
  src/usr/local/containerbase/utils/ruby.sh
Due: shellcheck, eslint --fix, prettier --write

fix(node): use full node version for install path
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

chore(renovate): enable nodenv manager
  renovate.json
Due: none

fix(node): wrong sub classing
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

chore(renovate): enable nodenv manager (#2188)
  renovate.json
Due: none

fix: wrong base class
  src/cli/install-tool/index.ts
Due: eslint --fix, prettier --write

ci: don't cancel main builds
  .github/workflows/build-push.yml
Due: none

fix: wrong path
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

test: fix test
  test/node/Dockerfile
Due: none

fix(node)!: use full node version for install path (#2187)
  src/cli/install-tool/index.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  437c919acc5b804afedceba286d727a68f114cfa
Due: none

feat!: redirect home
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/user.sh
  src/usr/local/containerbase/utils/v2/overrides.sh
  test/node/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  6cba2638992b8188ce0ffd17bdeda64feff9e6d4
Due: none

Notes added by 'git notes add'
  821a5931113d622de322683957f0c435352f703c
Due: none

Add a comment explaining why keyrings.envvars >= 1.1.0 is needed
  src/usr/local/containerbase/tools/v2/pip-tools.sh
Due: shellcheck

Add basic tests for installing the pip-tools tool
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: none

Remove arm64 test
  test/python/Dockerfile.arm64
Due: none

feat(python): Add keyrings.envvars package to pip-tools (#2145)
  src/usr/local/containerbase/tools/v2/pip-tools.sh
  test/python/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  45fcfd03ed34bd77722858775060f3fbf944973f
Due: none

Notes added by 'git notes add'
  021efa3024e17a89dd95062bbd77e2a652148884
Due: none

Notes added by 'git notes add'
  fe0ae21c9bd191f81b5c822dce7e79dac2e83f1b
Due: none

Notes added by 'git notes add'
  fed9130000e842f5e03c80935a919d93d3e98d47
Due: none

Notes added by 'git notes add'
  dfc3b7435ee77a4bd79c81a78ff5b9ecfe49b2ee
Due: none

feat: add Wally
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/wally.ts
  test/Dockerfile.jammy
  test/latest/Dockerfile
Due: eslint --fix, prettier --write

feat(rust): validate download checksum
  src/usr/local/containerbase/tools/v2/rust.sh
Due: shellcheck

feat(rust): validate download checksum and prefer xz compression (#2250)
  src/usr/local/containerbase/tools/v2/rust.sh
Due: shellcheck

Notes added by 'git notes add'
  1809f8a1db9ecfbecdaf9fa4bbe9e4e9a3aeb70d
Due: none

Notes added by 'git notes add'
  dfe9f96c5b92dbbf78ff9a66fa88021b7b19da81
Due: none

Notes added by 'git notes add'
  c51b092e463fa961ebc5a31a3624a67bb1371c4e
Due: none

Notes added by 'git notes add'
  7d702c98a0a9398cc5a094f528ac9bb12ae4bc65
Due: none

Notes added by 'git notes add'
  ce944e221ebc3c54a8835c086a644aa2c2014158
Due: none

Notes added by 'git notes add'
  917595858e2240859c0671edcd02ae5874749ae6
Due: none

Notes added by 'git notes add'
  7caa5296b29ba7d766b2e951e214b6bfbf88605d
Due: none
