Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

build: partial revert `semantic-release:github` patch
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  96bb0260f3b2ab79fc5404df09f2de35b137eeb9
Due: none

Notes added by 'git notes add'
  e21fad45a711c12c161e44d90d30818be526eb67
Due: none

build: fix `semantic-release:github` patch
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  9cb8e0baeefa152a26ae0bd04ae482a105f14cc6
Due: none

Notes added by 'git notes add'
  7d969c8b539fefbd8454ba9fb328a6d20640fe22
Due: none

Migrate from v2
  src/cli/tools/dotnet/paket.ts
  src/usr/local/containerbase/tools/v2/paket.sh
Due: shellcheck, prettier --write, eslint --fix

Add test
  src/usr/local/containerbase/tools/v2/paket.sh
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
Due: shellcheck

Add paket tool
  src/cli/install-tool/index.ts
  src/cli/tools/dotnet/paket.ts
  src/cli/tools/index.ts
  src/usr/local/containerbase/tools/v2/paket.sh
Due: shellcheck, prettier --write, eslint --fix

Fix DOTNET ROOT
  src/cli/tools/dotnet/paket.ts
Due: prettier --write, eslint --fix

fix: apply requested changes
  src/cli/tools/dotnet/paket.ts
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
Due: prettier --write, eslint --fix

test: typo
  test/dotnet/Dockerfile.arm64
Due: none

feat: add Paket (#5483)
  src/cli/install-tool/index.ts
  src/cli/tools/dotnet/paket.ts
  src/cli/tools/index.ts
  test/dotnet/Dockerfile
  test/dotnet/Dockerfile.arm64
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  48715bfbbf00b809c5e0596108b0a4ddc8d0b316
Due: none

Notes added by 'git notes add'
  f4c5dfadf0528cc1ba350b62c5e0fb1b3e3f3c37
Due: none

Notes added by 'git notes add'
  4f7de88ea8d36f2279ddd7cd051ed99b88f2a995
Due: none

fix(tools/node): merge `NODE_OPTIONS` with process environment, if set
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/node/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  323396801b966d29e2f446668a0cd85ec8fcef3f
Due: none

Fix format
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  eaf3b1498fc76607684780cf145cccfda4c3e18e
Due: none

docs: Fix format (#5967)
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  11f050b3d99426eddeb22dbe9f114cfc5127904e
Due: none

Notes added by 'git notes add'
  fab09c2420de85996c12f451f00972cdb2a0fb09
Due: none

feat: add mise
  .github/renovate.json
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/mise.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  21031ad0f9e74b1335675994971e98cde76bdda5
Due: none

Notes added by 'git notes add'
  9446ae37fdbd700a9b1ba248a717b26881d374a5
Due: none

test(dotnet): use v10 as default
  test/dotnet/Dockerfile
Due: none

refactor(dotnet): move installer
  src/cli/tools/dotnet/index.ts
Due: prettier --write, eslint --fix

feat: add mono runtime support
  src/cli/tools/mono.ts
  src/cli/tools/utils/prebuild.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

fix(mono): register and prepare
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/mono.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
Due: prettier --write, eslint --fix

test(mono): fix test
  test/Dockerfile.distro
Due: none

feat: add mono runtime support (#5989)
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/mono.ts
  src/cli/tools/utils/prebuild.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

chore(renovate): remove maintenace branch
  .github/renovate.json
Due: none

chore(renovate): remove maintenance branch (#5990)
  .github/renovate.json
Due: none

Notes added by 'git notes add'
  efee3637900ce20421c5ebbf2a7aeddb682c8961
Due: none

feat: add nuget tool
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/nuget.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: update import
  src/cli/tools/nuget.ts
Due: prettier --write, eslint --fix

fix: wrong url
  docs/custom-registries.md
  src/cli/tools/nuget.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(mono): init ssl certs
  src/cli/tools/mono.ts
Due: prettier --write, eslint --fix
