Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

feat(base): declare the supported node versions
  packages/base/package.json
Due: none

feat(base): declare the supported node versions (#7604)
  packages/base/package.json
Due: none

Notes added by 'git notes add'
  37429a76208575c54ad849872f7eb45303756497
Due: none

Notes added by 'git notes add'
  137b03c416f44824bdc86a819b0999f187cf030b
Due: none

Notes added by 'git notes add'
  f1a577eec5bf32db50a549cf41999f5e7fbb535c
Due: none

test: run containerbase with a read-only file system
  .github/workflows/build.yml
  test/readonly/Dockerfile
  test/readonly/test.sh
Due: shellcheck

test: pass docker run args to the read-only test instead of forcing host network
  test/readonly/test.sh
Due: shellcheck

test: run containerbase with a read-only file system (#7622)
  .github/workflows/build.yml
  test/readonly/Dockerfile
  test/readonly/test.sh
Due: shellcheck

ci: build branches through their pull request and skip docker tests for drafts
  .github/workflows/build-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

ci: rerun without docker tests when a pull request is converted to draft
  .github/workflows/build-pr.yml
Due: none

ci: build branches through their pull request and skip docker tests for drafts (#7623)
  .github/workflows/build-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

fix: check missing and unsearchable folders and don't treat unreadable databases as empty
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  test/readonly/test.sh
Due: shellcheck, prettier --write, eslint --fix

feat: fail early when the containerbase folders are not writable
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/list-tools.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.spec.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  test/readonly/test.sh
Due: shellcheck, prettier --write, eslint --fix

feat: start the not-writable errors with their error code
  src/cli/command/install-tool.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/prepare-tool/prepare-tool.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  test/readonly/test.sh
Due: shellcheck, prettier --write, eslint --fix

fix: keep read-only and dry-run commands off the disk and check link-tool only for its folder
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.spec.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

fix(http): fail fast on permanent client errors in get and getJson
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: prettier --write, eslint --fix

feat(java): resolve partial versions to the newest matching release
  README.md
  docs/cdn.md
  docs/custom-registries.md
  src/cli/tools/java/index.ts
  src/cli/tools/java/resolver.spec.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/java/utils.spec.ts
  src/cli/tools/java/utils.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix(java): report partial versions without a release and test them in a real build
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/tools/java/resolver.spec.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/java/utils.spec.ts
  src/cli/tools/java/utils.ts
  test/java/Dockerfile
Due: prettier --write, eslint --fix

feat(node): resolve partial versions to the newest matching release
  README.md
  src/cli/tools/node/resolver.spec.ts
  src/cli/tools/node/resolver.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

refactor(java): parse the last version part with parseInt
  src/cli/tools/java/resolver.ts
Due: prettier --write, eslint --fix

feat: fail early when the containerbase folders are not writable (#7624)
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/list-tools.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/prepare-tool.service.spec.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  test/readonly/test.sh
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  db8c34d36bc544557239ab4af55eebcd97c49433
Due: none

fix(http): fail fast on permanent client errors in get and getJson (#7628)
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
Due: prettier --write, eslint --fix

feat(java): resolve partial versions to the newest matching release (#7627)
  README.md
  docs/cdn.md
  docs/custom-registries.md
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/resolver.spec.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/java/utils.spec.ts
  src/cli/tools/java/utils.ts
  test/java/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(node): resolve partial versions to the newest matching release (#7630)
  README.md
  src/cli/tools/node/resolver.spec.ts
  src/cli/tools/node/resolver.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  c92ceedc716cef824fd381129582584e31c1bb14
Due: none

feat: show tool-specific version notes in the install-tool help
  docs/tools.md
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/node/resolver.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat(node): resolve partial npm tool versions to the newest matching release
  README.md
  docs/tools.md
  src/cli/command/install-npm.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/resolver.spec.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/schema.ts
  src/cli/utils/versions.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

docs: move the tool version notes from the readme to the tools docs
  README.md
  docs/tools.md
Due: markdownlint-cli2 --fix, prettier --write

fix(node): pick partial npm versions like npm does
  docs/tools.md
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/tools/node/resolver.spec.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: resolve partial pip, poetry and nuget versions to the newest matching release
  docs/tools.md
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-pip.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/install-tool/version-resolvers.spec.ts
  src/cli/install-tool/version-resolvers.ts
  src/cli/tools/dotnet/nuget.spec.ts
  src/cli/tools/dotnet/nuget.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/python/pip.spec.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.spec.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/tools/ruby/utils.ts
  test/Dockerfile.distro
  test/python/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: keep nuget versions when tools.json can't be loaded
  docs/tools.md
  src/cli/tools/dotnet/nuget.spec.ts
  src/cli/tools/dotnet/nuget.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

ci: skip the build and docker tests for docs-only pull requests
  .github/workflows/build.yml
  .github/workflows/devcontainer.yml
Due: none

docs: test docs-only ci
  docs/new-tool.md
Due: markdownlint-cli2 --fix, prettier --write

ci: list both paths of renamed files in the docs-only check
  .github/workflows/build.yml
Due: none

ci: skip the build and docker tests for docs-only pull requests (#7636)
  .github/workflows/build.yml
  .github/workflows/devcontainer.yml
Due: none

ci: harden the workflows
  .github/workflows/auto-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
  .github/zizmor.yml
Due: none

ci: lint the workflows with actionlint and zizmor
  .github/renovate.json
  .github/workflows/build-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

ci: harden the workflows (#7639)
  .github/workflows/auto-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/cancel-stale-merge-queue-workflows.yml
  .github/workflows/devcontainer.yml
  .github/workflows/trivy.yml
  .github/zizmor.yml
Due: none

ci: lint the workflows with actionlint and zizmor (#7638)
  .github/renovate.json
  .github/workflows/build-pr.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none
