Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: update node-gyp
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: wrong path
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: be silent
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(node): convert to javascript (#1326)
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/compression.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/index.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/node.sh
  test/global-setup.ts
  test/path.ts
  test/types.d.ts
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  92/d6e33dfb8d7f3ee471a4b235991c902dfa6602
Due: prettier --ignore-unknown --write

fix: missing file in shellwrapper
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: wrong operator
  src/cli/services/version.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: add tests
  .gitignore
  package.json
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
  test/path.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  dd/5a90400d6107bc99da3412ab7179b9fda8f020
Due: prettier --ignore-unknown --write

test: more test coverage
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/versions.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cli): redirect stderr to stdout for child process
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/flux/index.ts
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(node): simplify shell wrapper creation
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  6f/85a98a1724ee6ce34364724e2a91daafc1eb03
Due: prettier --ignore-unknown --write

feat(node): simplify shell wrapper creation (#1342)
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): add `install-npm` tool
  src/cli/command/index.ts
  src/cli/command/install-npm.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/bin/install-containerbase
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  b9/29c3c940708e5f7157ea8615b57fba53232d77
Due: prettier --ignore-unknown --write

feat(cli): add `install-npm` tool (#1343)
  src/cli/command/index.ts
  src/cli/command/install-npm.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  src/usr/local/bin/install-containerbase
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  4b/acc2a95e4cb3956debb65b64177428c6dd8938
Due: prettier --ignore-unknown --write

fix: patch clipanion for esm
  .yarn/patches/clipanion-npm-3.2.1-fc9187f56c.patch
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: update tooling
  .eslintrc.cjs
  tools/publish-release.js
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): simplify version from env handling
  src/cli/command/download-file.spec.ts
  src/cli/command/download-file.ts
  src/cli/command/index.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/command/utils.ts
  src/cli/main.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): move cleanup
  package.json
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
  src/cli/utils/logger.spec.ts
  src/usr/local/bin/install-apt
  src/usr/local/containerbase/bin/install-tool
  src/usr/local/containerbase/bin/prepare-tool
  yarn.lock
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore: update ignores
  .eslintignore
  .prettierignore
Due: prettier --ignore-unknown --write

test: fix test
  src/cli/utils/common.spec.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  7d/53aeed1e9c7bc1e6e3c9a44de70ff7faec5d1e
Due: prettier --ignore-unknown --write

feat(cli): convert dotnet
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.ts
  src/cli/services/compression.service.ts
  src/cli/services/env.service.ts
  src/cli/services/index.ts
  src/cli/tools/dotnet/index.ts
  src/usr/local/containerbase/tools/v2/dotnet.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: remove unused path service
  src/cli/tools/dotnet/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: add apt service test
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(cli): convert dotnet (#1347)
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/services/compression.service.ts
  src/cli/services/env.service.ts
  src/cli/services/index.ts
  src/cli/tools/dotnet/index.ts
  src/usr/local/containerbase/tools/v2/dotnet.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  02/5ba94c58690df176307b0daee692a623ec300a
Due: prettier --ignore-unknown --write

fix(npm): use different cwd to not read repo configs
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  9f/c011666062495f3ff64591357143e666ef553f
Due: prettier --ignore-unknown --write

fix(dotnet): export missing env
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/dotnet/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  48/80825cc0f2b0c1c9b9c73be079f217e47235c1
Due: prettier --ignore-unknown --write

fix: don't expect no hostname as docker build
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: better docker build detection
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
Due: eslint --fix, prettier --ignore-unknown --write

test(nix): add GITHUB_TOKEN as arg
  test/nix/Dockerfile
Due: prettier --ignore-unknown --write

chore: testing
  .github/workflows/build.yml
  src/cli/utils/common.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --ignore-unknown --write

chore: more testing
  test/java/Dockerfile
Due: prettier --ignore-unknown --write

chore: more testing
  .github/workflows/build.yml
Due: prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
