Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

feat(cli): add `uninstall-tool` command (#5026)
  src/cli/command/index.ts
  src/cli/command/uninstall-gem.spec.ts
  src/cli/command/uninstall-gem.ts
  src/cli/command/uninstall-npm.spec.ts
  src/cli/command/uninstall-npm.ts
  src/cli/command/uninstall-pip.spec.ts
  src/cli/command/uninstall-pip.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/v2-tool.service.ts
  src/cli/tools/__mocks__/bun.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/utils/codes.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/bin/v2-install-tool.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
  test/di.ts
  test/latest/Dockerfile
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  be8209b3886254fae1dd18703a988d12b72752d0
Due: none

Fix ordering and issues as requested
  docs/custom-registries.md
  src/cli/install-tool/index.ts
  src/cli/tools/tofu.ts
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Missed one
  test/latest/Dockerfile
Due: none

Finish sorting the list
  test/latest/Dockerfile
Due: none

Add tofu as a tool
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/tofu.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Trying once again to actually alphabetize everything
  src/cli/tools/index.ts
  test/latest/Dockerfile.arm64
Due: prettier --write, eslint --fix

Miss saving the file
  test/Dockerfile.distro
Due: none

Notes added by 'git notes add'
  14bd541383710b01151458d3723a7e58d1edcb2a
Due: none

feat: Add tofu tool (#5142)
  docs/custom-registries.md
  renovate.json
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/tofu.ts
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  9f0fe432f13db1f4cc2b82e05d34c67c66e82ee6
Due: none

fix(cli): correctly detect prepare and init steps for v2 tools
  src/cli/services/v2-tool.service.ts
  src/cli/tools/erlang/elixir.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/golang.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/java/scala.ts
  src/cli/tools/jb.ts
  src/cli/tools/nix.ts
  src/cli/tools/powershell.ts
  src/cli/tools/python/index.ts
  src/cli/tools/ruby/index.ts
  src/cli/tools/rust.ts
  src/cli/tools/swift.ts
  src/cli/tools/terraform.ts
  src/cli/tools/vendir.ts
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/sbt.sh
  src/usr/local/containerbase/tools/v2/swift.sh
Due: shellcheck, prettier --write, eslint --fix

fix(cli): correctly detect prepare and init steps for v2 tools (#5177)
  src/cli/services/v2-tool.service.ts
  src/cli/tools/erlang/elixir.ts
  src/cli/tools/erlang/index.ts
  src/cli/tools/git/lfs.ts
  src/cli/tools/golang.ts
  src/cli/tools/java/sbt.ts
  src/cli/tools/java/scala.ts
  src/cli/tools/jb.ts
  src/cli/tools/nix.ts
  src/cli/tools/powershell.ts
  src/cli/tools/python/index.ts
  src/cli/tools/ruby/index.ts
  src/cli/tools/rust.ts
  src/cli/tools/swift.ts
  src/cli/tools/terraform.ts
  src/cli/tools/vendir.ts
  src/usr/local/containerbase/tools/v2/elixir.sh
  src/usr/local/containerbase/tools/v2/erlang.sh
  src/usr/local/containerbase/tools/v2/golang.sh
  src/usr/local/containerbase/tools/v2/powershell.sh
  src/usr/local/containerbase/tools/v2/python.sh
  src/usr/local/containerbase/tools/v2/ruby.sh
  src/usr/local/containerbase/tools/v2/rust.sh
  src/usr/local/containerbase/tools/v2/sbt.sh
  src/usr/local/containerbase/tools/v2/swift.sh
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  060038deaf6265dedef62c9a19c0c81bf1bbcf62
Due: none

ci: use internal tools setup
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

docs(scala): fix scala url
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

ci: use internal tools setup (#5184)
  .github/actions/setup-node/action.yml
  .github/workflows/build-push.yml
  .github/workflows/build.yml
Due: none

fix(cli): call post-install from v2 tools
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/v2-tool.service.ts
Due: prettier --write, eslint --fix

fix(cli): call post-install from v2 tools (#5191)
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/v2-tool.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a98a0af3443b7633cefde42803476985b345023a
Due: none

docs(scala): fix scala url (#5187)
  docs/custom-registries.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  4cda966574c7055cb6e7382757c77f5f568b5456
Due: none

feat(cli): use ipc callback for tool linking
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/index.ts
  src/cli/services/ipc.service.ts
  src/cli/services/link-tool.service.spec.ts
  src/cli/services/link-tool.service.ts
Due: prettier --write, eslint --fix

feat(cli): use ipc callback for tool linking (#5201)
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/index.ts
  src/cli/services/ipc.service.ts
  src/cli/services/link-tool.service.spec.ts
  src/cli/services/link-tool.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  043a28df9fbcfa4344b78d8ce07efc6d8af2131c
Due: none

feat(cli): remember tool links
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/link-tool.service.ts
Due: prettier --write, eslint --fix

feat(cli): remember tool links (#5207)
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/link-tool.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  666cdfc8f33ddbf51435ee20d7764c8890674b5a
Due: none

Notes added by 'git notes add'
  34c0122b4041a7038cac67bfe41b7cd687845e4f
Due: none

Notes added by 'git notes add'
  b46158f52a247788d874d784ee2e89d2576f0193
Due: none

Notes added by 'git notes add'
  1245cf730dcbc53389827773889763324bd370aa
Due: none

Notes added by 'git notes add'
  786ada2da58e168cd72bf06973b02971b7ae4695
Due: none

Notes added by 'git notes add'
  e1a52566432b7e98ad43afa01178b592065fe7b2
Due: none

feat(cli): allow remove current version
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/services/version.service.ts
  test/jb/Dockerfile
Due: prettier --write, eslint --fix

test: fix test
  src/cli/install-tool/index.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  451741bdde4f916dc8530a899ec9f7eee8832c6b
Due: none

feat(cli): allow remove current version (#5234)
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/services/version.service.ts
  test/jb/Dockerfile
Due: prettier --write, eslint --fix

fix(cli): remove current version file for v2 tool on uninstall
  src/cli/services/version.service.ts
  test/jb/Dockerfile
Due: prettier --write, eslint --fix

feat(cli): allow recursive uninstall
  docs/databases.md
  src/cli/command/install-tool.ts
  src/cli/command/uninstall-gem.spec.ts
  src/cli/command/uninstall-npm.spec.ts
  src/cli/command/uninstall-pip.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/index.ts
  src/cli/utils/types.ts
  test/node/Dockerfile
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: fix python tests
  test/python/test/c-poetry/poetry.lock
  test/python/test/c-poetry/pyproject.toml
Due: none
