Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

docs: update certificates notes
  docs/custom-root-ca.md
Due: none

chore(renovate): set proper java dep name
  test/java/Dockerfile
Due: none

fix: pino import
  src/cli/utils/logger.spec.ts
  src/cli/utils/logger.ts
  test/global-setup.ts
Due: eslint --fix, prettier --write

chore: move pnpm settings
  package.json
  pnpm-workspace.yaml
Due: none

fix: migration
  src/cli/command/download-file.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/compression.service.spec.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/version.service.spec.ts
Due: eslint --fix, prettier --write

fix: wrong migration
  src/cli/services/index.ts
Due: eslint --fix, prettier --write

chore: fix lint
  eslint.config.js
  src/cli/main.ts
Due: eslint --fix, prettier --write

ci: migrate shellcheck action
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  6b7e356983ca8b7a018a8c34664f943d7a8ec9fa
Due: none

fix(inversify): migrate to v7
  src/cli/install-tool/index.ts
  src/cli/services/index.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker.ts
  src/cli/tools/dotnet.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gleam.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/php/index.ts
  src/cli/tools/pixi.ts
  src/cli/tools/protoc.ts
  src/cli/tools/python/conan.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

chore: add vite to peer deps
  package.json
  pnpm-lock.yaml
Due: none

docs: lint markdown files
  .github/workflows/build.yml
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  package.json
  pnpm-lock.yaml
Due: none

chore: update eslint
  eslint.config.js
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --write

chore: drop unused
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  46a0606c99c00b3622a240cbe16da05c538704f7
Due: none

Notes added by 'git notes add'
  c0691a1576d2b0d01b1c8de8fad550e860709728
Due: none

chore: drop vite as dev dep
  package.json
  pnpm-lock.yaml
Due: none

chore(renovate): automerge flutter minor
  renovate.json
Due: none

chore(renovate): automerge dart
  renovate.json
Due: none

chore(renovate): automerge `flutter` and `dart` (#4846)
  renovate.json
Due: none

fix: ignore not installable `verbose` package
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  536d6c7e4c04536d1187dedaf997d021fb620336
Due: none

feat(cli): rename file download command
  src/cli/command/file-download.spec.ts
  src/cli/command/file-download.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, eslint --fix, prettier --write

fix(cli): wrong help detail
  src/cli/command/file-download.ts
Due: eslint --fix, prettier --write

feat(cli): add file exists command and use it in cache
  src/cli/command/file-exists.spec.ts
  src/cli/command/file-exists.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/utils/cache.sh
  test/bash/cache.bats
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  c50e39238668098883a008d59e69b7859e2e31d1
Due: none

feat(cli): add file exists command and use it in cache (#4849)
  src/cli/command/file-exists.spec.ts
  src/cli/command/file-exists.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/utils/cache.sh
  test/bash/cache.bats
Due: shellcheck, eslint --fix, prettier --write

build: fix image signing
  tools/publish-release.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b8277acf15245a975012b2770ca9e0e21b034dae
Due: none

Notes added by 'git notes add'
  78b782e7c070581800ffcedf6b1450204169b671
Due: none

Notes added by 'git notes add'
  a6151d8bb3bf67b07d8b7e9c6a6a54fa1a53beeb
Due: none

Notes added by 'git notes add'
  418442e8647d6d6eca9a6046a8dc6075bac2ce28
Due: none

Notes added by 'git notes add'
  86ae536a70a775b412622bdda144b2af31e03d28
Due: none

Notes added by 'git notes add'
  84abea775df40ec3f2fa9bf950de83c49e2fda44
Due: none

ci: update codecov digest to 39a2af1
  .github/workflows/build.yml
Due: none

build: add workaround for latest github release from maintenance branch
  package.json
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
Due: none

chore: fix patch
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
Due: none

build(inversify): use `injectFromHierarchy` instead of `injectFromBase`
  src/cli/install-tool/index.ts
  src/cli/tools/bazelisk.ts
  src/cli/tools/bun.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/devbox.ts
  src/cli/tools/docker.ts
  src/cli/tools/dotnet.ts
  src/cli/tools/flutter.ts
  src/cli/tools/flux.ts
  src/cli/tools/gleam.ts
  src/cli/tools/helm.ts
  src/cli/tools/helmfile.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/java/resolver.ts
  src/cli/tools/kubectl.ts
  src/cli/tools/kustomize.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/php/index.ts
  src/cli/tools/pixi.ts
  src/cli/tools/protoc.ts
  src/cli/tools/python/conan.ts
  src/cli/tools/python/pip.ts
  src/cli/tools/python/poetry.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/cocoapods.ts
  src/cli/tools/ruby/utils.ts
  src/cli/tools/skopeo.ts
  src/cli/tools/sops.ts
  src/cli/tools/wally.ts
Due: eslint --fix, prettier --write

build: add workaround for latest github release from maintenance branch (#4867)
  package.json
  patches/@semantic-release__github.patch
  pnpm-lock.yaml
Due: none
