Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  0f/55bd9409bcc8ab83c5765ec233ad563ef9045a
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e2/2d77fa24f7ef3363174750afd22672b0863d34
Due: prettier --ignore-unknown --write

fix: create tool path if needed
  src/cli/tools/flux/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: support url rewrite
  src/cli/command/download-file.ts
  src/cli/command/index.ts
  src/cli/command/utils.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
  src/cli/utils/index.ts
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Update src/usr/local/containerbase/utils/cache.sh
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, prettier --ignore-unknown --write

tes: fix bats tests
  .github/workflows/build.yml
  src/cli/command/download-file.ts
  test/bash/cache.bats
  test/bash/util.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: remove file removal
  src/cli/command/download-file.ts
Due: eslint --fix, prettier --ignore-unknown --write

test(python): fix poetry test
  test/python/test/c-poetry/poetry.lock
  test/python/test/c-poetry/pyproject.toml
Due: prettier --ignore-unknown --write

docs: update url replacement
  README.md
Due: prettier --ignore-unknown --write

feat(cli): convert flux (#1204)
  src/cli/install-tool/index.ts
  src/cli/tools/flux/index.ts
  src/usr/local/containerbase/tools/v2/flux.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore: add codecov badge
  README.md
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  c3/5bc93fe6e24d459fce1ae93842e4f9686d4b79
Due: prettier --ignore-unknown --write

chore: add codecov badge (#1211)
  README.md
Due: prettier --ignore-unknown --write

fix(cli): respect `IGNORED_TOOLS`
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

refactor: move url replace
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: wrong condition
  src/cli/utils/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Update src/cli/services/env.service.ts
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: formatting
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: stronger validation
  src/cli/command/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

Apply suggestions from code review
  README.md
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  76/291f61b862a145e62370e1d00e44e644d6648c
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  01/5356fb8ac561e3a709ea277c9248dfa8d3e157
Due: prettier --ignore-unknown --write

feat: support url rewrite (#1210)
  .github/workflows/build.yml
  README.md
  src/cli/command/download-file.ts
  src/cli/command/index.ts
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/cache.sh
  test/bash/cache.bats
  test/bash/util.sh
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  ff/92f8d0ed2f2df804acf31ccfb4d3b4f082a985
Due: prettier --ignore-unknown --write

feat: support http proxy
  package.json
  src/cli/main.ts
  src/cli/proxy.spec.ts
  src/cli/proxy.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

feat: support http proxy (#1243)
  package.json
  src/cli/main.ts
  src/cli/proxy.spec.ts
  src/cli/proxy.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  df/e39125e06f34c0987141e240e45e37712f8500
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  84/6829531d00e7df200ba8f5254ed64cf0c83688
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  8b/2e727b18657e3c1c42b42fdc8a544a4a34c878
Due: prettier --ignore-unknown --write

chore: refactor devcontainer to remove warnings
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write

chore: refactor devcontainer to remove warnings (#1264)
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  95/00ebe816bbc185d99b6b96ddb250cdf4c937c1
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  bf/3854ba22b498cae2caf02d9b7d2c0625074c85
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  89/b3f6ee8bf916adf647ece866dc200349299ee1
Due: prettier --ignore-unknown --write

chore: use prettier-plugin-packagejson
  .prettierrc.json
  package.json
  test/node/test/b/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: fix format
  .prettierrc.json
  package.json
Due: prettier --ignore-unknown --write

fix: buffer download logs
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: readd expected log message
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: buffer download logs (#1274)
  src/usr/local/containerbase/utils/cache.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  e9/d810d62d861964d02e9f98a5fa009d15868e74
Due: prettier --ignore-unknown --write
