Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

feat: apply review feedback for `list tools`
  docs/list-tools.schema.json
  docs/tools.md
  package.json
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/index.ts
  src/cli/services/version.schema.ts
  src/cli/services/version.service.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  tools/schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: assert `list tools` output around node uninstall
  test/node/Dockerfile
Due: none

test: move StdoutMock to test/mock.ts
  src/cli/command/list-tools.spec.ts
  test/mock.ts
Due: prettier --write, eslint --fix

fix: resolve current version of aliased tools in `list tools`
  src/cli/command/list-tools.spec.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

Revert "fix: keep status logs out of the json output"
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
Due: prettier --write, eslint --fix

feat: add `list tools` command
  docs/tools.md
  src/cli/command/index.ts
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/index.ts
  src/cli/services/version.service.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: add `list tools` command (#7410)
  .github/workflows/build.yml
  AGENTS.md
  docs/list-tools.schema.json
  docs/tools.md
  package.json
  src/cli/command/index.ts
  src/cli/command/list-tools.spec.ts
  src/cli/command/list-tools.ts
  src/cli/services/index.ts
  src/cli/services/version.schema.ts
  src/cli/services/version.service.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
  test/mock.ts
  test/node/Dockerfile
  tools/schema.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  1a2fd4b0748a517dbeabfb276d100d6ac278a849
Due: none

test: don't leak the github token into the nix build log
  test/nix/Dockerfile
  test/nix/with-github-token.sh
Due: shellcheck

test(vp): use async I/O for planner checks
  .dockerignore
  package.json
  test/Dockerfile.distro
  test/node/Dockerfile
  test/node/Dockerfile.arm64
  test/node/vp/sync-versions.mjs
Due: prettier --write, eslint --fix

test: don't leak the github token into the nix build log (#7425)
  test/nix/Dockerfile
  test/nix/with-github-token.sh
Due: shellcheck

chore: ignore claude workspaces in lint and test tooling
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  eslint.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: ignore claude workspaces in lint and test tooling (#7426)
  .gitignore
  .markdownlint-cli2.jsonc
  .prettierignore
  eslint.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: undo rolldown change
  package.json
Due: none

test: stub the environment instead of mutating process.env
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/install-tool/install-legacy-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/proxy.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/node/index.spec.ts
  src/cli/tools/node/npm.spec.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/python/conan.spec.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/utils/logger.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test(android): serve the sdk repository to whichever test runs first
  src/cli/tools/java/android.spec.ts
Due: prettier --write, eslint --fix

chore: add mise config for local development
  .github/renovate.json
  .github/workflows/build.yml
  README.md
  mise.toml
  package.json
  tools/lint-versions.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

chore: add mise config for local development (#7434)
  .github/renovate.json
  .github/workflows/build.yml
  README.md
  mise.toml
  package.json
  tools/lint-versions.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

test: stop counting mocks as coverage, and cover the error paths
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/file-download.spec.ts
  src/cli/command/file-exists.spec.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/services/path.service.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test: require full coverage of the cli
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/ipc.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/tools/java/android-no-latest.spec.ts
  src/cli/tools/java/index.spec.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/python/conan.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test: stub the environment instead of mutating process.env (#7429)
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/utils.spec.ts
  src/cli/install-tool/install-legacy-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/proxy.spec.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/path.service.spec.ts
  src/cli/tools/dotnet/index.spec.ts
  src/cli/tools/node/index.spec.ts
  src/cli/tools/node/npm.spec.ts
  src/cli/tools/node/utils.spec.ts
  src/cli/tools/php/index.spec.ts
  src/cli/tools/python/conan.spec.ts
  src/cli/tools/ruby/utils.spec.ts
  src/cli/utils/logger.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test(android): serve the sdk repository to whichever test runs first (#7430)
  src/cli/tools/java/android.spec.ts
Due: prettier --write, eslint --fix

test: stop counting mocks as coverage, and cover the error paths (#7432)
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/file-download.spec.ts
  src/cli/command/file-exists.spec.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/services/path.service.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test: require full coverage of the cli (#7433)
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/ipc.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/tools/java/android-no-latest.spec.ts
  src/cli/tools/java/index.spec.ts
  src/cli/tools/java/maven.spec.ts
  src/cli/tools/python/conan.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: add `@containerbase/base` package with the supported tool list
  .github/workflows/build.yml
  .gitignore
  docs/new-tool.md
  eslint.config.js
  package.json
  packages/base/README.md
  packages/base/data/tools.json
  packages/base/data/tools.schema.json
  packages/base/package.json
  packages/base/src/data.ts
  packages/base/src/index.ts
  packages/base/src/schema.ts
  packages/base/src/types.ts
  packages/base/src/zod.ts
  packages/base/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  tools/tools.ts
  tsconfig.json
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

feat: convert the git tool to a typescript installer
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
  src/cli/utils/codes.ts
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck, prettier --write, eslint --fix

fix: don't create the apt sources directory
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

test: drop the extra container from the install tool service spec
  src/cli/install-tool/install-tool.service.spec.ts
Due: prettier --write, eslint --fix

feat: write a deb822 apt sources file
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

refactor: build the apt sources file with codeBlock
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

test: use codeBlock for the apt sources expectation
  src/cli/tools/git/index.spec.ts
Due: prettier --write, eslint --fix

fix: coerce the installed git version
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

refactor: drop the version debug log
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

fix: don't support uninstalling git
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/apt.service.spec.ts
  src/cli/services/apt.service.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
Due: prettier --write, eslint --fix

feat: convert the git tool to a typescript installer (#7436)
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
  src/cli/utils/codes.ts
  src/usr/local/containerbase/tools/git.sh
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  3ccff094468e9bad2b80dce2179826ba33743694
Due: none

refactor: end generated files with a newline
  src/cli/services/link-tool.service.ts
  src/cli/services/path.service.ts
  src/cli/tools/dotnet/mono.spec.ts
  src/cli/tools/dotnet/mono.ts
  src/cli/tools/git/index.spec.ts
  src/cli/tools/git/index.ts
  src/cli/tools/java/utils.ts
  src/cli/tools/node/index.ts
  src/cli/tools/python/conan.ts
  src/cli/utils/index.ts
  src/cli/utils/tags.spec.ts
  src/cli/utils/tags.ts
Due: prettier --write, eslint --fix

docs: document the recently touched functions
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/apt.service.ts
  src/cli/services/link-tool.service.ts
  src/cli/tools/git/index.ts
  tools/lint-versions.ts
Due: prettier --write, eslint --fix
