Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.sh": "shellcheck",
  "*.bats": "shellcheck",
  ".husky/*": "shellcheck",
  "src/usr/local/bin/*": "shellcheck",
  "src/usr/local/containerbase/bin/*": "shellcheck",
  "*.{js,ts,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "!*.{js,ts,cjs,mjs}": "prettier --ignore-unknown --write"
}

feat(node)!: redirect corepack home
  src/cli/tools/node/index.ts
Due: eslint --fix, prettier --write

feat: support non-root only env vars
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/utils/environment.sh
Due: shellcheck, eslint --fix, prettier --write

feat: support non-root only env vars (#2731)
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/usr/local/containerbase/utils/environment.sh
Due: shellcheck, eslint --fix, prettier --write

feat!: redirect folders to `/opt/containerbase` (#2090)
  docs/custom-base-image.md
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  src/usr/local/sbin/install-containerbase
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  c01d8d97642a4da7e3672f74f3b87695ed1b7d9b
Due: none

feat!: set `XDG_<xxx>_HOME`
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/latest/Dockerfile
Due: shellcheck

feat!: set `XDG_<xxxx>_HOME` variables (#2733)
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/latest/Dockerfile
Due: shellcheck

feat(golang)!: change paths
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck

Notes added by 'git notes add'
  bb60560c15af6f326c9e7905761ed10a27a014fe
Due: none

fix(ruby): correctly pass source url to gem command
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --write

fix(ruby): correctly pass source url to gem command (#2745)
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6c8bc77cf506462715d413c340699f310459c388
Due: none

fix(cli): add user-agent to requests.
  src/cli/command/download-file.ts
Due: eslint --fix, prettier --write

fix: update logging
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --write

feat: support replacements after cdn
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
Due: eslint --fix, prettier --write

feat(python): support cdn
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck

Notes added by 'git notes add'
  37fbb2316a234c2fd2234a8c186c83e483ebfeba
Due: none

feat(cli): convert java installer
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/schema.ts
  src/usr/local/containerbase/tools/v2/java-jdk.sh
  src/usr/local/containerbase/tools/v2/java-jre.sh
  src/usr/local/containerbase/tools/v2/java.sh
  src/usr/local/containerbase/utils/java.sh
  test/bash/java.bats
Due: shellcheck, eslint --fix, prettier --write

test drop obsolete tests
  test/bash/java.bats
Due: shellcheck

fix: revert breaking changes
  src/usr/local/containerbase/utils/java.sh
Due: shellcheck

feat: revert to use adoptium api
  src/cli/tools/java/index.ts
  src/cli/tools/java/schema.ts
  src/cli/tools/java/utils.ts
Due: eslint --fix, prettier --write

refactor(cli): move isPrepared check to services
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool-base.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
Due: eslint --fix, prettier --write

refactor(cli): add ssl path
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
Due: eslint --fix, prettier --write

build(cli): add zod package
  package.json
  pnpm-lock.yaml
Due: none

fix: revert
  src/cli/install-tool/install-tool-base.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  79d56e2160c7542cc36a7ddaaad33efa93f505e0
Due: none

fix(cli): simplify version resolver
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/tools/node/resolver.ts
Due: eslint --fix, prettier --write

fix(python): don't override `PIP_INDEX_URL`
  src/usr/local/containerbase/utils/python.sh
  test/python/test/b-conan/conanfile.txt
Due: shellcheck

feat(cli): convert java installer (#2749)
  src/cli/install-tool/index.ts
  src/cli/prepare-tool/index.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/schema.ts
  src/cli/tools/java/utils.ts
  src/usr/local/containerbase/tools/v2/java-jdk.sh
  src/usr/local/containerbase/tools/v2/java-jre.sh
  src/usr/local/containerbase/tools/v2/java.sh
  test/bash/java.bats
Due: shellcheck, eslint --fix, prettier --write

feat(cli/java): resolve latest lts version
  src/cli/install-tool/index.ts
  src/cli/install-tool/tool-version-resolver.ts
  src/cli/tools/java/resolver.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

fix(cli/node): fix yarn resolver
  src/cli/install-tool/index.ts
  src/cli/tools/node/resolver.ts
  src/cli/tools/node/schema.ts
  src/cli/tools/node/types.ts
  test/node/Dockerfile
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  977323f41932cea3d380e778ff8c7db6f9af2f7f
Due: none

feat(cli/java): convert gradle installer
  src/cli/install-tool/index.ts
  src/cli/tools/index.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/schema.ts
  src/cli/tools/java/utils.ts
  src/usr/local/containerbase/tools/v2/gradle.sh
  test/java/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

Notes added by 'git notes add'
  9fabcd033f4ea79824c56fca94b0bf53a9313aa6
Due: none

fix(cli): clean caches
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  04ab01494bece6a61666d84be25bf5ee585ab838
Due: none

Remove redundant prepare
  test/Dockerfile.noble
Due: none
