Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore(renovate): disable digest pinning for test deps
  renovate.json
Due: prettier --ignore-unknown --write

chore: update yarn sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
Due: prettier --ignore-unknown --write

build: add esbuild resolution
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  dd/d5338a91d534529a7d68ba17ab692d35fb8d78
Due: prettier --ignore-unknown --write

feat(cli): convert npm tools
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/flux/index.ts
  src/cli/tools/index.ts
  src/cli/tools/npm/index.ts
  src/cli/tools/npm/utils.ts
  src/cli/utils/versions.ts
  src/usr/local/containerbase/tools/v2/corepack.sh
  src/usr/local/containerbase/tools/v2/lerna.sh
  src/usr/local/containerbase/tools/v2/node.sh
  src/usr/local/containerbase/tools/v2/npm.sh
  src/usr/local/containerbase/tools/v2/pnpm.sh
  src/usr/local/containerbase/tools/v2/renovate.sh
  src/usr/local/containerbase/tools/v2/yarn-slim.sh
  src/usr/local/containerbase/tools/v2/yarn.sh
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

fix: rename files
  src/cli/install-tool/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: missing variable
  src/usr/local/containerbase/tools/v2/node.sh
Due: shellcheck, prettier --ignore-unknown --write

fix: only link corepack if available
  src/usr/local/containerbase/tools/v2/node.sh
  test/node/Dockerfile
Due: shellcheck, prettier --ignore-unknown --write

feat(node): convert npm tools to typescript (#1285)
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/version.service.ts
  src/cli/tools/flux/index.ts
  src/cli/tools/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/versions.ts
  src/usr/local/containerbase/tools/v2/corepack.sh
  src/usr/local/containerbase/tools/v2/lerna.sh
  src/usr/local/containerbase/tools/v2/node.sh
  src/usr/local/containerbase/tools/v2/npm.sh
  src/usr/local/containerbase/tools/v2/pnpm.sh
  src/usr/local/containerbase/tools/v2/renovate.sh
  src/usr/local/containerbase/tools/v2/yarn-slim.sh
  src/usr/local/containerbase/tools/v2/yarn.sh
  test/node/Dockerfile
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  ce/376824eeac2db23a17e27b91928bd1e92af55f
Due: prettier --ignore-unknown --write

fix(golang): support v1.21+
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  80/3978dca26c3e40134f278cc23f3fddc3bd7353
Due: prettier --ignore-unknown --write

test: add more custom ca tests
  test/latest/Dockerfile
Due: prettier --ignore-unknown --write

test(latest): combine flaky ssl tests
  test/latest/Dockerfile
Due: prettier --ignore-unknown --write

test: add node test
  test/latest/Dockerfile
Due: prettier --ignore-unknown --write

feat(node): enable use-openssl-ca
  docs/custom-root-ca.md
  src/usr/local/containerbase/tools/v2/node.sh
  test/latest/Dockerfile
  test/latest/src/etc/nginx/sites-enabled/default
  tools/esbuild.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

feat(node): enable use-openssl-ca (#1291)
  docs/custom-root-ca.md
  src/usr/local/containerbase/tools/v2/node.sh
  test/latest/Dockerfile
  test/latest/src/etc/nginx/sites-enabled/default
  tools/esbuild.js
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

chore: downgrade prettier
  .prettierrc.json
  .yarn/sdks/prettier/package.json
  package.json
  test/node/test/b/package.json
  yarn.lock
Due: prettier --ignore-unknown --write

chore: always use trailing comma
  .prettierrc.json
  src/cli/command/download-file.ts
  src/cli/command/index.ts
  src/cli/command/install-tool.ts
  src/cli/command/prepare-tool.ts
  src/cli/command/utils.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.spec.ts
  src/cli/services/http.service.ts
  src/cli/services/path.service.ts
  src/cli/tools/dart/index.ts
  src/cli/tools/docker/index.ts
  src/cli/tools/flux/index.ts
  src/cli/tools/node/npm.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/common.ts
  src/cli/utils/hash.spec.ts
  src/cli/utils/hash.ts
  tools/esbuild.js
  tools/prepare-release.js
  tools/publish-release.js
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  c3/30cab7a4e2257e284c5d92858e654d38370a78
Due: prettier --ignore-unknown --write

fix(node): wrong checksum
  src/usr/local/containerbase/tools/v2/node.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  58/fa8659f836ef3b37b4a9dfbba2e19f0b73091b
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4c/4e6f1036cb08a72ddb8faecf343b6993374554
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  4b/12dcfba55671ccdfc0b2b27defb43b23c94a00
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  53/9b06fb6e919d6bf22084dff37ef9c59b7288ea
Due: prettier --ignore-unknown --write

fix(node): pass `use-openssl-ca` via cli instead of env
  src/usr/local/containerbase/tools/v2/node.sh
  src/usr/local/containerbase/utils/linking.sh
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  89/45e822c6a807fa91a12c5a6edf7aa90661ec22
Due: prettier --ignore-unknown --write

chore: improve linting
  .eslintrc.cjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write

test: better logger mock
  __mocks__/pino.ts
  test/global-setup.ts
  vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

test: allow vscode test debug
  .vscode/launch.json
Due: prettier --ignore-unknown --write

feat(cli): extend and document logger
  README.md
  src/cli/utils/logger.spec.ts
  src/cli/utils/logger.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(node): add bower tool
  src/cli/install-tool/index.ts
  src/cli/tools/node/npm.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix(cli): patch pino paths
  tools/esbuild.js
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  72/c38d5ccea2f25f4db192f12e72b7c03fe535d8
Due: prettier --ignore-unknown --write

feat(python): add checkov tool
  src/usr/local/containerbase/tools/v2/checkov.sh
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: shellcheck, prettier --ignore-unknown --write

Notes added by 'git notes add'
  a3/41e9d006c6d9ec139d3724f080f07917d6d6aa
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  2b/0f3bbbc2a2bddd17989a47f8c2ca0791ef73be
Due: prettier --ignore-unknown --write

fix: bower don't need to be prepared
  src/cli/tools/index.ts
Due: eslint --fix, prettier --ignore-unknown --write

Notes added by 'git notes add'
  90/e35a76f955dbd4105e630416e6e05da3246233
Due: prettier --ignore-unknown --write

feat(node): convert to javascript
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool-base.service.ts
  src/cli/services/compression.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/services/http.service.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/tools/index.ts
  src/cli/tools/node/index.ts
  src/cli/tools/node/utils.ts
  src/cli/utils/common.ts
  src/usr/local/containerbase/tools/v2/node.sh
  test/global-setup.ts
  test/path.ts
  test/types.d.ts
Due: shellcheck, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  shellcheck: ((any of: *.sh) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --ignore-unknown --write: any of: *
