Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, eslint --fix, prettier --write

move rye out of python since it will provide its own
  .github/workflows/build.yml
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/rye.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/python/Dockerfile
  test/python/Dockerfile.arm64
  test/rye/Dockerfile
  test/rye/Dockerfile.arm64
  test/rye/test/a/.python-version
  test/rye/test/a/pyproject.toml
  test/rye/test/a/requirements-dev.lock
  test/rye/test/a/requirements.lock
Due: shellcheck

fix some comments
  docs/custom-registries.md
  src/usr/local/containerbase/tools/v2/rye.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/python/Dockerfile
Due: shellcheck

Remove redundant prepare
  test/Dockerfile.jammy
Due: none

Remove redundant prepare
  test/python/Dockerfile.arm64
Due: none

feat: add rye
  renovate.json
  src/usr/local/containerbase/tools/v2/rye.sh
  test/Dockerfile.jammy
  test/Dockerfile.noble
  test/python/Dockerfile
  test/python/Dockerfile.arm64
Due: shellcheck

cleanup
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

fix: only clean caches on docker builds
  src/cli/install-tool/install-tool.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/usr/local/containerbase/utils/python.sh
Due: shellcheck, eslint --fix, prettier --write

feat!: redirect folders to `/opt/containerbase` (#2090)
  docs/custom-base-image.md
  src/cli/services/path.service.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/constants.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/linking.sh
  src/usr/local/sbin/install-containerbase
  test/bash/filesystem.bats
  test/bash/linking.bats
  test/bash/util.sh
  test/latest/Dockerfile
Due: shellcheck, eslint --fix, prettier --write

feat!: set `XDG_<xxxx>_HOME` variables (#2733)
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/latest/Dockerfile
Due: shellcheck

feat(java)!: redirect maven and gradle home
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  test/java/Dockerfile
Due: eslint --fix, prettier --write

feat(golang)!: change paths (#2727)
  src/usr/local/containerbase/tools/v2/golang.sh
Due: shellcheck

feat(cli): set `PUB_CACHE`
  src/cli/tools/dart/index.ts
  src/cli/tools/flutter.ts
Due: eslint --fix, prettier --write

feat(ruby)!: set cocoapods cache
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

feat(ruby)!: set cocoapods home and remove gem home
  src/usr/local/containerbase/tools/v2/ruby.sh
Due: shellcheck

feat!: redirect home
  src/usr/local/containerbase/bin/install-containerbase.sh
  src/usr/local/containerbase/utils/filesystem.sh
  src/usr/local/containerbase/utils/user.sh
  src/usr/local/containerbase/utils/v2/overrides.sh
  test/node/Dockerfile
Due: shellcheck

Notes added by 'git notes add'
  d88240f72a6ed83bd2c6108b0bdf24aa8c5c362d
Due: none

Notes added by 'git notes add'
  334ec24446c9f9bed4cfd0a7c6c265b72f48ac48
Due: none

feat(cdn): add config for `gem`, `npm` and `pip`
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --write

feat(cdn): add config for `gem`, `npm` and `pip` (#2767)
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/services/env.service.spec.ts
  src/cli/services/env.service.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/ruby/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7f269e94c45ebcf65c429c2eb4016539ffab5a64
Due: none

docs: add cdn docs
  docs/cdn.md
Due: none

fix(cli): drop node-tar and use native bsdtar
  package.json
  pnpm-lock.yaml
  src/cli/services/compression.service.spec.ts
  src/cli/services/compression.service.ts
Due: eslint --fix, prettier --write

fix userspace test
  test/rye/Dockerfile
Due: none

export tool env in link_tool
  src/usr/local/containerbase/tools/v2/rye.sh
Due: shellcheck

Update docs/cdn.md
  docs/cdn.md
Due: none

fix typo
  test/rye/Dockerfile.arm64
Due: none

fix(cli): drop node-tar and use native bsdtar (#2770)
  package.json
  pnpm-lock.yaml
  src/cli/services/compression.service.spec.ts
  src/cli/services/compression.service.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  85da6c044c99aa886349d656f6f46ee52f15633c
Due: none

Notes added by 'git notes add'
  880aa8f836ec69bfffe01c991b9a92c364cc3962
Due: none

Notes added by 'git notes add'
  93b6e5bb6e51ed13cae65ae884c55c42d0b913d3
Due: none

feat: add support for Elixir v1.17.0
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

fix: fix for Elixir < 1.14
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

fix: cough cough
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

fix: use OTP 25 for 1.14 <= x <= 1.16
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

fix: add back compability code for older elixir versions
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

Notes added by 'git notes add'
  695aeff80bc6579125e07560c84da39f427b6d18
Due: none

fix: maximize OTP compatibilite for 1.17
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

Notes added by 'git notes add'
  0c8e3100455b9de2da2b5d70769901cc798a5fac
Due: none

fix: add support for Elixir v1.17.0 (#2803)
  src/usr/local/containerbase/tools/v2/elixir.sh
Due: shellcheck

Notes added by 'git notes add'
  09024547b051f250c4875eb8d94fbe19b9a4e6c6
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  eslint --fix: any of: *.{js,ts,cjs,mjs}
  prettier --write: any of: *.{js,ts,cjs,mjs}
