Repository containerbase/base: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

fix: pip based tools parent is python
  src/cli/tools/python/utils.ts
Due: prettier --write, eslint --fix

fix: restore legacy version file write
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
Due: prettier --write, eslint --fix

fix: legacy tool already installed
  src/cli/install-tool/install-tool.service.ts
Due: prettier --write, eslint --fix

fix: run postinstall still required
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
Due: prettier --write, eslint --fix

feat(cli): add tool state databases (#4962)
  docs/databases.md
  package.json
  pnpm-lock.yaml
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/services/data.service.spec.ts
  src/cli/services/data.service.ts
  src/cli/services/index.ts
  src/cli/services/path.service.spec.ts
  src/cli/services/path.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
  src/cli/tools/java/gradle.ts
  src/cli/tools/java/index.ts
  src/cli/tools/java/maven.ts
  src/cli/tools/node/utils.ts
  src/cli/tools/php/composer.ts
  src/cli/tools/python/utils.ts
  src/cli/tools/ruby/utils.ts
  src/cli/utils/codes.ts
  src/usr/local/containerbase/utils/filesystem.sh
  test/latest/Dockerfile
Due: shellcheck, markdownlint-cli2 --fix, prettier --write, eslint --fix

Notes added by 'git notes add'
  044ee7252853ddf3b232a5d8f964d96754250b48
Due: none

fix(cli): tool init file needs to be owned by user
  src/cli/services/path.service.ts
Due: prettier --write, eslint --fix

refactor(cli): move v2 tool loginc to cli
  package.json
  patches/nano-spawn.patch
  pnpm-lock.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/base-prepare.service.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/index.ts
  src/cli/services/v2-tool.service.ts
  src/usr/local/containerbase/bin/init-tool.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/containerbase/bin/v1-install-tool.sh
  src/usr/local/containerbase/bin/v2-install-tool.sh
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/init.sh
  src/usr/local/containerbase/utils/prepare.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
  test/bash/prepare.bats
  test/latest/Dockerfile
Due: shellcheck, prettier --write, eslint --fix

refactor(cli): move more legacy v2 tool logic to cli (#5003)
  package.json
  patches/nano-spawn.patch
  pnpm-lock.yaml
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-legacy-tool.service.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/prepare-tool/base-prepare.service.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/prepare-tool/index.ts
  src/cli/prepare-tool/prepare-legacy-tools.service.ts
  src/cli/prepare-tool/prepare-tool.service.ts
  src/cli/services/index.ts
  src/cli/services/v2-tool.service.ts
  src/usr/local/containerbase/bin/init-tool.sh
  src/usr/local/containerbase/bin/install-tool.sh
  src/usr/local/containerbase/bin/prepare-tool.sh
  src/usr/local/containerbase/bin/v1-install-tool.sh
  src/usr/local/containerbase/bin/v2-install-tool.sh
  src/usr/local/containerbase/util.sh
  src/usr/local/containerbase/utils/init.sh
  src/usr/local/containerbase/utils/prepare.sh
  src/usr/local/containerbase/utils/v2/defaults.sh
  test/bash/prepare.bats
  test/latest/Dockerfile
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  78b45341d7fe5ea6fdd11b51e81b3fdf2c945c21
Due: none

fix(cli): set default path for prepare tool
  src/cli/command/prepare-tool.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  26628071e10f84da39e4924262fae17a67b5dd0a
Due: none

feat(cli): move shell wrapper logic to cli
  src/cli/command/index.ts
  src/cli/command/link-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/install-tool/link-tool.service.ts
  src/usr/local/containerbase/utils/linking.sh
  test/bash/linking.bats
Due: shellcheck, prettier --write, eslint --fix

test: coverage
  src/cli/command/link-tool.spec.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/link-tool.service.ts
  src/cli/install-tool/link-tool.spec.ts
Due: prettier --write, eslint --fix

feat(cli): move shell wrapper logic to cli (#5004)
  src/cli/command/index.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/link-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.spec.ts
  src/cli/install-tool/link-tool.service.ts
  src/cli/install-tool/link-tool.spec.ts
  src/usr/local/containerbase/utils/linking.sh
  test/bash/linking.bats
Due: shellcheck, prettier --write, eslint --fix

Notes added by 'git notes add'
  8b266fd15ea5fb971255361f4a53909fcac3c775
Due: none

adds opentofu as tool
  src/usr/local/containerbase/tools/v2/opentofu.sh
Due: shellcheck

Notes added by 'git notes add'
  1fe683b79ff666b67a1b56c443c43d37ff20217b
Due: none

Notes added by 'git notes add'
  1f3374f4120b886344492d4367ba8c0358e60c83
Due: none

chore(renovate): use docker versioning
  test/Dockerfile.distro
  test/latest/Dockerfile
  test/latest/Dockerfile.arm64
Due: none

test: improve coverage
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.spec.ts
  src/cli/install-tool/link-tool.service.spec.ts
  src/cli/prepare-tool/index.spec.ts
  src/cli/services/path.service.spec.ts
Due: prettier --write, eslint --fix

refactor(cli): simplify command registration
  src/cli/command/index.spec.ts
  src/cli/command/index.ts
  src/cli/command/install-tool.spec.ts
  src/cli/utils/codes.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
Due: prettier --write, eslint --fix

refactor(cli): simplify command registration (take 2)
  src/cli/command/cleanup-path.ts
  src/cli/command/file-download.ts
  src/cli/command/file-exists.ts
  src/cli/command/index.spec.ts
  src/cli/command/index.ts
  src/cli/command/init-tool.ts
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-pip.ts
  src/cli/command/install-tool.ts
  src/cli/command/link-tool.ts
  src/cli/command/prepare-tool.ts
  src/cli/command/utils.ts
Due: prettier --write, eslint --fix

refactor(cli): simplify command registration (take 3)
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/file-download.spec.ts
  src/cli/command/file-exists.spec.ts
  src/cli/command/index.spec.ts
  src/cli/command/index.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/utils.ts
  src/cli/main.ts
  src/cli/utils/codes.ts
Due: prettier --write, eslint --fix

refactor(cli): simplify command registration (take 4)
  src/cli/main.ts
Due: prettier --write, eslint --fix

refactor(cli): simplify command registration (#5024)
  src/cli/command/cleanup-path.spec.ts
  src/cli/command/cleanup-path.ts
  src/cli/command/file-download.spec.ts
  src/cli/command/file-download.ts
  src/cli/command/file-exists.spec.ts
  src/cli/command/file-exists.ts
  src/cli/command/index.spec.ts
  src/cli/command/index.ts
  src/cli/command/init-tool.spec.ts
  src/cli/command/init-tool.ts
  src/cli/command/install-gem.spec.ts
  src/cli/command/install-gem.ts
  src/cli/command/install-npm.spec.ts
  src/cli/command/install-npm.ts
  src/cli/command/install-pip.spec.ts
  src/cli/command/install-pip.ts
  src/cli/command/install-tool.spec.ts
  src/cli/command/install-tool.ts
  src/cli/command/link-tool.spec.ts
  src/cli/command/link-tool.ts
  src/cli/command/prepare-tool.spec.ts
  src/cli/command/prepare-tool.ts
  src/cli/command/utils.ts
  src/cli/main.ts
  src/cli/utils/common.spec.ts
  src/cli/utils/common.ts
  src/cli/utils/index.spec.ts
  src/cli/utils/index.ts
  src/cli/utils/types.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  15d1d52069d66578549703fd7372adeb96a1bc12
Due: none

refactor(cli): renamings
  docs/databases.md
  src/cli/install-tool/install-tool.service.ts
  src/cli/services/data.service.ts
  src/cli/services/version.service.spec.ts
  src/cli/services/version.service.ts
Due: markdownlint-cli2 --fix, prettier --write, eslint --fix

chore: fix html coverage report
  src/cli/install-tool/install-tool.service.ts
  src/cli/utils/common.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  801de4061cb57472bb59195998b2f7bfdb49f4ef
Due: none

Notes added by 'git notes add'
  2e89ad810c6847f1d9d1dca6a99c05f36463e200
Due: none

test: use custom html coverage reporter
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e618b7d846d97e7611b40c42f62421c42c181e7f
Due: none

Notes added by 'git notes add'
  8f3620f94a5baaf5d596c5dcc5bea39db93fd2a4
Due: none

chore: cleanup
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: none

feat(cli): add `uninstall-tool` command
  src/cli/command/index.ts
  src/cli/command/uninstall-gem.spec.ts
  src/cli/command/uninstall-gem.ts
  src/cli/command/uninstall-npm.spec.ts
  src/cli/command/uninstall-npm.ts
  src/cli/command/uninstall-pip.spec.ts
  src/cli/command/uninstall-pip.ts
  src/cli/command/uninstall-tool.spec.ts
  src/cli/command/uninstall-tool.ts
  src/cli/install-tool/base-install.service.ts
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/index.ts
  src/cli/install-tool/install-tool.service.ts
  src/cli/tools/__mocks__/bun.ts
  src/cli/tools/php/__mocks__/composer.ts
  src/cli/utils/types.ts
  src/usr/local/containerbase/bin/install-containerbase.sh
  test/di.ts
  test/latest/Dockerfile
Due: shellcheck, prettier --write, eslint --fix

fix: add exit codes
  src/cli/install-tool/install-tool.service.ts
  src/cli/utils/codes.ts
Due: prettier --write, eslint --fix

feat: check if child tool requires this version
  src/cli/install-tool/index.spec.ts
  src/cli/install-tool/install-tool.service.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  65d912b5ed9d486100becfb16c331f74f8e1a5f1
Due: none

Notes added by 'git notes add'
  d3d56a9f2f2105205e4168fb705d8e79c0c18c45
Due: none

Path conditions:
  shellcheck: ((((any of: *.sh) or (any of: *.bats)) or (any of: .husky/*)) or (any of: src/usr/local/bin/*)) or (any of: src/usr/local/containerbase/bin/*)
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: (any of: *.md) or (any of: *.{js,ts,cjs,mjs})
  eslint --fix: any of: *.{js,ts,cjs,mjs}
